<div class="main-display" xmlns="http://www.w3.org/1999/html">
    <div class="container container-fluid">
        <div class="row col-md-12 main-content" style="padding: 0px;">
            <div class="col-md-4 logo">
                <a href="/">
                    <img src="/images/logo.png" class="img-logo img-responsive">
                </a>
            </div>
            <div id="resetPwdContainer"
                 class="col-md-6 apple-app"
                 style="padding-right: 0px;padding-left:26px;min-height: 440px;">
                <div class="row col-xs-12" style="padding: 0px;background-color: #ffffff;">
                    <div class="row col-xs-12"
                         style="font-size: 22px;margin-top: 70px;padding-left:45px;height:60px;">
                        Forget your password?
                    </div>
                    <div class="row col-xs-12" style="font-size: 16px;color: #808080;padding-left:45px;height:60px;">
                        Please enter the email you used to sign into 5miles.
                    </div>
                    <div class="row col-xs-12 text-center">
                        <input id="form_password" type="text" class="form-control input-lg" placeholder="email" style="height: 60px;"/>
                    </div>
                    <div class="row col-xs-12 text-center" style="margin-top: 30px;">
                        <button id="resetEmail" class="col-xs-12 btn-orange" type="button" style="font-size: 24px;font-weight: normal;">
                            Reset
                        </button>
                    </div>
                    <div class="row col-xs-12 text-center" style="height: 80px;">
                        <h3 id="resetButtonTip" class=""></h3>
                        <div id="resetButtonLoad" class="spinner-wave" style="display: none;margin-top: 10px;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>