<!DOCTYPE html>
<html>
<head>
    <title>5miles - Forget your password?</title>

    <meta name="keywords"
          content="5miles,5milesapp,auction,buy and sell,classifieds,offer,used,online shopping,secondhand,amazon, walmart, bestbuy, target, ebay, gumtree, craigslist, poshmark, vinted, olx, stuffle, shpock, wallapop">
    <meta name="description"
          content="5miles is the fun, free and easy mobile app to buy, sell and explore within your city. Open your pocket shop and discover amazing local items & services. ">
    <% include ../head.ejs %>
</head>

<body ng-app="layout" class="bodyOrange layout_pub _gaPageView" data-pageview="resetpassword_view">

<%- body %>

<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/js/reset/reset.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
</body>
</html>

