<style>
body {font-size:16px;}
.boldAndLine {font-weight:bold;text-decoration: underline;}
.center {text-align:center;}
.bold {font-weight:bold;}
._title {font-size: 34px;margin: 70px 0px 34px;}
.italicAndLine {font-style:italic;text-decoration: underline;}
._body {max-width: 800px;margin: 0px auto;padding:0px 20px;padding-bottom:30px;
    text-align:justify;
    text-justify:distribute-all-lines;/*ie6-8*/
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/}
._body a {text-decoration: underline;}
.down {display:block;text-decoration:none !important;color:white;line-height:40px;
    text-align:center;background-color: #ff8a30;width: 226px;height: 40px;margin: 54px auto;}
.down:hover,.down:active {color: #f2f2f2;}
@media screen and (max-width: 676px) {
._title {font-size: 24px;margin: 40px 0px 24px;}
}
</style>
<div class="_body">
    <p class="bold center _title">"5miles Bus Giveaway Rules"</p>
    <p>Our “5miles Bus Giveaway” is open to legal U.S residents who are 18 years of age or older and who have legally downloaded the 5miles application. The application is free to download via <a href="http://5miles.us/bus">5miles.us/bus</a> or the Google Play or App Store, however data charges may apply. Only users that download via 5miles.us/bus and take any and all such further actions required by 5miles will be eligible to win. Incomplete entries are not eligible to win. Odds of winning are dependent on the number of eligible entries received. The winner will be selected at random.
        The entry submission deadline date is November 30, 2015 at 11:59pm CST.</p>
    <p>5miles will notify the winning person by telephone and/or email no later than December 31, 2015 at 11:59pm CST. Contestants will be required to verify their email or phone number prior to notification deadline. Prizes will be awarded no later than January 31, 2016 at 11:59pm CST.</p>
    <p>Prizes will be awarded via prepaid gift card or similar means as determined at the sole discretion of 5miles, LLC. Winner will be responsible for all third-party incurred costs associated with redemption of gift card or similar prize and any applicable taxes, fees or other charges.</p>
    <p>Prize does not include the promise of any future services from 5miles, LLC.</p>
    <p>5miles, LLC reserves the right to publicize the names of the contest winners in its respective PR, marketing, and social media content along with results and all other contest incidentals. The winning entrants may be announced on 5miles’ website, blog, plus any traditional and social media releases. Winners agree to such publicity and promotion by accepting the prize.</p>
    <p>5miles, LLC reserves the right to disqualify any company or person tampering with the operation or conduct of the contest, including misrepresenting facts about any individual or organization.</p>
    <p>No purchase is necessary. This contest is void where prohibited.</p>
    <p>5miles, LLC will not be responsible for issues out of its control, e.g. mobile specs, mobile service provider issues, technical issues, email problems, etc.</p>


    <p>All prizes will be awarded. No substitution or cash equivalents. If you have any questions about the contest which are not answered here, please contact 5miles, LLC at 214-379-7450 or at <a href="mailto:marketing@wespoke.com" target="blank">marketing@wespoke.com</a>.</p>
    <p>
        <a class="down" href="http://5miles.us/bus">Download 5miles</a>
    </p>
</div>