<!DOCTYPE html>
<html>
<head>
    <title>Delete account</title>
    <meta name="description"
          content="5miles delete account"/>
    <% include ../head.ejs %>
</head>
<body ng-app="app" class="">
<% include ../pub/banner.ejs %>

<% include ../account/account.ejs %>

<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/account/account.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
</body>
</html>
