<div class="container account" ng-controller="accountCtrl">
    <div class="row">
        <p class="ac_title">
            <strong>Goodbyes are always sad, but we really hope to see you again soon.</strong>
        </p>
        <p class="ac_sub_title">
            Before you deactivate <strong><%= nick %></strong>, please read this:
        </p>
        <p>
            <strong class="ac_sub_title">Once deactivated:</strong>
            <ul class="ac_ul" style="list-style: decimal">
                <li>We will never contact you or send any more notifications.</li>
                <li>
                    Your account should be removed from 5miles within a few minutes. All items will be unlisted.
                </li>
                <li>
                    Your historical data (messages, notifications, reviews and reports) will be stored.
                </li>
                <li>
                    Your login information (Facebook, email, password) will be stored.
                </li>
            </ul>
        </p>

        <p>
            <strong>To reactivate your account:</strong> Just login again (or retrieve your password).
            <input class="ac_nick" type="text" readonly value="<%= nick %>" placeholder="Nickname"/>
            <textarea id="ac_con" class="ac_con" rows="6" placeholder="If there is anything we can do to improve your 5miles experience, please let us know!"></textarea>
        </p>
        <div class="ac_btn_de_par col-xs-12 col-md-6">
            <button class="ac_btn ac_deactive" ng-class="{'ac_cancel':deactivateFlag}" ng-click="submit($event)">Deactivate</button>
        </div>
        <div class="ac_btn_can_par col-xs-12 col-md-6">
            <button class="ac_btn ac_cancel" ng-click="cancel($event)">Cancel</button>
        </div>
        <p>
            <label class="ac_tip" ng-bind="returnTip"></label>
        </p>
    </div>
</div>
