<%
dcj = "";
if (typeof categoryDataJson !== 'undefined' ) {
    dcj = categoryDataJson;
}%>
<div class="banner categoryDataJson" ng-controller="BannerController" data-category-json="<%=: dcj | json %>">
    <div class="searchBlock_par">
        <div class="container searchBlock fixed1080" >
            <div class="row searchBlock_row">
                <div class="col-xs-6 col-sm-2 text-left" style="position: relative;">
                    <a href="/" target="_self" class="banner_logo_top" ng-click="logoClick($event)">
                        <img src="/images/logoOrange_nosub.png?x=1" class="searchBlock_logo"/>
                    </a>
                    <a href="/category-mb" target="_self" class="categoryMb_icon" ng-click="categoryMobileIcon($event)">&nbsp;</a>
                </div>
                <div class="col-sm-5">
                    <input id="searchKeyword" class="searchBlock_input hidden-xs hidden-sm" ng-model="searchKeyword" type="search"
                           style="width: 70%;" placeholder="Search for items" ng-keypress="doKeyPress($event)" list="pasta"/>

                    <span id="searchSubmit" class="searchBlock_submit hidden-xs hidden-sm" ng-click="searchSubmit($event)">&nbsp;</span>
                </div>

                <div class="col-xs-6 col-sm-5 banner_user_block">
                    <!--banner user info begin pc -->
                    <div class="banner_user">
                        <div class="hide" ng-class="{'show':(login_user_name.length > 0)}">
                            <span class="banner_sell" ng-click="sell($event)">&nbsp;</span>
                            <span class="banner_login_split">&nbsp;</span>
                            <a class="banner_new_message" href="/my_message" ng-mousedown="message($event)">&nbsp;</a>
                            <span class="banner_msg_number ng-hide" ng-show="msgTotalShow" ng-bind="msgTotal"></span>
                            <span class="banner_login_split">&nbsp;</span>
                            <div class="banner_user_con" ng-class="{'banner_user_active':showLoginFlag}"
                                 ng-mouseenter="showLoginFlag = true" ng-mouseleave="showLoginFlag = false">
                                <img class="banner_user_img" ng-src="{{login_user_img}}"
                                     onerror="this.onerror=null;this.src='/images/common/person-head_def.png';"/>
                                <span ng-bind="login_user_name_show" class="banner_user_name" ng-click="showLoginInfo($event)"></span>
                                <div class="banner_user_info" ng-class="{'show':showLoginFlag}">
                                    <div class="banner_user_arrow_line">
                                        <div class="banner_user_line banner_user_line_border" ng-click="myProfile($event,login_user_id)">
                                            My profile
                                        </div>
                                    </div>
                                    <div class="banner_user_line banner_user_line_border" ng-click="feedbackShow($event)">
                                        Feedback
                                    </div>
                                    <div class="banner_user_line" ng-click="logout($event)">Logout</div>

                                </div>
                            </div>
                        </div>
                        <div class="hide" ng-class="{'show':(login_user_name.length == 0)}">
                            <span class="banner_sell" ng-click="sell($event)">&nbsp;</span>
                            <span class="banner_login_split">&nbsp;</span>
                            
                            <span class="banner_login banner_login_sign" ng-click="userLogin($event)">&nbsp;</span>
                            <span class="banner_login banner_login_reg" ng-click="userSign($event)" >&nbsp;</span>
                        </div>

                    </div>

                    <!--banner user info  mobile -->
                    <div class="banner_user_mb">
                        <div class="banner_login_mb">
                            <a target="_self" href="/item/uploadView" class="banner_login_mb_down_a" ng-click="topSellNowMb($event)">
                                <span class="banner_login_mb_down"></span>
                            </a>

                            <span class="banner_login_split ng-hide" ng-show="login_user_name.length > 0">&nbsp;</span>

                            <a class="banner_new_message ng-hide" ng-show="login_user_name.length > 0" href="/my_message">&nbsp;<span class="banner_msg_number ng-hide" ng-show="msgTotalShow" ng-bind="msgTotal"></span></a>
                            <span class="banner_login_split">&nbsp;</span>
                            <div class="banner_login_mb_join_par">

                                <div class="banner_login_mb_join" ng-click="toSignPage($event)" ng-class="{'show':login_user_name.length == 0}"></div>
                                <div class="ng-hide" ng-show="login_user_name.length > 0" ng-click="showLoginInfo_mb_list($event)">
                                     <img class="banner_user_portrait_mb ng-hide"  ng-show="login_user_name.length > 0" ng-src="{{login_user_img}}">
                                </div>

                                <div class="banner_login_mb_pop" ng-class="{'show':showLoginFlag_mb_list && (login_user_name.length == 0)}">
                                    <div class="banner_user_line banner_user_line_border">
                                        <span class="banner_login" ng-click="userLogin($event)" ng-class="{'hide':(login_user_name.length > 0)}">Login</span>
                                    </div>
                                    <div class="banner_user_line">
                                        <span class="banner_login" ng-click="userSign($event)" ng-class="{'hide':(login_user_name.length > 0)}">Sign up</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner_user_info" ng-class="{'show':showLoginFlag_mb_list && (login_user_name.length > 0)}">
                            <div class="banner_user_arrow_line">
                                <div class="banner_user_line banner_user_line_border" ng-click="myProfile($event,login_user_id)">
                                    My Profile
                                </div>
                            </div>

                            <div class="banner_user_line banner_user_line_border" ng-click="feedbackShow($event)">
                                Feedback
                            </div>
                            <div class="banner_user_line" ng-click="logout($event)">Logout</div>
                        </div>

                    </div>
                    <!--banner user info end -->
                </div>

            </div>
        </div>
    </div>

    <div class="searchBlock_input_mb_par fixed1080">
        <form>
            <input id="searchKeyword_mb" class="searchBlock_input_mb" ng-model="searchKeyword" type="text"
                   style="width: 100%" placeholder="Search for items" ng-keypress="doKeyPress($event)" list="pasta">
        </form>
        <span class="searchBlock_input_mb_search" ng-click="searchSubmit($event)"></span>
    </div>
    <div class="aListCon">
        <datalist id="pasta" class="pasta">
            <% include dataList.ejs%>
        </datalist>
    </div>
    <!-- the pop model: feedback -->
    <div class="modal fade" id="banner_feedback_modal" tabindex="-1">
        <div class="modal-dialog item_modal_dialog">
            <div class="modal-content item_modal_content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="feedbackHide($event)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body" style="padding: 30px;">
                    <div class="form-group">
                        <label class="banner_feedback_title">Please leave your feedback</label>
                        <textarea id="feedback_body" class="form-control item_modal_input item_ask_input-margin item_modal_textarea" placeholder="Enter your feedback here..."
                                  rows="4" id="message-text"></textarea>
                        <button type="button" class="btn com_btn_orange_normal item_ask_input-margin com_btn_orange_normal--fix" ng-click="feedbackSubmit($event)">Send
                            <span class="loader-icon loader-icon__gray upload_list_more_load" ng-if="banner_submit_load_flag"></span>

                        </button>
                        <button type="button" class="btn com_btn_gray_normal item_ask_input-margin com_btn_orange_normal--fix" data-dismiss="modal" ng-click="feedbackHide($event)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- the pop model: tip -->
    <div class="modal fade" id="banner_msg_modal" tabindex="-1">
        <div class="modal-dialog item_modal_dialog item_msg_dailog">
            <div class="modal-content item_modal_content">
                <div class="modal-header item_modal_header item_modal_header--msg">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body item_modal_body-msg">
                    <div class="form-group">
                        <p class="item_modal_msg_tip text-center" ng-bind="modal_banner_body"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


