<% if (typeof categoryDataArray !== 'undefined') {%>
<div class="banner_category_par" ng-controller="CategoryController">
    <div class="banner_category_container fixed1080" ng-click="category($event)">
        <%
        categoryDataArray.forEach(function(item, index){
        if (index < 9) {%>
            <a href="/search/<%=: item.title | downcase | replaceCate %>/?category=<%=item.id%>" target="_self" class="banner_category_item banner_category_item_out" alt="<%=item.title%>" title="<%=item.title%>">
                <%=item.title%>
            </a>
        <%} else {
            if (index == 9) {%>
            <a id="" class="banner_category_item banner_category_item_out" alt="Click for more" title="Click for more" ng-click="categoryTrigger($event)">
            More
            </a>
            <div class="banner_category_more hide" ng-class="{'show':categoryShowFlag}">
                <ul id="banner_category_ul" class="banner_category_ul">
                    <div id="banner_category_moreItem"></div>

            <%}%>
            <li>
                <a href="/search/<%=: item.title | downcase | replaceCate %>/?category=<%=item.id%>" target="_self" class="banner_category_item banner_category_item_inner" alt="<%=item.title%>" title="<%=item.title%>">
                    <%=item.title%>
                </a>
            </li>
        <%}
        })
        %>

                </ul>
            </div>
    </div>
</div>
<%}%>