/** service **/
.lines{font-size: 16px;font-family: Helvetica Neue, Helvetica, Arial;}
.line_block {
    display: flex;
    display: -webkit-flex;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px #d3d3d3 solid;
}
.line_block:last-child {
    border-bottom: none;
}
.line_block:active {
    background-color: #f0f0f0;
}
.line_li {
    display: list-item;
    list-style-type:none;
    height: 62px;
    line-height: 62px;
}
.line_li_img {
    margin-right: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 52px;
}
.line_img {
    width: 20px;
    height: 20px;
    background:url("../../../images/common/item_sold.png") no-repeat center center;
    background-size: 20px;
    -webkit-transform-style: preserve-3d;
    /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.line_img_9 {background-image:url("../../../images/common/person_star_orange.png");}
.line_img_10 {background-image:url("../../../images/common/person_star_orange.png");}
.line_img_11 {background-image:url("../../../images/common/person_star_orange.png");}
.line_img_12 {background-image:url("../../../images/common/person_star_orange.png");}
.line_img_17 {background-image:url("../../../images/common/person_star_orange.png");}
.line_img_19 {background-image:url("../../../images/common/person_star_orange.png");}

.line_title {}
/** review **/
.review {}
.review_tab {width: 100%;float:left;height:62px;line-height:62px;border-bottom: 1px #d3d3d3 solid;}
.review_tab_buy {width: 50%;float: left;text-align: center;}
.review_tab_sell {width: 50%;float: left;text-align: center;}
.review_item {width: 100%;display: flex;display: -webkit-flex;
    border-bottom: 1px #e0e0e0 solid;padding: 6px 0px;}
.review_item_img {
    width: 50px;height: 50px;border: 1px red solid;
    background:url("../../../images/common/item_sold.png") no-repeat center center;
    background-size: 30px;}
.review_item_con {position: relative;}
.review_name_bar {}
.review_item_time {position: absolute;right: 8px;top: 5px;}

.review_item_ref {background-color: #f0f0f0;display: flex;display: -webkit-flex;}
.review_ref_bar {display: flex;display: -webkit-flex;}
.review_ref_body {}
.review_ref_img {width: 50px;height: 50px;border: 1px red solid;
    background:url("../../../images/common/item_sold.png") no-repeat center center;
    background-size: 30px;}