<!DOCTYPE html>
<html>
<head>
    <title><%=item.title%></title>
    <meta property="og:title" content="<%=item.title%>"/>
    <meta property="og:description" content="<%=item.desc%>"/>
    <meta property="og:image" content="<%= item.images[0].imageLink ? item.images[0].imageLink:item.images %>"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="5miles"/>
</head>
<body>
<p>
    <img src="<%= item.images[0].imageLink ? item.images[0].imageLink:item.images %>"/>
    <h1><%=item.title%></h1>
    <p><%=item.desc%></p>
</p>
</body>
</html>
