<div ng-controller="itemUpload" class="_gaPageView" pageview="sellh5_view">
    <% include ../pub/banner.ejs %>
    <div class="itemUploadPage">
        <div id="itemUpload" class="container itemUpload">
            <div class="row itemUpload_new">
                <form enctype="multipart/form-data" id="myform" method="post">
                    <div class="row col-xs-12">
                        <div class="upload_form_head"></div>
                        <!--<a href="javascript:void(0);" class="login_sign_href upload_logout" ng-click="doLogout($event)">Logout</a>-->
                    </div>
                    <div class="row col-xs-12 upload_form_images">
                        <!--<div class="upload_img_block">-->
                            <!--<img id="previewImg" class="upload_img" src=""/>-->
                            <!--<div class="upload_img_block_delete" ng-click="uploadImgBlockDelete($event,link)"></div>-->
                        <!--</div>-->
                        <div id="upload_add_con" class="upload_img_block">
                            <div class="ajax-wrapper upload_img_add">
                                <span class="btn fileinput-button" style="">
                                 <input id="file" name="file" type="file"
                                       accept="image/*" capture
                                       class="cloudinary-fileupload" data-cloudinary-field="image_id"
                                       data-url="<%= cloudinary_upload_url %>"
                                       data-form-data='{"timestamp":"<%= timestamp %>",
                                       "callback": "<%= callback %>",
                                       "signature":"<%= signature %>",
                                       "api_key":"<%= api_key %>"}' ng-click="takephoto($event)"/>
                                </span>
                                <input id="image_id" name="image_id" type="hidden" value=""/>
                            </div>
                            <div id="progress" class="progress" style="display: none;">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <div id="files" class="files"></div>
                        </div>
                        <label id="images_req_flag" class="text-require" ng-if="images_req_flag" ng-bind="'* Required'"></label>
                    </div>
                    <div class="row col-xs-12">
                            <input id="title" type="text" class="upload_inputCom" placeholder="What you are selling?"/>
                            <label  class="text-require" ng-show="title_req_flag" ng-bind="'* Required'"></label>
                    </div>
                    <div class="row col-xs-12">
                        <div class="upload_inputCom">
                            <div class="col-xs-4 upload_form_previous">
                                Category
                            </div>
                            <div class="col-xs-8">
                                <select id="category" ng-click="selectcategory($event)">
                                    <option id="default" selected="selected">Select a Category</option>
                                    <%
                                    categoryDataArray.forEach(function(item, index){%>
                                        <option id="<%=item.id%>"><%=item.title%></option>
                                    <%})%>
                                </select>
                            </div>
                        </div>
                        <label class="text-require" ng-if="category_req_flag" ng-bind="'* Required'"></label>
                    </div>
                    <div class="row col-xs-12">
                        <div class="upload_inputCom">
                            <div class="col-xs-4 upload_form_previous">
                                Delivery
                            </div>
                            <div class="col-xs-8">
                                <select id="delivery" ng-click="selectdelivery($event)">
                                    <option id="3" selected="selected">Local exchange or Shipping</option>
                                    <option id="1">Local exchange</option>
                                    <option id="2">Shipping</option>
                                </select>
                            </div>
                        </div>
                        <label class="text-require" ng-if="category_req_flag" ng-bind="'* Required'"></label>
                    </div>
                    <div class="row col-xs-12">
                        <div class="upload_inputCom">
                            <div class="col-xs-4 upload_form_previous">
                                <select id="currency" ng-click="selectcurrency($event)">
                                    <option id="ARS">ARS</option>
                                    <option id="AUD">AUD</option>
                                    <option id="BYR">BYR</option>
                                    <option id="BDT">BDT</option>
                                    <option id="BRL">BRL</option>
                                    <option id="CAD">CAD</option>
                                    <option id="CLP">CLP</option>
                                    <option id="CNY">CNY</option>
                                    <option id="EGP">EGP</option>
                                    <option id="EUR">EUR</option>
                                    <option id="INR">INR</option>
                                    <option id="IDR">IDR</option>
                                    <option id="IRR">IRR</option>
                                    <option id="JPY">JPY</option>
                                    <option id="MYR">MYR</option>
                                    <option id="MXN">MXN</option>
                                    <option id="NZD">NZD</option>
                                    <option id="NGN">NGN</option>
                                    <option id="PKR">PKR</option>
                                    <option id="PHP">PHP</option>
                                    <option id="RUB">RUB</option>
                                    <option id="ZAR">ZAR</option>
                                    <option id="THB">THB</option>
                                    <option id="TRY">TRY</option>
                                    <option id="UAH">UAH</option>
                                    <option id="GBP">GBP</option>
                                    <option id="USD" selected="default">USD</option>
                                    <option id="VND">VND</option>
                                </select>
                            </div>
                            <div class="col-xs-8">
                                <input id="price" class="upload_form_price" ng-blur="validatePrice($event)" type="number" placeholder="Price"/>
                            </div>
                        </div>
                        <label class="text-require" ng-if="price_req_flag" ng-bind="'* Required (need number)'"></label>
                    </div>
                    <div class="row col-xs-12">
                        <textarea id="description" class="upload_textArea" placeholder=" "></textarea>
                    </div>
                </form>

                <div class="row col-xs-12">
                    <input type="button" class="upload_list_now" ng-click="formUpload($event)"/>
                    <div style="position: absolute;bottom: 12px;left: 50px;">
                        <div class="spinner-wave" ng-if="upload_load_flag">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
