<!DOCTYPE html>
<html>
<head>
    <title>Sell Used Items FAST with 5miles! List Now!</title>
    <meta name="keywords"
          content="sell,sell my,sell fast,sell the">
    <meta name="description"
          content="Sell used and secondhand items on 5miles and earn cash fast! As Your Mobile Marketplace, you can auction and/or sell from the safety of your own home.">
    <% include ../head.ejs %>
    <!--[if lte IE 9]>
    <style type="text/css">
        .cloudinary-fileupload {
            font-size: 30px;cursor: pointer;opacity: 0;
        }
    </style>
    <![endif]-->
</head>

<body ng-app="app" class="">

<% include itemUpload.ejs %>

<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/dependencies/jquery.d.ui.widget.js"></script>
<script src="/js/dependencies/jquery.e.iframe-transport.js"></script>
<script src="/js/dependencies/jquery.fileupload.js"></script>
<script src="/js/dependencies/jquery.g.cloudinary.js"></script>
<script src="/js/dependencies/cloudinary/load-image.min.js"></script>
<script src="/js/dependencies/cloudinary/canvas-to-blob.min.js"></script>
<script src="/js/dependencies/cloudinary/jquery.fileupload-process.js"></script>
<script src="/js/dependencies/cloudinary/jquery.fileupload-image.js"></script>
<script src="/js/dependencies/cloudinary/jquery.fileupload-validate.js"></script>
<script src="/js/item/itemUpload.js"></script>
<!--5MILES_SCRIPTS END-->
<% include ../footer.ejs %>
</body>
</html>
