<div class="row crumb fixed1080 hidden-xs hidden-sm">
    <div class="container">
      <!--breadcrumbs-->
      <a href="/" ng-click="crumb_home(event);">Home</a>&nbsp;>&nbsp;
         <% if (item.cat_info) {%>
            <a href="/search/?category=<%=item.cat_info.id%>" ng-click="crumb_category(event);"><%=item.cat_info.title%></a>&nbsp;>&nbsp;
         <%}%>
      <%=: item.title | truncate:40%><%if(item.title.length>40){%>...<%}%>
    </div>
</div>
<div id="item_container" data-pageview="product_view" ng-controller="itemController" class="container fixed1080 text-center _gaPageView">
    <div class="row">
        <div class="col-xs-12 col-md-8 item_main"><!--main begin-->
            <!--product desktop-->
            <input id="mediaLink" type="hidden" value="<%= item.mediaLink %>">
            <div class="row item_images item_block_box_shadow">
                <!--images-->
                <div style="position: relative;">
                    <% if (!mobile) {%>
                        <!--product images-->
                        <div class="item_product item_product_show">
                            <div class="item_product_par"><div class="loader-icon item_product_load"></div></div>
                            <% item.images.forEach(function(img,index){
                                srcUrl = img;
                                originWidth = img.width;
                                if (img.imageLink) {
                                    srcUrl = img.imageLink;
                                }
                            %>
                           <div class="one-item" style="position: relative;">
                                <img class="item_product_img" src="<%=: srcUrl | thumbScale:800 | clipSize:originWidth %>" title="<%= item.title %>"
                                     alt="<%= item.title %>"/>
                                <% if (item.state == 1 || item.state == 2 || item.state == 3) {%>
                                    <div class="item_status item_status_sold"></div>
                                <% } else if (item.state == 4) { %>
                                    <div class="item_status item_status_unapprove"></div>
                                <% } else if (item.state == 5) { %>
                                    <div class="item_status item_status_unavailable"></div>
                                <% } %>
                           </div>
                           <% }) %>
                        </div>
                    <%}%>
                    <!--product mobile images-->
                    <div class="item_product_mobile">
                        <div class="item_product_par"><div class="loader-icon item_product_load"></div></div>
                        <div id="slider" class="swipe" style="margin-bottom: 20px">
                            <div class="swipe-wrap">
                                <% item.images.forEach(function(img){ %>
                                <%
                                    rsrcUrl = img;
                                    if (img.imageLink) {
                                        srcUrl = img.imageLink;
                                    }
                                %>
                                <figure>
                                    <div class="wrap">
                                        <img class="image" onload="imageLoad(this)" src="<%=: srcUrl | thumbScale:650 %>" title="<%= item.title %>" alt="<%= item.title %>"/>
                                    </div>
                                </figure>
                                <% }) %>
                            </div>

                            <nav class="positionNav">
                                <ul id="position">
                                </ul>
                            </nav>
                            <% if (item.state == 1 || item.state == 2 || item.state == 3) {%>
                            <div class="item_status item_status_sold"></div>
                            <% } else if (item.state == 4) { %>
                            <div class="item_status item_status_unapprove"></div>
                            <% } else if (item.state == 5) { %>
                            <div class="item_status item_status_unavailable"></div>
                            <% } %>
                        </div>
                    </div>

                    <div class="item_product_mobile_person hidden-md hidden-lg">
                        <div class="item_product_mobile_person_head">
                            <a target="_self" href="/person/<%= item.owner.id %>/<%=: item.owner.nickname | titleParse:null %>"  ng-click="product_seller($event)">
                                <img class="item_product_mobile_person_img" src="<%=: item.owner.portrait | thumb %>"
                                 onerror="this.onerror=null;this.src='/images/common/person-head_def.png';"/>

                                <div class="person-shaddow"></div>
                            </a>
                            <span class="<%if(item.owner.verified == true){%>ver<%}else{%>not-ver<%}%>"></span>
                        </div>
                        <div class="item_product_mobile_person_name">
                            <%= item.owner.nickname %>
                        </div>
                    </div>
                </div>
                <!--buy tool-->
                <div class="row">
                    <div class="hidden-md hidden-lg product_renew_btn orange-btn <%if(!item.isMine){%>hide<%}%>" data-toggle="modal" data-target="#item_renew_modal" ng-click="renew();">Renew</div>

                    <div class="hidden-md hidden-lg <%if(item.isMine){%>hide<%}%>">
                       <div class="product_like_btn_bottom grey-btn" ng-click="switchLikes();"><span class="<%if(item.liked==false){%>heart<%}else{%>heart-filled<%}%>"  ng-class="{'true':'heart-filled','false':'heart'}[liked]"></span></div>
                       <div class="buy_bottom_group clearfix">
                           <div class="product_buy_btn_bottom orange-btn" ng-click="showAskModal($event,'bottom-buy')">Make offer</div>
                           <div class="product_ask_btn_bottom grey-btn" ng-click="showAskModal($event,'bottom-ask')"><span class="ask"></span>&nbsp;Ask</div>

                       </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-xs-12 col-md-8 item_person_price">
                       <strong class="item_person_price_strong"><%= item.local_price %></strong>
                       <%if (item.original_price!=undefined){%>
                       <i><%=item.currency%><%=item.original_price%></i>
                   <%}%>
                   </div>
                   <div class="share-button col-md-4 hidden-xs hidden-sm clearfix">
                       <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%=origUrl%>&p[images][0]=<%=item.images[0].imageLink%>&p[title]=<%=item.title%>&p[summary]=Check this out on the 5milesapp! <%=item.title%> for <%=item.local_price%>" target="_blank" class="fb" count-layout="vertical" ng-click="facebook_share($event);"></a>
                       <a href="https://twitter.com/intent/tweet?url=<%=origUrl%>&text=Check this out on the 5milesapp! <%=: item.title | truncate:20%><%if(item.title.length>20){%>...<%}%> for <%=item.local_price%>.&hashtags=5milesapp" target="_blank" class="twitter" count-layout="vertical" ng-click="twitter_share($event);"></a>
                       <a href="http://pinterest.com/pin/create/button/?url=<%=origUrl%>&media=<%=item.images[0].imageLink%>&description=Check this out on the 5milesapp! <%=item.title%> for <%=item.local_price%>" target="_blank" class="pin" count-layout="vertical" ng-click="pinterest_share($event);"></a>
                   </div>
                </div>
                <!--product info-->
                <div class="row item_product_info text-left">
                    <div class="col-xs-12 col-md-10 item_product_info_text">
                            <h1 class="item_product_info_title"><%= item.title %></h1>
                            <h2 class="item_product_info_desc"><%= item.desc %></h2>
                    </div>
                    <div class="col-xs-12 hidden-md hidden-lg share-button">
                       <span class="share-mobile">Share this item on</span>
                       <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%=origUrl%>&p[images][0]=<%=item.images[0].imageLink%>&p[title]=<%=item.title%>&p[summary]=<%=item.desc%>" target="_blank" class="fb" count-layout="vertical" ng-click="pinterest_share($event);"></a>
                       <a href="https://twitter.com/intent/tweet?url=<%=origUrl%>&text=<%=item.title%>" target="_blank" class="twitter" count-layout="vertical" ng-click="twitter_share($event);"></a>
                       <a href="http://pinterest.com/pin/create/link/?url=<%=origUrl%>&media=<%=item.images[0].imageLink%>&description=<%=item.desc%>" target="_blank" class="pin" count-layout="vertical" ng-click="pinterest_share($event);"></a>
                    </div>
                    <!--product media-->
                    <div class="col-xs-12 col-sm-2 ">
                                <div class="item_product_audio" ng-cloak>
                                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                                    <div id="jp_container_1" class="jp-audio clearfix">
                                        <ul class="jp-controls">
                                            <li class="jp_li jp-play grey-btn"><a href="javascript:;" class="jp_item jp-play play" tabindex="1" ng-click="voice_play($event)"></a></li>
                                            <li class="jp_li jp-pause grey-btn"><a href="javascript:;" class="jp_item jp-pause pause" tabindex="1" ng-click="voice_stop($event)"></a></li>
                                        </ul>
                                        <div class="play-timer hidden-md hidden-lg">
                                          <div class="jp-time-holder">
                                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                          </div>
                                          <div class="jp-progress">
                                              <div class="jp-seek-bar">
                                                  <div class="jp-play-bar"></div>
                                              </div>
                                          </div>
                                        </div>
                                   </div>
                                </div>
                    </div>
                    <div class="col-xs-12 item-infos">
                          <%if(item.brand_name != undefined&&item.brand_name !=""){%>
                          <div class="brand"></div>
                          <div class="brand-detail bottom-line clearfix">Brand
                              <div class="brand-value"><a href="/search/?keyword=<%=item.brand_name%>"><%=item.brand_name%></a> </div>
                          </div>
                          <%}%>
                          <%if(item.updated_at != undefined && item.updated_at !=""){%>
                          <div class="update-time"></div>
                          <div class="update-detail bottom-line clearfix">
                           Update time
                           <div class="update-value"><%=item.updatedTimeTxt%></div>
                          </div>
                          <%}%>
                          <%if(item.shipping_method != undefined && item.shipping_method !=""){%>
                          <div class="delivery"></div>
                          <div class="delivery-detail bottom-line clearfix">
                           Delivery
                           <div class="delivery-value">
                            <% if(item.shipping_method == 1){%>
                             Local exchange
                             <%} else if(item.shipping_method == 2){%>
                             Shipping
                             <%} else{%>
                             Local exchange or Shipping
                            <%}%>
                           </div>
                          </div>
                          <%}%>

                          <%if(item.distance != undefined || item.city != undefined || item.region != undefined){%>
                          <div class="location"></div>
                          <div class="location-detail bottom-line clearfix">
                           Location
                           <div class="location-value"><%if(item.distance){%><%=item.distance%>,<%}if(item.city){%> <%=item.city%><%}if(item.region){%>,<%=item.region%><%}%></div>
                          </div>
                          <%}%>
                    </div>
                    <div class="col-xs-12 location-map-container" style="display:none;">
                      <a href="#" data-toggle="modal" data-target="#map_modal"><img class="product-location-map" src="https://maps.google.com/maps/api/staticmap?center=<%=item.location.lat%>,<%=item.location.lon%>&zoom=13&size=590x206&sensor=false" onload="this.parentNode.parentNode.style.display = 'block';"/>
                      <span class="mapcircle"></span>
                      </a>
                    </div>
                    <div class="col-xs-12 likes-content clearfix" ng-class="{hide:!likes.count}" ng-cloak>
                        <div class="small-heart" ng-bind="likes.count"></div>
                        <div class="liker-list">
                            <a ng-href="/person/{{user.id}}" ng-repeat="user in likes.list" alt="{{user.nickname}}" title="{{user.nickname}}" ng-click="item_like_avatar($event)"><img ng-src="{{user.portrait|thumbScale:54:true}}" alt="{{user.nickname}}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <%if(item.offerLines.length !=0){%>
            <div class="row buy-ask-container">
                  <div class="buy-ask"></div>
                  <div class="buy-ask-content item_block_box_shadow">
                   <%item.offerLines.forEach(function(item, index){%>
                    <div class="buy-ask-item clearfix" ng-click="askBuyInfo($event);">
                     <div class="doller"></div>
                     <div class="buy-ask-item-detail"><%=item.description%></div>
                     <div class="nav-right"></div>
                    </div>
                   <%});%>
                   </div>
            </div>
            <%}%>

            <%if(!item.isMine){%>
             <div class="row report-item" ng-click="showReportModel('item');report_item($event);">
              <div class="plane"></div>
              Report this item
             </div>
            <%}%>
        </div><!--main end-->

        <div class="col-xs-12 col-md-4 item_assit"><!--assit begin-->
            <!--ask & buy & like-->
            <div class="row item_person item_block_box_shadow">
                 <div class="col-xs-12">
                        <p class="item_person_price">
                            <strong class="item_person_price_strong"><%= item.local_price %></strong>
                        <%if (item.original_price!=undefined){%>
                          <i><%=item.currency%><%=item.original_price%></i>
                        <%}%>
                        </p>
                     <h1 class="item_person_title"><%= item.title %></h1>
                     <div class="renewBtn <%if(!item.isMine){%>hide<%}%>">
                       <div class="product_buy_btn orange-btn"  data-toggle="modal" data-target="#item_renew_modal" ng-click="renew();">Renew</div>
                    </div>
                     <div class="item_person_buyBtn clearfix <%if(item.isMine){%>hide<%}%>">
                        <div class="product_buy_btn orange-btn" ng-click="showAskModal($event,'top-buy')">Make offer</div>
                        <div class="product_ask_btn grey-btn" ng-click="showAskModal($event,'top-ask')"><span class="ask"></span>&nbsp; Ask</div>
                        <div class="product_like_btn grey-btn <%if(item.liked==true){%>hoverAct<%}%>"ng-class="{'true':'hoverAct','false':''}[liked]" ng-click="switchLikes();">
                          <div class="add-to-like">
                            <span class="<%if(item.liked==false){%>heart<%}else{%>heart-filled<%}%>" ng-class="{'true':'heart-filled','false':'heart'}[liked]"></span>&nbsp; Add to likes
                          </div>
                          <div class="hover-remove-display ng-hide">Remove from likes</div>
                        </div>
                     </div>
                 </div>
                 <input id="item_user_info" type="hidden" userid="<%= item.owner.id %>" itemid="<%= item.id %>" currency="<%= item.currency %>" liked = "<%=item.liked%>"/>
            </div>
            <!-- owner info -->
            <div class="row item-owner hidden-xs hidden-sm">
                 <div class="item-title about-owner">
                 </div>
                 <div class="owner-detail item_block_box_shadow clearfix">
                     <div class="col-xs-4 owner-icon">
                         <a target="_self" href="/person/<%= item.owner.id %>/<%=: item.owner.nickname | titleParse %>" ng-click="product_seller($event)">
                             <img class="item_person_img" src="<%=: item.owner.portrait | thumb %>"
                                  onerror="this.onerror=null;this.src='/images/common/person-head_def.png';"
                                  title="<%= item.owner.nickname %>" alt="<%= item.owner.nickname %>"/>

                          <div class="person-shaddow"></div>
                         </a>
                        <span class="<%if(item.owner.verified == true){%>ver<%}else{%>not-ver<%}%>"></span>
                     </div>
                     <div class="col-xs-8">
                         <p class="item_person_name"><%= item.owner.nickname %></p>
                         <div class="text-left ver-status">
                             <span ng-class="{'ver-mail' : person.email_ver, 'unver-mail':!person.email_ver}"></span>
                             <span ng-class="{'ver-fb' : person.facebook_ver, 'unver-fb':!person.facebook_ver}"></span>
                             <span ng-class="{'ver-phone' : person.mobile_ver, 'unver-phone':!person.mobile_ver}"></span>

                             <a href="javascript:void(0);"class="infos " ng-click="triggerTips($event)" ></a>
                             <div class="tooltip bottom ver-infos" role="tooltip" id="ver-tooltip">
                                <div class="tooltip-arrow"></div>
                                <ul class="inner">
                                  <li class="clearfix"><span class="seller-profile"></span> Avatars that show a "V" are verified users and it's safer to make a deal with them.</li>
                                  <li class="clearfix"><span class="ver-mail"></span>5miles has verified their email</li>
                                  <li class="clearfix"><span class="ver-fb"></span>User has linked their Facebook account with 5miles.</li>
                                  <li class="clearfix"><span class="ver-phone"></span>5miles has verified their phone number.</li>
                                </ul>
                             </div>
                         </div>
                     </div>
                     <div class="text-center owner-infos clearfix">
                         <div class="col-xs-4 after-bar">
                            <a target="_self" href="/person/<%= item.owner.id %>/<%=: item.owner.nickname | titleParse %>" ng-click="seller_items($event)" class="person_items" ng-cloak>
                            {{person.personItem}}<br/>
                            <span>Items</span>
                            </a>
                         </div>
                         <div class="col-xs-4 after-bar">
                            <a target="_self" href="/person/<%= item.owner.id %>/<%=: item.owner.nickname | titleParse %>#following" ng-click="seller_following($event)" class="person_following" ng-cloak>
                            {{person.personFollowing}}<br/>
                            <span>Following</span>
                            </a>
                         </div>
                         <div class="col-xs-4">
                            <a target="_self" href="/person/<%= item.owner.id %>/<%=: item.owner.nickname | titleParse %>#followers" ng-click="seller_folowers($event)" class="person_followers" ng-cloak>{{person.personFollowers}}<br/><span>Followers</span>
                            </a>
                         </div>
                     </div>

                    <input id="item_user_info" type="hidden" userid="<%= item.owner.id %>" itemid="<%= item.id %>" currency="<%= item.currency %>"/>

                </div>
            </div>
            <!-- items switch -->
            <div class="itemsSwitcher hidden-md hidden-lg">
               <div class="col-xs-6" ng-click="showSimilarItems();" ng-class="{'selected':recommendItemDis}">Similar Items</div>
               <div class="col-xs-6" ng-class="{'selected':otherItemDis}" ng-click="showOtherItems();">Seller's other Items</div>
            </div>
            <div class="row other-items " ng-class="{'hidden-xs hidden-sm':!otherItemDis}">
                <div class="other-item hidden-xs hidden-sm"></div>
                <div class="col-xs-12 item_block_box_shadow item_seller_body" >
                    <div class="col-xs-6 item_seller_block"  >
                        <div ng-repeat="item in sellerItems" ng-if="$index%2 ==0" >
                         <div class="item_block">
                            <a target="_self" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-click="other_item_product($event)">
                                <div class="item_recommend_img_fix">
                                    <img class="item_recommend_img" ng-src="{{item.images[0].imageLink|thumbScale:260}}"/>
                                </div>
                            </a>
                            <p class="item_recommend_title" >
                                <a target="_self" ng-href="/item/{{item.id}}/{{item.idParse}}" title="{{item.title}}" ng-bind="item.title | titleCut"></a>
                            </p>
                            <p class="item_recommend_infos">
                             <strong ng-bind="item.local_price"></strong>
                             <i class="ng-hide" ng-show="item.original_price">{{item.currency}}{{item.original_price}}</i>
                            </p>
                         </div>
                    </div>
                    </div>
                    <div class="col-xs-6 item_seller_block" >
                        <div ng-if="$index%2 ==1" ng-repeat="item in sellerItems">
                         <div class="item_block">
                            <a target="_self" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-click="other_item_product($event)">
                                <div class="item_recommend_img_fix">
                                    <img class="item_recommend_img" ng-src="{{item.images[0].imageLink|thumbScale:260}}"/>
                                </div>
                            </a>
                            <p class="item_recommend_title" >
                                <a target="_self" ng-href="/item/{{item.id}}/{{item.idParse}}" title="{{item.title}}" ng-bind="item.title | titleCut"></a>
                            </p>
                            <p class="item_recommend_infos">
                             <strong ng-bind="item.local_price"></strong>
                             <i class="ng-hide" ng-show="item.original_price">{{item.currency}}{{item.original_price}}</i>
                            </p>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item_recommend hidden-md hidden-lg"  ng-class="{'hidden-xs hidden-sm':!recommendItemDis}">
                    <div class="col-xs-12 item_recommend_body">
                        <div class="col-xs-6 item_recommend_block">
                            <% item.recommends.forEach(function(recommend, index){ %>
                               <% if ((index%2 == 0) && (index < 4)) {%>
                                <div class="item_block">
                                                <a target="_self" href="/item/<%= recommend.id %>/<%=: recommend.title | titleParse:recommend.cat_id %>" ng-click="similar_product($event)">
                                                    <div class="item_recommend_img_fix">
                                               <img class="item_recommend_img" src="<%=: recommend.images[0].imageLink | thumbScale:200 %>"
                                                             title="<%= recommend.title %>" alt="<%= recommend.title %>"/>
                                                    </div>
                                                </a>
                                                <p class="item_recommend_title" title="<%= recommend.title %>"><%= recommend.title %></p>

                                       <p class="item_recommend_infos"><strong><%= recommend.local_price %></strong>&nbsp;
                                       <%if(recommend.original_price != undefined){%>
                                        <i><%=recommend.currency%><%=recommend.original_price%></i>
                                        <%}%>
                                        <%if(recommend.city !=undefined && recommend.city != ""){%><br/><span class="location"><%=recommend.city%></span>
                                        <%}%>
                                       </p>
                                </div>
                               <%}%>
                            <% }) %>

                        </div>
                        <div class="col-xs-6 item_recommend_block">
                            <% item.recommends.forEach(function(recommend, index){ %>
                               <% if ((index%2 == 1) && (index<4)) {%>
                                <div class="item_block">
                                        <a target="_self" href="/item/<%= recommend.id %>/<%=: recommend.title | titleParse:recommend.cat_id %>" ng-click="similar_product($event)">
                                            <div class="item_recommend_img_fix">
                                               <img class="item_recommend_img" src="<%=: recommend.images[0].imageLink | thumbScale:200 %>"
                                                     title="<%= recommend.title %>" alt="<%= recommend.title %>"/>
                                            </div>
                                        </a>
                                        <p class="item_recommend_title" title="<%= recommend.title %>"><%= recommend.title %></p>

                                       <p class="item_recommend_infos"><strong><%= recommend.local_price %></strong>&nbsp;
                                       <%if(recommend.original_price != undefined){%>
                                        <i><%=recommend.currency%><%=recommend.original_price%></i>
                                       <%}%>
                                        <%if(recommend.city !=undefined && recommend.city != ""){%><br/><span class="location"><%=recommend.city%></span>
                                        <%}%>
                                       </p>
                                </div>
                               <%}%>
                            <% }) %>

                        </div>
                    </div>
            </div>
            <!-- report block -->
            <%if(!item.isMine){%>
                <div class="row report-item hidden-xs hidden-sm" ng-click="showReportModel('seller');report_seller($event);">
                  <div class="plane"></div>
                  Report this seller
                </div>
            <%}%>
        </div><!--assit end-->
    </div>
    <!-- the pop model: eamil chat -->
    <% include itemModal.ejs %>
</div>
