<!DOCTYPE html>
<html>
<head>
    <title><%=head.title %> in 5miles</title>
    <meta name="keywords"
          content="buy,<%=head.keyTitle %>,<%=head.category%>,garage sale"/>
    <meta name="description"
          content="Buy <%=head.title %><%=head.description %> - <%=head.category%> with 5miles. Also check out other similar items from <%=head.owner %>'s shop."/>

    <meta property="og:title" content="Buy <%=head.title %> with 5miles at a Discount - Your Mobile Marketplace"/>
    <meta property="og:description" content="Buy <%=head.title %><%=head.description %> - <%=head.category%> with 5miles. Also check out other similar items from <%=head.owner %>'s shop."/>
    <meta property="og:image" content="<%= item.images && item.images[0].imageLink ? item.images[0].imageLink:item.images %>"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="5miles"/>

    <% include ../head.ejs %>
</head>
<body ng-app="app" class="banner_user_display">
<img src="/images/item/icon_5.png" style="display: none">
<% include ../pub/banner.ejs %>
<%- body %>
<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/dependencies/jquery.jplayer.min.js"></script>
<script src="/js/dependencies/swipe.js"></script>
<script src="/js/item/item.js"></script>
<!--5MILES_SCRIPTS END-->

<script>
    var bullets = document.getElementById('position').getElementsByTagName('li');
    var slider = Swipe(document.getElementById('slider'), {
        callback: function(pos) {
            $(".navOn").removeClass("navOn");
            $("#nav_" + pos).addClass("navOn");
        }
    });

    
    $(document).ready(function() {
        if ($(".image").length > 1) {
            $(".image").each(function(index, item) {
                var cla = "nav";
                $(item).attr("slider_image_" + index);
                if (index == 0) {
                    cla = "nav navOn";
                }
                $("<li id='nav_" + index + "' class='" + cla + "'></li>").bind("click", function() {
                    slider.slide(index);
                }).appendTo($("#position"));
            });
        }
        // jPlayer init
        var meadiaLink = $("#mediaLink").val();
        if (meadiaLink && meadiaLink.length > 0) {
            $.jPlayer.timeFormat.showHour = false;
            $.jPlayer.timeFormat.showMin = false;
            $.jPlayer.timeFormat.sepSec = "''";
            
            $("#jquery_jplayer_1").jPlayer({
                ready: function (event) {
                    $(this).jPlayer("setMedia", {
                        title: "Bubble",
                        m4a: $("#mediaLink").val()
                    });
                },
                supplied: "m4a,ogg,mp3",
                smoothPlayBar:true,
                remainingDuration:true,
                toggleDuration:true
            });
        } else {
            $(".item_product_audio").hide();
        }

    });
    // mobile to fixed the vertical align,after image load
    var mobileHei = 0;
    function imageLoad(obj) {
        var nowObjHei = $(obj).height();
        if (nowObjHei > mobileHei) {
            $(obj).parent().parent().parent().css("line-height",nowObjHei + "px");
            mobileHei = nowObjHei;
        }
        $(".item_product_par").hide();
    }
</script>
<% include ../footer.ejs %>
<!--  Product page tag ---->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
    window.criteo_q = window.criteo_q || [];
    window.criteo_q.push(
            { event: "setAccount", account: 17812 },
            { event: "setHashedEmail", email: "#MD5-hashed email address#" },
            { event: "setSiteType", type: "d" },
            { event: "viewItem", item: "#Your item id#" }
    );
</script>
</body>
</html>
