<div id="item_container_map" class="container item_container text-center">
    <div class="row">
        <div class="col-xs-12 item_product_mapContainer">
            <div class="item_product_map">
                <img width="100%"
                     src="https://maps.googleapis.com/maps/api/staticmap?center=<%=item.latitude%>,<%=item.longitude%>&markers=icon:http://www.5milesapp.com/img/marker.png%7C<%=item.latitude%>,<%=item.longitude%>&zoom=13&size=670x520&key=AIzaSyBhX8ECGW2xjgvpTI6xPQEEoTKwZAUljW0" onerror="this.onerror=null;$(this).remove()"/>
            </div>
        </div>
    </div>
</div>
