<!DOCTYPE html>
<html>
<head>
    <title><%=head.nickname %>’s shop in 5miles - Your Mobile Marketplace in <%=head.city%> </title>
    <meta name="keywords"
          content="buy,<%=head.nickname %>,shop,garage sale"/>
    <meta name="description"
          content="<%=head.nickname %> is selling awesome items with 5miles. Buy and sell used items at great prices and shop the best offerings in the 5miles local classifieds."/>
    <% include ../head.ejs %>
</head>

<body ng-app="app" class="footerRelative sellerprofile_view">

<%- body %>

<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/dependencies/masonry.pkgd.min.js"></script>
<script src="/js/dependencies/imagesloaded.pkgd.min.js"></script>
<script src="/js/person/person.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
</body>
</html>
