<% include ../pub/banner.ejs %>
<div class="personPage minPageSet _gaPageView" data-pageview="sellerprofile_view" ng-controller="personCtrl">
    <div id="personCon" class="container personCon">
        <div class="per_info_container col-xs-4">
            <div class="per_info_container_sub col-xs-12">
            <div class="col-xs-4 text-center per_info_left">
                <div class="per_portrait_mix per_portrait_mix_img" ng-class="{per_portrait_mix_v:<%= result.mobile_phone_verified %>}">
                    <img src="<%=: result.portrait | thumb %>" class="per_portrait" onerror="this.onerror=null;this.src='/images/common/person-head_def.png';"
                         alt="<%= result.nickname %>" title="<%= result.nickname %>"/>
                </div>
            </div>
            <div class="col-xs-8 per_info_right">
                <div class="per_info">
                    <h1 class="per_nick">
                        <%= result.nickname %>
                    </h1>
                    <div class="per_map_tip-mb" data-loc="<%= result.lat%>,<%= result.lon%>">
                        <span class="per_miles_marker"></span>
                        <span ng-bind="per_miles"></span>
                        <span>
                            <%
                            place = result.place;
                            if (place && place.length > 0) {
                                place = "in " + place;
                            }%>
                            <%= place %>
                        </span>
                    </div>
                    <div class="per_ver_par">
                        <span class="per_ver">Verification:</span>
                        <span class="per_ver_btn per_ver_btn_em" ng-class="{per_ver_btn_em_v:<%= result.email_verified %>}"></span>
                        <span class="per_ver_btn per_ver_btn_fb" ng-class="{per_ver_btn_fb_v:<%= result.facebook_verified %>}"></span>
                        <span class="per_ver_btn per_ver_btn_ph" ng-class="{per_ver_btn_ph_v:<%= result.mobile_phone_verified %>}"></span>
                        <span class="per_ver_btn per_ver_btn_hp" ng-click="verPop($event)"></span>
                        <ul class="per_ver_pop hide" ng-class="{'show':per_ver_pop_flag}">
                            <%
                            loginUserTip = "their";
                            showV = "Avatars that show a \"V\" are verified users and it's safer to make a deal with them.";
                            if (typeof ext !== "undefined") {
                               loginUserTip = "your";
                               showV = 'Avatars that show a "√" are verified by phone, making buyers feel safe to deal with these sellers.';
                            }%>
                            <li class="per_ver_pop_li  per_ver_pop_li-per"><%= showV %></li>
                            <li class="per_ver_pop_li per_ver_btn_em_v per_ver_pop_li-em">5miles has verified <%= loginUserTip %> email.</li>
                            <li class="per_ver_pop_li per_ver_btn_fb_v per_ver_pop_li-fb">User has linked <%= loginUserTip %> Facebook account with 5miles.</li>
                            <li class="per_ver_pop_li per_ver_btn_ph_v per_ver_pop_li-phone">5miles has verified <%= loginUserTip %> phone number.
                                <%
                                if (typeof ext !== "undefined") {%>
                                  <a class="per_ver_get per_ver_get-pc">Get verified in App</a>
                                  <a class="per_ver_get per_ver_get-mb" href="/download" target="_self">Get verified in App</a>
                                <%}%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <%if (typeof ext === "undefined") {%>
                <div class="col-xs-12 per_fl" ng-class="{'hide':followingBtnHideFlag}">
                    <div class="per_fl_btn per-gray-btn" ng-class="{'per-orange-btn': (followValue == 'Following')}"
                         ng-click="triggerFollow($event)" data-followed="<%= result.followed %>"></div>
                    <span class="per_fl_load waterCon_loc_pos-load" ng-if="per_fl_load"></span>
                </div>
            <%} else {%>
                <div class="col-xs-12 per_view_more" ng-click="viewMore($event)">
                    Manage profile in App
                </div>
            <%}%>
            <div class="col-xs-12 per_status_con">
                <div class="per_display_status_mb">
                    <div class="col-xs-4 text-left per_status per_status-item" ng-class="{'per_status--active':activePage == 'items'}" ng-click="items($event)">
                        <div><%= result.count_sellings %></div>
                        <div class="per_status_sub">Items</div>
                        <div class="per_status_rightBorder" ng-hide="activePage == 'following' || activePage == 'likes'"></div>
                    </div>
                    <%if (typeof ext !== "undefined") {%>
                        <div class="col-xs-4 text-center per_status per_status-follow" ng-class="{'per_status--active':activePage == 'likes'}" ng-click="likeCount($event)">
                            <div><%= ext.likes_count %></div>
                            <div class="per_status_sub">Likes</div>
                            <div class="per_status_rightBorder" ng-hide="activePage == 'likes' || activePage == 'buy'"></div>
                        </div>
                        <div class="col-xs-4 text-center per_status per_status-follower" ng-class="{'per_status--active':activePage == 'buy'}" ng-click="buyCount($event)">
                            <div id="followers-count"><%= ext.purchases_count %></div>
                            <div class="per_status_sub">Buying</div>
                        </div>
                    <%} else {%>
                        <div class="col-xs-4 text-center per_status per_status-follow" ng-class="{'per_status--active':activePage == 'following'}" ng-click="following($event)">
                            <div><%= result.count_following %></div>
                            <div class="per_status_sub">Following</div>
                            <div class="per_status_rightBorder" ng-hide="activePage == 'follower'"></div>
                        </div>
                        <div class="col-xs-4 text-center per_status per_status-follower" ng-class="{'per_status--active':activePage == 'follower'}" ng-click="follower($event)">
                            <div id="followers-count"><%= result.count_followers %></div>
                            <div class="per_status_sub">Followers</div>
                        </div>
                    <%}%>
                </div>
                <div class="per_display_status_pc">
                    <div class="per_status_group">
                        <div class="col-xs-12 per_status_line per_status_line-item" ng-class="{'per_status--active':activePage == 'items'}" ng-click="items($event)">
                            <div class="per_status_sub_line per_status_sub_noborder">Items<span class="per_status_line_count"><%= result.count_sellings %></span></div>
                        </div>
                        <%
                        if (typeof ext !== "undefined") {%>
                        <div class="col-xs-12 per_status_line per_status_line-like" ng-class="{'per_status--active':activePage == 'likes'}" ng-click="likeCount($event)">
                            <div class="per_status_sub_line per_status_sub_topborder">Likes<span class="per_status_line_count"><%= ext.likes_count %></span></div>
                        </div>
                        <div class="col-xs-12 per_status_line per_status_line-buy" ng-class="{'per_status--active':activePage == 'buy'}" ng-click="buyCount($event)">
                            <div class="per_status_sub_line per_status_sub_noborder">Buying<span class="per_status_line_count" id="followers-count"><%= ext.purchases_count %></span></div>
                        </div>
                        <%}%>
                    </div>
                    <div class="per_status_group">
                        <div class="col-xs-12 per_status_line per_status_line-follow" ng-class="{'per_status--active':activePage == 'following'}" ng-click="following($event)">
                            <div class="per_status_sub_line">Following<span class="per_status_line_count"><%= result.count_following %></span></div>
                        </div>
                        <div class="col-xs-12 per_status_line per_status_line-follower" ng-class="{'per_status--active':activePage == 'follower'}" ng-click="follower($event)">
                            <div class="per_status_sub_line per_status_sub_noborder">Followers<span class="per_status_line_count" id="followers-count"><%= result.count_followers %></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <%if (typeof ext == "undefined") {%>
            <div class="col-xs-12 per_map">
                <div class="per_map_tip" data-loc="<%= result.lat%>,<%= result.lon%>" ng-hide="per_map_tip">
                    <span class="per_miles_marker"></span>
                    <span ng-bind="per_miles"></span>
                    <%
                        place = result.place;
                        if (place && place.length > 0) {
                            place = "in " + place;
                        }%>
                    <span id="per_city" data-city="<%= place %>">
                        <%= place %>
                    </span>
                </div>
                <% if (result.lat != null && result.lat.length > 0 && result.lat != 0) {%>
                <div class="per_map_con" ng-click="mapClick($event)">
                    <img class="per_map_img" width="100%"
                         src="https://maps.googleapis.com/maps/api/staticmap?center=<%= result.lat %>,<%= result.lon %>&zoom=12&size=360x94&key=AIzaSyBhX8ECGW2xjgvpTI6xPQEEoTKwZAUljW0"
                         onerror="this.onerror=null;$(this).parent().remove();"/>
                    <div id="per_map_mapcircle" class="per_map_mapcircle"></div>
                </div>
                <%}%>
            </div>
            <%}%>
            </div>
            <%if (typeof ext !== "undefined") {%>
                <div class="per_manage col-xs-4" data-toggle="modal" data-target="#item_renew_modal" ng-click="_profileInApp($event)">
                    Manage profile in App
                </div>
            <%}%>
        </div>
        <div class="per_load_container col-xs-8">
            <!--items-->
            <div class="per_items" ng-class="{'show':activePage == 'items'}" ng-class="{per_items_null:(myItems.length == 0) && !personPage_load_flag}">
                <div id="container" class="masonry">
                    <div class="waterItem" ng-repeat="item in myItems"
                         ng-class="{'waterItemInvisible':item.hide}">
                        <a class="waterItemImg_par" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-mousedown="itsproduct($event)">
                            <img ng-style="{'width':item.images.width,'height':item.images.height}" ng-src="{{item.images.imageLink | listThumbScale}}"
                                 class="waterItemImg ng-cloak" alt="{{item.title}}" title="{{item.title}}" >
                            <div ng-if="item.state > 0" class="item_status waterItem_state" ng-class="{'item_status_sold':(item.state == 1 || item.state == 2 || item.state == 3)}"></div>
                        </a>
                        <div class="waterItem_info" ng-style="{'width':item.images.width}">
                            <div class="waterItem_title waterItem_info_pad">
                                <a class="waterItem_title_a ng-cloak" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-bind="item.title | titleCut" alt="{{item.title}}" title="{{item.title}}" ng-click="itsproduct($event)"></a>
                            </div>
                            <div class="waterItem_price col-xs-12" >
                                <span class="waterItem_price_now" ng-bind="item.local_price"></span>
                                <span class="waterItem_price_org" ng-bind="item.original_price"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="per_item_more hide" ng-class="{'show':per_item_more_flag}" ng-click="listMore($event)">
                    <span>more..</span>
                    <span class="loader-icon loader-icon__gray upload_list_more_load" ng-if="upload_list_more_load_flag"></span>
                </div>
                <%if (typeof ext !== "undefined") {%>
                    <div class="per_no_flag hide" ng-class="{'show':(myItems.length == 0) && !personPage_load_flag}">
                        <div class="per_no_items_pro"></div>
                        <div class="per_no_items_pro_tip">
                            Cash up now by listing your first item and become a supper seller! You can come back here at anytime to view your item.
                            <div class="per_no_flag_show_pc">
                                <% include sendLink.ejs %>
                            </div>
                            <div class="per_no_flag_btn per_no_flag_show_mb" ng-click="goDown($event,'items_inapp')">List your first item</div>
                        </div>
                    </div>
                <%} else {%>
                    <div class="per_no_items hide" ng-class="{'show':(myItems.length == 0) && !personPage_load_flag}"></div>
                <%}%>
            </div>
            <!--likes-->
            <div class="per_items" ng-class="{'show':activePage == 'likes'}" ng-class="{per_items_null:(myItems.length == 0) && !personPage_load_flag}">
                <div id="container_likes" class="masonry">
                    <div class="waterItem" ng-repeat="item in personLikes"
                         ng-class="{'waterItemInvisible':item.hide}">
                        <a class="waterItemImg_par" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-mousedown="mylikes_product($event)">
                            <img ng-style="{'width':item.images.width,'height':item.images.height}" ng-src="{{item.images.imageLink | listThumbScale}}"
                                 class="waterItemImg ng-cloak" alt="{{item.title}}" title="{{item.title}}" >
                            <div ng-if="item.state > 0" class="item_status waterItem_state" ng-class="{'item_status_sold':(item.state == 1 || item.state == 2 || item.state == 3)}"></div>
                        </a>
                        <div class="waterItem_info" ng-style="{'width':item.images.width}">
                            <div class="waterItem_title waterItem_info_pad">
                                <a class="waterItem_title_a ng-cloak" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-bind="item.title | titleCut" alt="{{item.title}}" title="{{item.title}}" ng-click="mylikes_product($event)"></a>
                            </div>
                            <div class="waterItem_price col-xs-12" >
                                <span class="waterItem_price_now" ng-bind="item.local_price"></span>
                                <span class="waterItem_price_org" ng-bind="item.original_price"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="per_item_more hide" ng-class="{'show':per_like_more_flag}" ng-click="likeMore($event)">
                    <span>more..</span>
                    <span class="loader-icon loader-icon__gray upload_list_more_load" ng-if="upload_list_more_load_flag"></span>
                </div>
                <%if (typeof ext !== "undefined") {%>
                <div class="per_no_flag hide" ng-class="{'show':(personLikes.length == 0) && !personPage_load_flag}">
                    <div class="per_no_items_pro"></div>
                    <div class="per_no_items_pro_tip">
                        Go treasure hunting in 5miles and heart cool items!
                        <div class="per_no_flag_btn per_no_flag_show_pc" ng-click="goHome($event,'likes_exp')">Go exploring</div>
                        <div class="per_no_flag_btn per_no_flag_show_mb" ng-click="goDown($event,'likes_inapp')">Exploring in app</div>
                    </div>
                </div>
                <%} else {%>
                <div class="per_no_items" ng-class="{'show':(personLikes.length == 0) && !personPage_load_flag}"></div>
                <%}%>
            </div>
            <!--buy-->
            <div class="per_items" ng-class="{'show':activePage == 'buy'}" ng-class="{per_items_null:(myItems.length == 0) && !personPage_load_flag}">
                <div id="container_buy" class="masonry">
                    <div class="waterItem" ng-repeat="item in personBuy"
                         ng-class="{'waterItemInvisible':item.hide}">
                        <a class="waterItemImg_par" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-mousedown="mybuying_product($event)">
                            <img ng-style="{'width':item.images.width,'height':item.images.height}" ng-src="{{item.images.imageLink | listThumbScale}}"
                                 class="waterItemImg ng-cloak" alt="{{item.title}}" title="{{item.title}}" >
                            <div ng-if="item.state > 0" class="item_status waterItem_state" ng-class="{'item_status_sold':(item.state == 1 || item.state == 2 || item.state == 3)}"></div>
                        </a>
                        <div class="waterItem_info" ng-style="{'width':item.images.width}">
                            <div class="waterItem_title waterItem_info_pad">
                                <a class="waterItem_title_a ng-cloak" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-bind="item.title | titleCut" alt="{{item.title}}" title="{{item.title}}" ng-click="mybuying_product($event)"></a>
                            </div>
                            <div class="waterItem_price col-xs-12" >
                                <span class="waterItem_price_now" ng-bind="item.local_price"></span>
                                <span class="waterItem_price_org" ng-bind="item.original_price"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="per_item_more hide" ng-class="{'show':per_buy_more_flag}" ng-click="buyMore($event)">
                    <span>more..</span>
                    <span class="loader-icon loader-icon__gray upload_list_more_load" ng-if="upload_buy_more_load_flag"></span>
                </div>
                <%if (typeof ext !== "undefined") {%>
                <div class="per_no_flag hide" ng-class="{'show':(personBuy.length == 0) && !personPage_load_flag}">
                    <div class="per_no_items_pro"></div>
                    <div class="per_no_items_pro_tip">
                        Time to make your first purchase! See what items are cool and grab a bargan!
                        <div class="per_no_flag_btn per_no_flag_show_pc" ng-click="goHome($event,'buy_exp')">Go shopping</div>
                        <div class="per_no_flag_btn per_no_flag_show_mb" ng-click="goDown($event,'buy_inapp')">Shopping in app</div>
                    </div>
                </div>
                <%} else {%>
                <div class="per_no_items" ng-class="{'show':(personBuy.length == 0) && !personPage_load_flag}"></div>
                <%}%>
            </div>
            <!--following-->
            <div class="per_following hide" ng-class="{'show': activePage == 'following'}">
                <div class="per_following_sub">
                    <div class="per_following_item col-xs-12 col-md-3" ng-repeat="item in personFollowing">
                        <a class="nounderline" ng-href="/person/{{item.id}}" ng-mousedown="itsfollowingpeople()">
                            <div class="per_item_par">
                                <div class="col-xs-4 col-md-12 text-center per_item_par_sub">
                                    <div class="per_portrait_mix per_thumb" ng-class="{per_portrait_mix_v:item.verified}">
                                        <img ng-src="{{item.portrait | thumbScale:100:true}}" class="fer_portrait"
                                             onerror="this.onerror=null;this.src='/images/person/person-head_magick.jpg';">
                                    </div>
                                </div>
                                <div class="per_item_right col-xs-8 col-md-12" >
                                        <span ng-bind="item.nickname" class="per_item_name" title="{{item.nickname}}"></span>
                                </div>
                            </div>
                        </a>
                     </div>
                </div>
                <div class="per_item_more hide" ng-class="{'show':per_following_more_flag}" ng-click="followingMore($event)">
                    <span>more..</span>
                    <span class="loader-icon loader-icon__gray upload_list_more_load" ng-if="per_following_loading_flag"></span>
                </div>
                <%if (typeof ext !== "undefined") {%>
                <div class="per_no_flag hide" ng-class="{'show':(personFollowing.length == 0) && !personPage_load_flag}">
                    <div class="per_no_items_pro"></div>
                    <div class="per_no_items_pro_tip">
                        Follow your first 5miler to discover interesting people around you! Go to home page and follow them now
                        <div class="per_no_flag_btn per_no_flag_show_pc" ng-click="goHome($event,'following_exp')">Go exploring</div>
                        <div class="per_no_flag_btn per_no_flag_show_mb" ng-click="goDown($event,'following_inapp')">Exploring in app</div>
                    </div>
                </div>
                <%} else {%>
                <div class="per_no_following" ng-class="{'show':(personFollowing.length == 0) && !personPage_load_flag}"></div>
                <%}%>
            </div>
            <!--follower-->
            <div class="per_follower hide" ng-class="{'show': activePage == 'follower'}">
                <div class="per_following_sub">
                    <div class="per_following_item col-xs-12 col-md-3" ng-repeat="item in personFollower">
                        <a class="nounderline" ng-href="/person/{{item.id}}" ng-mousedown="itsfollowerpeople()">
                            <div class="per_item_par">
                                <div class="col-xs-4 col-md-12 text-center per_item_par_sub">
                                    <div class="per_portrait_mix per_thumb" ng-class="{per_portrait_mix_v:item.verified}">
                                        <img ng-src="{{item.portrait | thumbScale:100:true}}" class="fer_portrait"
                                             onerror="this.onerror=null;this.src='/images/person/person-head_magick.jpg';">
                                    </div>
                                </div>
                                <div class="per_item_right col-xs-8 col-md-12" >
                                    <span ng-bind="item.nickname" class="per_item_name" title="{{item.nickname}}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="per_item_more hide" ng-class="{'show':per_follower_more_flag}" ng-click="followerMore($event)">
                    <span>more..</span>
                    <span class="loader-icon loader-icon__gray upload_list_more_load" ng-if="per_follower_loading_flag"></span>
                </div>
                <%if (typeof ext !== "undefined") {%>
                <div class="per_no_flag hide" ng-class="{'show':(personFollower.length == 0) && !personPage_load_flag}">
                    <div class="per_no_items_pro"></div>
                    <div class="per_no_items_pro_tip">
                        Cash up now by listing your first item and become a supper seller! You can come back here at anytime to view your item.
                        <div class="per_no_flag_show_pc">
                            <% include sendLink.ejs %>
                        </div>
                        <div class="per_no_flag_btn per_no_flag_show_mb" ng-click="goDown($event,'follower_inapp')">Exploring in app</div>
                    </div>
                </div>
                <%} else {%>
                <div class="per_no_follower hide" ng-class="{'show':(personFollower.length == 0) && !personPage_load_flag}"></div>
                <%}%>
            </div>
            <div class="spinner-wave" ng-if="personPage_load_flag">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <% include personModal.ejs %>
</div>
