<!-- the pop model: message -->
<div class="modal fade" id="item_msg_modal" tabindex="-1">
    <div class="modal-dialog item_modal_dialog item_msg_dailog">
        <div class="modal-content item_modal_content">
            <div class="modal-body item_modal_body-msg">
                <button type="button" class="close mapClose" data-dismiss="modal">
                    <span aria-hidden="true" style="padding: 15px;">&nbsp;</span><span class="sr-only">Close</span>
                </button>
                <img width="100%"
                     src="https://maps.googleapis.com/maps/api/staticmap?center=<%= result.lat %>,<%= result.lon %>&zoom=13&size=600x500&key=AIzaSyBhX8ECGW2xjgvpTI6xPQEEoTKwZAUljW0"
                     onerror="this.onerror=null;$(this).remove()"/>
                <div class="per_map_mapcircle"></div>
            </div>
        </div>
    </div>
</div>

<!-- the pop model: manage profile in app -->
<div class="modal fade manageInApp" id="item_renew_modal" tabindex="-1">
    <div class="modal-dialog item_modal_dialog item_renew_dailog">
        <div class="modal-content item_modal_content">
            <button type="button" class="close " data-dismiss="modal" ng-click="sign_close($event)">
                <span aria-hidden="true" class="cross"></span>
            </button>
            <div class="modal-header item_modal_header text-center">
                <h4 class="modal-title">You can manage your profile in 5miles app <br>and view item more easily. Download now!</h4>
            </div>
            <div class="modal-body item_modal_body-msg text-center">
                <% include send.ejs %>
            </div>
        </div>
    </div>
</div>