<!DOCTYPE html>
<html>
<head>
    <title><%=result.nickname%></title>
    <meta property="og:image" content="<%= result.fbShopIcon%>"/>
    <meta property="og:title" content="<%=result.nickname %>"/>
    <meta property="og:url" content="<%=result.url%>"/>
    <meta property="og:description" content="<%=result.nickname%>'s shop"/>
    <meta property="fb:app_id" content="805850072798512" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="webSite"/>
    <meta property="og:site_name" content="5milesapp"/>
</head>
<body>
<p>
    <h1><%=result.nickname%></h1>
    <p><%=result.nickname%>'s shop</p>
</p>
</body>
</html>
