<div class="mail-sub">
    <div class="container fixed1080" ng-controller="mailCtrl">
            <div id="userSubscriptions" data-status-list='<%-JSON.stringify(statusList)%>'>
                <div class="row center">
                    <h1 >Email Notifications</h1>
                    <p id="infoArea" class="text-center {{infoArea.classes}}" style="padding:5px;" ng-bind="infoArea.html"></p>
                </div>
                
                <div class="row content notiList">
                    <div ng-repeat="x in statusList" class="clearfix sub-content">
                        <div class="row col-xs-10 col-md-4 sub-title" ng-bind="x.typeName"></div>
                        <div class="row col-xs-2 col-md-3">
                            <div class="hide btn-img {{x.action==0?'off':'on'}}" ng-class="{show:'display'}" ng-click="mailTriggler(x);"></div>
                        </div>
                    </div>
                    
                    <input type="hidden" id="userToken" value="<%=userToken%>">
                    <div class="row col-md-4 text-center" style="">
                        <button ng-disabled="isDisabled" ng-click="submitModify();" id="subscriptBtn" class="col-xs-12 btn btn-orange" type="button">Submit Subscriptions</button>
                    </div>
                </div>
            </div>
    </div>
</div>
