<!DOCTYPE html>
<html>
  <head>
    <title>Find More Amazing Items with 5miles!</title>
      <meta name="keywords"
            content="auction,buy,sell,garage sale">
      <meta name="description"
            content="Find more amazing items with the 5miles app">
    <% include ../head.ejs %>
  </head>
  <body  ng-app="app" ng-init="itemNumber=8">
    <% include ../pub/banner.ejs %>
    <div class="err-logo">
      <div class="err-logo-inner">
      <img src="/images/errorLogo.png" alt=""><strong class="err-code">404</strong>
      </div>
      <div class="err-logo-txt">
        <span><h1>404</h1>Sorrry, something is wrong.<br/>We will try to fix it!</span>
      </div>
    </div>
    <div class="err-recommend">
      <% include ../home/waterfall.ejs %>
      <div class="back-home"><a href="/">Back to HOME</a></div>
    </div>


    <!--5MILES_SCRIPTS-->
    <script src="/vendor_copy/jquery/jquery.js"></script>
    <script src="/vendor_copy/bootstrap/bootstrap.js"></script>
    <script src="/js/dependencies/jquery.cookie.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/jquery.smartbanner.js"></script>
    <script src="/js/dependencies/Autocomplete.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/dependencies/masonry.pkgd.min.js"></script>
    <script src="/js/dependencies/imagesloaded.pkgd.min.js"></script>
    <script src="/js/home/home.js"></script>
    <!--5MILES_SCRIPTS END-->
<% include ../footer.ejs %>
<% include ../gsearch.ejs %>
  </body>
</html>
