<div style="clear: both;"></div>
<div style="width: 100%;" class="bottom-fixed" ng-controller="FooterController">
    <div class="footer">
        <div class="container footer_fixed" style="padding: 0px;">
            <ul class="list-inline text-center">
                <li>
                    <a href="https://facebook.com/5milesapp" rel="nofollow" class="social_icon_a" ng-click="facebooklike($event)">
                        <span id="facebook" class="social_icon_img social_icon_face"/>
                    </a>
                    <a href="https://twitter.com/5milesapp" rel="nofollow" class="social_icon_a" ng-click="twitterfollow($event)">
                        <span id="twitter" class="social_icon_img social_icon_twitter"/>
                    </a>
                    <a href="http://instagram.com/5milesapp" rel="nofollow" class="social_icon_a" ng-click="instagramfollow($event)">
                        <span id="instergram" class="social_icon_img social_icon_instergram"/>
                    </a>
                    <a href="https://plus.google.com/115402111948872131083" rel="nofollow" class="social_icon_a" ng-click="googleplusfollow($event)">
                        <span id="tumblr" class="social_icon_img social_icon_google"/>
                    </a>
                    <span>&nbsp;&nbsp;5miles &copy; 2014-2015</span>
                </li>
                <li><a href="/info/about" ng-mousedown="footerabout($event)">About us</a></li>
                <li><a href="http://blog.5milesapp.com/" ng-mousedown="footerblog($event)">Blog</a></li>
                <li><a href="/info/helpCenter" ng-mousedown="footerhelpcenter($event)">Help Center</a></li>
                <li><a href="/sitemap" ng-mousedown="footersitemap($event)">Sitemap</a></li>
                <li><a href="/recommend" ng-mousedown="footerrecommend($event)">Popular</a></li>
            </ul>
        </div>
    </div>
    <div class="footer_mb">
        <div class="sellMb_contact">
            <ul class="sellMb_contact_block">
                <a href="/info/about" ng-mousedown="footerabout($event)">
                    <li class="sellMb_contact_item">About us</li>
                </a>
                <a href="/info/helpCenter" ng-mousedown="footerabout($event)">
                    <li class="sellMb_contact_item">Help Center</li>
                </a>
                <a href="/sitemap" ng-mousedown="footerabout($event)">
                    <li class="sellMb_contact_item">Sitemap</li>
                </a>
            </ul>
            <div class="sellMb_contact_social">
                <a href="https://facebook.com/5milesapp" rel="nofollow" target="_self">
                    <span class="sellMb_social sellMb_social_facebook"></span>
                </a>
                <a href="https://twitter.com/5milesapp" rel="nofollow" target="_self">
                    <span class="sellMb_social sellMb_social_twitter"></span>
                </a>
                <a href="https://plus.google.com/115402111948872131083" rel="nofollow" target="_self">
                    <span class="sellMb_social sellMb_social_google"></span>
                </a>
                <a href="http://instagram.com/5milesapp" rel="nofollow" target="_self">
                    <span class="sellMb_social sellMb_social_instargram"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    function footerFixed() {
            var obj = $(".footer").offset();
            var hei = obj.top + 55;

            var screenHei = $(window).height();
            if (hei < screenHei) {
                $(".footer").css({"position":"fixed","bottom":"0px"});
            }
            $(".footer").css("visibility","visible");
    }
    function _minContainerSet() {
        if ($(".minPageSet").length == 1) {
            var screenHei = $(window).height();
            var footerHei = 55;
            var headerHei = 73;
            var hei = screenHei - footerHei - headerHei;
            $(".minPageSet").css("min-height",hei + "px");
            $(".footer").css("visibility","visible");
        }
    }
    $(document).ready(function() {
        if ($(".footerRelative").length == 0) {
            footerFixed();
        } else {
            _minContainerSet();
        }
    });
</script>
<script>
    (function(d, s, id) {
        var lan = navigator.language;
        lan = lan.toLowerCase();
        if(lan != "zh-cn") {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=805850072798512&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'facebook-jssdk'));
</script>
<% include ga.ejs %>

