<% include ga_app.ejs %>
<script>(function() {
    var lan = navigator.language;
    lan = lan.toLowerCase();
    var _fbq = window._fbq || (window._fbq = []);
    if(lan != "zh-cn") {
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '396281213867680']);
      _fbq.push(['addPixelId', '765229526895349']);
      _fbq.push(['addPixelId', '959142030766916']);
      _fbq.push(['addPixelId', '566225046840808']);
    }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=396281213867680&amp;ev=PixelInitialized" />
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=765229526895349&amp;ev=PixelInitialized" />
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=959142030766916&amp;ev=PixelInitialized" />
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=566225046840808&amp;ev=PixelInitialized" />
</noscript>
<script type="text/javascript">
    adroll_adv_id = "YKQFOKAO3ZHWLCMIZMIN5V";
    adroll_pix_id = "43K435FXTVB2LK67KW5UVJ";
    (function () {
        var oldonload = window.onload;
        window.onload = function(){
            __adroll_loaded=true;
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            if(oldonload){oldonload()}};
    }());
</script>
