<meta charset="utf-8"/>
<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="apple-touch-icon" href="/images/banner/logo.png">
<!--5MILES_APP_STYLES-->
<link rel="stylesheet" href="/styles/app/pub/reset.css">
<link rel="stylesheet" href="/styles/app/service/service.css">
<!--5MILES_APP_STYLES END-->


