<!DOCTYPE html>
<html>
<head>
    <title>5miles</title>

    <meta name="keywords"
          content="marketplace, sell, free, buy, shop, sale, garage, classifieds, local, ads, secondhand, community, used, gumtree, locl, used cars, vintage, app, mobile">
    <meta name="description"
          content="5miles is the fun, free and easy mobile app to buy, sell and explore within your city. Open your pocket shop and discover amazing local items & services. ">
    <style>
        img {
            vertical-align: middle;
        }

        .info-title {
            color: #ff7b20;
        }

        .contact {
            margin-top: 40px;
        }

        .contact-title {
            margin-left: 40px;
        }
    </style>
</head>

<body>

<%- body %>

</body>
</html>
