<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <% category.forEach(function(item){%>
    <url>
        <loc>http://5milesapp.com/search/?category=<%=item.id%></loc>
    </url>
    <%})%>

    <%siteData.forEach(function(set){
        set.urls.forEach(function(url){%>
    <url>
        <loc><%=url.url%></loc>
    </url>
    <%})})%>

</urlset>