<!DOCTYPE html>
<html>
<head>
    <title>5miles - Your Mobile Marketplace</title>

    <meta name="keywords"
          content="5miles,5milesapp,5 miles,auction,buy and sell,classifieds,offer,used,online shopping,secondhand,amazon, walmart, bestbuy, target, ebay, gumtree, craigslist, poshmark, vinted, olx, stuffle, shpock, wallapop">
    <meta name="description"
          content="5miles is the fun, free and easy mobile app to buy, sell and explore within your city. Open your pocket shop and discover amazing local items & services. ">
    <% include ../head.ejs %>
</head>

<body ng-app="app" id="categoryMbLayout" class="categoryMbLayout _gaPageView" data-pageview="category_view">
<% include ../pub/banner.ejs %>

<div class="banner_category_panel" onclick="categoryMobile(event)">
    <%
    categoryDataArray.forEach(function(item, index){%>
        <a href="/search/?category=<%= item.id %>" target="_self" class="col-xs-4 categoryMb_item">
            <img src="<%= item.icon %>" class="categoryMb_img"/>
            <span class="categoryMb_name"><%= item.title %></span>
        </a>
    <%})%>
</div>

<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
<script type="text/javascript">
    function categoryMobile(event) {
        if (event.target && event.target.className.indexOf("categoryMb") >= 0) {
            ga('send', 'event', 'category_view', 'categorymobile');
        }
    }
</script>
</body>
</html>

