<div class="noti">
    <% if (list) {%>
        <div class="noti_nav">Push Notifications</div>
        <ul class="noti_block">
            <% list.push.forEach(function(item, index){ %>
                <li class="noti_item">
                    <%= item.typeName %>
                    <%
                     iosBack = "ios-open-back";
                     if (item.action == 0) {
                         iosBack = "ios-close-back";
                     }
                    %>
                    <div class="noti_btn_pos">
                        <div class="ios-btn-back <%=iosBack%>" data-type="<%=item.type%>" data-method="<%=item.method%>">
                            <div class="ios-loader"></div>
                            <div class="ios-btn"></div>
                        </div>
                    </div>
                </li>
            <%})%>
        </ul>
        <div class="noti_nav">Email Notifications</div>
        <ul class="noti_block">
            <% list.email.forEach(function(item, index){ %>
            <li class="noti_item">
                <%= item.typeName %>
                <%
                    iosBack = "ios-open-back";
                    if (item.action == 0) {
                        iosBack = "ios-close-back";
                    }
                %>
                <div class="noti_btn_pos">
                    <div class="ios-btn-back <%=iosBack%>" data-type="<%=item.type%>" data-method="<%=item.method%>">
                        <div class="ios-loader"></div>
                        <div class="ios-btn"></div>
                    </div>
                </div>
            </li>
            <%})%>
        </ul>
        <div class="noti_nav">SMS Notification</div>
        <ul class="noti_block">
            <% list.sms.forEach(function(item, index){ %>
            <li class="noti_item">
                <%= item.typeName %>
                <%
                    iosBack = "ios-open-back";
                    if (item.action == 0) {
                        iosBack = "ios-close-back";
                    }
                %>
                <div class="noti_btn_pos">
                    <div class="ios-btn-back <%=iosBack%>" data-type="<%=item.type%>" data-method="<%=item.method%>">
                        <div class="ios-loader"></div>
                        <div class="ios-btn"></div>
                    </div>
                </div>
            </li>
            <%})%>
        </ul>
        <div class="noti_nav">Phone calls</div>
        <ul class="noti_block">
            <% list.phone.forEach(function(item, index){ %>
            <li class="noti_item">
                <%= item.typeName %>
                <%
                    iosBack = "ios-open-back";
                    if (item.action == 0) {
                        iosBack = "ios-close-back";
                    }
                %>
                <div class="noti_btn_pos">
                    <div class="ios-btn-back <%=iosBack%>" data-type="<%=item.type%>" data-method="<%=item.method%>">
                        <div class="ios-loader"></div>
                        <div class="ios-btn"></div>
                    </div>
                </div>
            </li>
            <%})%>
        </ul>
    <%}%>
</div>


