<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
    <meta charset="utf-8"/>
    <meta name="keywords"
          content="5miles,5milesapp,5 miles,five miles,auction,buy,sell">
    <meta name="description"
          content="The 5miles app is a fun, free and easy mobile marketplace to buy">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/styles/app/notification.css"/>
</head>
<body id="messageLayout" data-pageview="app-notification">
<% include notification.ejs %>

<!--5MILES_SCRIPTS-->
<script src="/js/dependencies/zepto/zepto.min.js"></script>
<script src="/js/app/notification.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../ga_app.ejs %>
</body>
</html>

