<div class="my-message container">
    <div class="row title">
        <img src="images/messages/msg-title.png" width="30px">
        <h1>You have <span ng-bind="msgTotal"></span> new message<span ng-bind="msgMulti"></span></h1>
    </div>
    <div class="row msg-content">
        <div class="col-md-6 container">
            <div class="message-item ng-cloak" ng-repeat="item in msgData" ng-cloak>
                {{item.value}} {{item.name}}
            </div>
            <div class="msg-infos ng-hide" ng-show="msgTotal!=0">
                Want to see the message details?<br>
                Download the 5miles app to read your messages and easily chat with buyers.
            </div>
            <div class="msg-infos ng-hide" ng-show="msgTotal==0">
                Want to get more messages? List something great and you'll get offers in no time. <br>
                Download the 5miles app to discover all wonderful features.
            </div>
            <% if (os.IOS || (os.IOS==undefined && os.Android==undefined)) { %>
            <div class="col-xs-12 col-md-5 apple-app" style="padding-left:0;">
                <a target="_blank" href="<%=down[1]%>" ng-mousedown="msgIos($event)">
                    <img src="/images/buttons/btn_apple_app.png" class="img-apple-app img-responsive">
                </a>
            </div>
            <% } %>
            <% if (os.Android || (os.IOS==undefined && os.Android==undefined)) { %>
            <div class="col-xs-12 col-xs-5 google-play">
                <a target="_blank" href="<%=down[0]%>" ng-mousedown="msgAndroid($event)">
                    <img src="/images/buttons/btn_google_play.png" class="img-google-play img-responsive">
                </a>
            </div>
            <% } %>
        </div>
        <div class="col-md-5 col-md-offset-1 msg-pic">
            <img src="images/messages/msgs.png" width="100%" alt="">
        </div>
    </div>
</div>



