<!DOCTYPE html>
<html>
<head>
    <title>Make a fast deal with 5miles</title>

    <meta name="keywords"
          content="online shopping,chat">
    <meta name="description"
          content="5miles is like opening a 24/7 garage, yard or moving sale with the added security of privacy.">

    <meta property="og:title" content="Make a fast deal with 5miles"/>
    <meta property="og:description" content="5miles is like opening a 24/7 garage, yard or moving sale with the added security of privacy."/>
    <meta property="og:image" content="https://5milesapp.com/images/5miles_facebook_xx.png"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="5miles"/>

    <% include ../head.ejs %>
</head>

<body ng-app="app" id="messageLayout" ng-controller="MessageController">

<% include ../pub/banner.ejs %>
<%- body %>
<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/message/msg.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
<!--  Home page tag ---->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
    window.criteo_q = window.criteo_q || [];
    window.criteo_q.push(
            { event: "setAccount", account: 17812 },
            { event: "setHashedEmail", email: "#MD5-hashed email address#" },
            { event: "setSiteType", type: "d" },
            { event: "viewHome" }
    );
</script>
</body>
</html>

