<h1 class="info-title">About Us</h1>

<p>Launched in 2014, we at 5miles are working to create the best experience for local buying and selling online.</p>

<p>
    We developed the 5miles app because we were fed up with online marketplaces that are hard to browse, charge expensive listing fees, and are full of spammers and fakes. We wanted to create a simple and safe environment where buyers and sellers can easily trade goods from the palm of their hand. Using the power of your mobile phone, 5miles has made selling as simple as taking a selfie and buying as easy as commenting on one. And free for everyone to use.
</p>

<h2>Easy</h2>

<p>Snap a photo, enter a text or voice description, and be selling to thousands of potential buyers within seconds. 5miles uses your phone's location to reach a multitude of buyers and sellers in your area. And making an offer is as quick and easy as sending a text message.</p>

<h2>Safe</h2>
<p>Along with feedback ratings, users can verify their identity by phone or via Facebook, so buyers and sellers can feel confident they are dealing with a real person. At the same time, our messaging system keeps your contact info secret so you can finally relax, no unwanted messages when using 5miles.</p>
<p>And unlike most marketplaces, our Awesome Experience Team is always hard at work reviewing items posted on 5miles, making sure they meet our high standards so you can buy without worry.</p>

<h2>Fun</h2>
<p>Flick through photos to your heart's content and find a great deal near you as you scroll through our beautiful app. “Like” your favorite items, follow great sellers, and make new connections with people in your area who are selling interesting stuff with 5miles.</p>