<h1 class="info-title">Help Center</h1>
<h2>Transaction Process:</h2>
    <p>1. Ask questions: Confirm product details, negotiate the price and agree on payment methods.</p>
    <p>2. Make a deal: Once the buyer and seller agree on an offer, the item is sold. Both the buyer and seller have a responsibility to complete the transaction.</p>
    <p>3. Conduct the transaction: If you don't conduct business face-to-face, pay with a method that offers you protection. If sending the item by mail, the seller is required to ship the item within 7 days of payment.</p>
    <p>4. Complete the transaction: Check the item when you receive it, that it matches the description and is in good condition. Then confirm delivery on 5miles. If the item does not match the description, contact seller within 3 days of delivery.</p>
<h2>Safety Tips:</h2>
<ul>
    <li>
        <p>Meet face-to-face and make sure the condition of the item matches the description before you pay for it.</p>
    </li>
    <li>
        <p>Do not meet in a secluded place or invite strangers to your home.</p>
    </li>
    <li>
        <p>Do not use money transfers (e.g. Western Union), cashier/certified checks or money orders to pay for items.</p>
    </li>
    <li>
        <p>Do not give out your financial information e.g. bank account or social security numbers.</p>
    </li>
    <li>
        <p>Do not send out the item before receiving payment.</p>
    </li>
    <li>
        <p>Be extra careful when buying or selling high value items.</p>
    </li>
</ul>
<h2>Buying & Selling</h2>
<h3>Prohibited Item Policy</h3>

<% include prohibitedItems.ejs %>

<h3>Prohibited Listing Policy</h3>
<p>1. Images</p>
<ul>
    <li>Images that are unclear, too small, too dark, or too bright.</li>
    <li>Images that do not show the whole item or the actual item.</li>
    <li>Images that are inconsistent with the item description.</li>
    <li>Images that are not clean (e.g. images with frames, text, logos, or watermarks).</li>
    <li>Images that are cell phone screenshots or composite images.</li>
    <li>Main images which do not clearly illustrate the item.</li>
</ul>
<p>2. Descriptions</p>
<ul>
    <li>Descriptions directing buyers to sites off 5miles.</li>
    <li>Descriptions offering more than one item for sale.</li>
    <li>Descriptions with offensive or inappropriate words.</li>
    <li>Descriptions containing cell phone numbers or other personal contact information.</li>
</ul>
<p>3. Pricing</p>
<ul>
    <li>Entering a low price to attract buyers and later asking for more in the description or when communicating with buyers.</li>
</ul>