<div class="main-display _gaPageView" data-pageview="info_view">
    <div class="container">
        <div class="row">
            <div class="col-md-2 hidden-xs hidden-sm"></div>
            <div class="col-md-8 col-sx-12">
                <div class="row">
                    <div class="col-xs-4 logo">
                        <a href="/">
                            <img src="/images/logo.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-4 apple-app info-download-button">
                        <a target="_blank" href="http://m.onel.ink/87c352d4">
                            <img src="/images/buttons/btn_apple_app.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-4 google-play info-download-button">
                        <a target="_blank" href="http://m.onel.ink/d4d5c3f1">
                            <img src="/images/buttons/btn_google_play.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-12 description">
                        <img src="/images/description.png" class="img-responsive">
                    </div>
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs info-nav" role="tablist">
                            <li class="<%= activeTab[0] %>">
                                <a href="#about" role="tab" data-toggle="tab" onclick="About()">About</a>
                            </li>
                            <li class="<%= activeTab[1] %>">
                                <a href="#support" role="tab" data-toggle="tab" onclick="Support()">Support</a>
                            </li>
                            <li class="<%= activeTab[2] %>">
                                <a href="#privacy" role="tab" data-toggle="tab" onclick="Privacy()">Privacy Policy</a>
                            </li>
                            <li class="<%= activeTab[3] %>">
                                <a href="#terms" role="tab" data-toggle="tab" onclick="Terms()">Terms of Use</a>
                            </li>
                        </ul>
                        <div class="info-content">
                            <div class="tab-content">
                                <div class="tab-pane fade <%= activeContent[0] %>" id="about">
                                    <%- partial('about.ejs') %>
                                </div>
                                <div class="tab-pane fade <%= activeContent[1] %>" id="support">
                                    <% include support %>
                                </div>
                                <div class="tab-pane fade <%= activeContent[2] %>" id="privacy">
                                    <% include privacy %>
                                </div>
                                <div class="tab-pane fade <%= activeContent[3] %>" id="terms">
                                    <% include terms %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm"></div>
        </div>
    </div>
</div>
<script>
    function About() {
        ga('send', 'event', 'About us', 'About');
    }
    function Support() {
        ga('send', 'event', 'About us', 'Support');
    }
    function Privacy() {
        ga('send', 'event', 'About us', 'Privacy');
    }
    function Terms() {
        ga('send', 'event', 'About us', 'Terms');
    }
    function Center() {
        ga('send', 'event', 'About us', 'helpcenter');
    }
</script>

