<style>
body {font-size:16px;}
.boldAndLine {font-weight:bold;text-decoration: underline;}
.center {text-align:center;}
.bold {font-weight:bold;}
.italicAndLine {font-style:italic;text-decoration: underline;}
._body {
    text-align:justify;
    text-justify:distribute-all-lines;/*ie6-8*/
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
}
._body a {text-decoration: underline;}
</style>
<div class="_body">

<p>&nbsp;</p>
<p class="boldAndLine center">Privacy Policy</p>
<p>Effective date: 23rd May 2015</p>

<p>We at Third Stone know you care about how your personal information is used and shared, and we take your privacy seriously.  Please read the following to learn more about our Privacy Policy.  <strong>By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.</strong><p>
<p>Remember that your use of Third Stone’s Services is at all times subject to the <a href="https://5milesapp.com/info/terms" target="_self">Terms of Use</a>, which incorporates this Privacy Policy.  Any terms we use in this Policy without defining them have the definitions given to them in the Terms of Use <a href="https://5milesapp.com/info/terms" target="_self">https://5milesapp.com/info/terms</a>.</p>

<p class="boldAndLine">What does this Privacy Policy cover?</p>

<p>This Privacy Policy covers our treatment of personally identifiable information ("Personal Information") that we gather when you are accessing or using our Services, but not to the practices of companies we don’t own or control, or people that we don’t manage.  We gather various types of Personal Information from our users, as explained in more detail below, and we use this Personal Information internally in connection with our Services, including to personalize, provide, and improve our services, to allow you to set up a user account and profile, to contact you and allow other users to contact you, to fulfill your requests for certain products and services, and to analyze how you use the Services. In certain cases, we may also share some Personal Information with third parties, but only as described below.</p>
<p>As noted in the <a href="https://5milesapp.com/info/terms" target="_self">Terms of Use</a>, we do not knowingly collect or solicit personal information from anyone under the age of 13. If you are under 13, please do not attempt to register for the Services or send any personal information about yourself to us. If we learn that we have collected personal information from a child under age 13, we will delete that information as quickly as possible. If you believe that a child under 13 may have provided us personal information, please contact us at hello@5milesapp.com.</p>

<p class="boldAndLine">Will Third Stone ever change this Privacy Policy?</p>

<p>We’re constantly trying to improve our Services, so we may need to change this Privacy Policy from time to time as well, but we will alert you to changes by placing a notice on the website at https://5milesapp.com/, by sending you an email, and/or by some other means. Please note that if you’ve opted not to receive legal notice emails from us (or you haven’t provided us with your email address), those legal notices will still govern your use of the Services, and you are still responsible for reading and understanding them.  If you use the Services after any changes to the Privacy Policy have been posted, that means you agree to all of the changes.  Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.</p>

<p class="boldAndLine">What Information does Third Stone Collect?</p>
<p class="italicAndLine">Information You Provide to Us:</p>
<p>We receive and store any information you knowingly provide to us.  For example, through the registration process and/or through your account settings, we may collect Personal Information such as your email address, phone number, and third-party account credentials (for example, your log-in credentials for Facebook or other third party sites). If you provide your third-party account credentials to us or otherwise sign in to the Services through a third party site or service, you understand some content and/or information in those accounts (“Third Party Account Information”) may be transmitted into your account with us if you authorize such transmissions, and that Third Party Account Information transmitted to our Services is covered by this Privacy Policy; for example, when you sign in 5miles via your Facebook account, your username, public profile and email address may be provided to us.  Certain information may be required to register with us or to take advantage of some of our features.</p>
<p>We may communicate with you if you’ve provided us the means to do so. For example, if you’ve given us your email address, we may send you promotional email offers, notify you of any changes to these Terms or the Services, or email you about your use of the Services.  Also, we may receive data when you open an email from us. This data helps us make our communications with you more interesting and improve our services. If you do not want to receive communications from us, please indicate your preference via the settings page within the 5miles app.  Note however that as a user of the Services you may be unable to opt-out of some administrative communications that are reasonably necessary to the Services, such as order confirmation or service notifications.</p>
<p class="italicAndLine">Information Collected Automatically.</p>
<p>Whenever you interact with our Services, we automatically receive and record information on our server logs from your browser or device, which may include your IP address, device identification, “cookie” information, the type of browser and/or device you’re using to access our Services, and the page or feature you requested. “Cookies” are identifiers we transfer to your browser or device that allow us to recognize your browser or device and tell us how and when pages and features in our Services are visited and by how many people.  You may be able to change the preferences on your browser or device to prevent or limit your device’s acceptance of cookies, but this may prevent you from taking advantage of some of our features.</p>
<p>If you click on a link to a third party website or service, a third party may also transmit cookies to you.  Again, this Privacy Policy does not cover the use of cookies by any third parties, and we aren’t responsible for their privacy policies and practices.  Please be aware that cookies placed by third parties may continue to track your activities online even after you have left our Services, and those third parties may not honor “Do Not Track” requests you have set using your browser or device.</p>
<p>We may use this data to customize content for you that we think you might like, based on your usage patterns.  We may also use it to improve the Services – for example, this data can tell us how often users use a particular feature of the Services, and we can use that knowledge to make the Services interesting to as many users as possible.</p>
<p class="italicAndLine">Geolocation Data</p>
<p>We will collect your geolocation data if you have downloaded our mobile app and enabled the location service in your phone settings for the app to access your location.  We only use geolocation data internally to enable us to provide the Services to you.  For example, we use your geolocation information to identify that you are in San Francisco so that we can prioritize and deliver the listings from San Francisco or nearby places to you.</p>

<p class="italicAndLine">Information Collected From Other Websites and Do Not Track Policy</p>
<p>Through cookies we place on your browser or device, we may collect information about your online activity after you leave our Services.  Just like any other usage information we collect, this information allows us to improve the Services and customize your online experience, and otherwise as described in this Privacy Policy.  Your browser may offer you a “Do Not Track” option, which allows you to signal to operators of websites and web applications and services (including behavioral advertising services) that you do not wish such operators to track certain of your online activities over time and across different websites.  Our Services do not support Do Not Track requests at this time, which means that we collect information about your online activity both while you are using the Services and after you leave our Services.</p>

<p class="boldAndLine">Will Third Stone Share Any of the Personal Information it Receives?</p>

<p>We do not rent or sell your Personal Information in personally identifiable form to anyone provided certain Personal Information may be transferred in connection with business transfers, as described below. We may share your Personal Information with third parties as described in this section:</p>
<p><strong>Information that’s been de-identified.</strong>  We may de-identify your Personal Information so that you are not identified as an individual, and provide that information to our partners. We may also provide aggregate usage information to our partners (or allow partners to collect that information from you), who may use such information to understand how often and in what ways people use our Services, so that they, too, can provide you with an optimal online experience. However, we never disclose aggregate usage or de-identified information to a partner (or allow a partner to collect such information) in a manner that would identify you as an individual person. For example, we use Google Analytics to grow our business, to improve or develop our services, to monitor and analyze use of our Services, for our technical administration, to increase the functionality and user-friendliness of our Services, and to verify that users have the authorization needed for us to process their requests. To learn more about the privacy policy of Google Analytics, visit http://www.google.com/intl/en/analytics/privacyoverview.html. You can opt out of the Google Analytics by visiting <a href="http://tools.google.com/dlpage/gaoptout" target="_self">http://tools.google.com/dlpage/gaoptout</a>.</p>
<p><strong>Affiliated Businesses:</strong> In certain situations, businesses or third party websites we’re affiliated with may sell or provide products or services to you through or in connection with the Services (either alone or jointly with us).  You can recognize when an affiliated business is associated with such a transaction or service, and we will share your Personal Information with that affiliated business only to the extent that it is related to such transaction or service.  For example, you may share items on Facebook, Twitter, Instagram, and Google+. To take advantage of these features, we may ask you to register for or log into such services on the websites of the respective service providers.  When you enable such third party services from the Services, we will collect your login information and other relevant information necessary to enable the Services to access that third party services and your data contained within that third party service accounts. As part of such integration, such third party services will provide us with access to certain information that you have provided to such third party services, and we will use, store and disclose such information in accordance with this Privacy Policy. In addition, by enabling third party services within 5miles, you also agree that we will share your log-in information and some other information in your 5miles account with these third party service providers for this purpose.  Please remember that the manner in which third party services use, store and disclose your information is governed solely by the policies of such third party service providers.  We have no control over the policies and practices of third party websites or businesses as to privacy or anything else, so if you choose to take part in any transaction or service relating to an affiliated website or business, please review all such business’ or websites’ policies.</p>
<p><strong>Agents:</strong> We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you; for example, we may use a payment processing company to receive and process your credit card transactions for us.  Also, we sometimes engage communication companies (such as radio stations) to promote contests launched on our Services and we may share your contact information, such as your phone number or email address, with such communication companies for contacting you about the contest, notifying you of the contest results, and other purposes related to the contest.  By participating in a contest, you agree that we may share your Personal Information with third parties as described in this paragraph.  We may also employ companies to call or email you to in order to provide better services to you, such as to welcome you when you sign up with us, to notify you of your transaction information, to remind you of your account inactivity, to provide promotion codes for you to refer your friends to our Services, or to notify you of an offer that you may be interested in.  By providing the relevant communication means to us, you agree that we may, to the extent permitted by applicable law, contact you for the above mentioned purposes.  Unless we tell you differently, our agents do not have any right to use the Personal Information we share with them beyond what is necessary to assist us.</p>
<p><strong>User Profiles and Submissions:</strong> Certain user profile information, including your username, phone number, location, and any image content that such user has uploaded to the Services, may be displayed to other users to facilitate user interaction within the Services or address your request for our services. Please remember that any content you upload to your public user profile, along with any Personal Information or content that you voluntarily disclose online in a manner other users can view (in messages etc.) becomes publicly available, and can be collected and used by anyone.  Your user name may also be displayed to other users if and when you send messages or comments or upload images or products through the Services and other users can contact you through messages and comments.</p>
<p><strong>Business Transfers:</strong> We may choose to buy or sell assets, and may share and/or transfer customer information in connection with the evaluation of and entry into such transactions. Also, if we (or our assets) are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, Personal Information could be one of the assets transferred to or acquired by a third party.</p>
<p><strong>Protection of Third Stone and Others:</strong> We reserve the right to access, read, retain, preserve, and disclose any information that we believe in our sole discretion is necessary to (a) comply with laws, court orders, or other legal processes or government requests; (b) enforce or apply our <a href="https://5milesapp.com/info/terms" target="_self">Terms of Use</a> and other agreements, guidelines, policies, and regulations; ; (c) investigate and respond to claims of alleged violations of any third party rights; or (d) protect the rights, property, or safety of Third Stone, our employees, our users, or others.</p>

<p class="boldAndLine">Is Personal Information about me secure?</p>

<p>Your account is protected by a password for your privacy and security.  If you access your account via a third party site or service, you may have additional or different sign-on protections via that third party site or service. You must prevent unauthorized access to your account and Personal Information by selecting and protecting your password and/or other sign-on mechanism appropriately and limiting access to your computer or device and browser by signing off after you have finished accessing your account.</p>
<p>We endeavor to protect the privacy of your account and other Personal Information we hold in our records, but unfortunately, we cannot guarantee complete security.  Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.</p>

<p class="boldAndLine">What Personal Information can I access?</p>

<p>Through your account settings, you may access, and, in some cases, edit or delete the following information you’ve provided to us:</p>
<ul>

<li>Nickname</li>
<li>Avatar photo</li>
<li>Phone number</li>
<li>Email</li>
<li>Listings (including images)</li>
</ul>

<p>The information you can view, update, edit, and delete may change as the Services change.  If you have any questions about viewing or updating information we have on file about you, please contact us at hello@5milesapp.com.</p>
<p>Under California Civil Code Sections 1798.83-1798.84, California residents are entitled to ask us for a notice identifying the categories of Personal Information which we share with our affiliates and/or third parties for marketing purposes, and providing contact information for such affiliates and/or third parties.  If you are a California resident and would like a copy of this notice, please submit a written request to: hello@5milesapp.com</p>

<p class="boldAndLine">What choices do I have?</p>

<p>You can always opt not to disclose information to us, but keep in mind some information may be needed to register with us or to take advantage of some of our features.</p>
<p>You may be able to add, update, or delete information as explained above.  When you update information, however, we may maintain a copy of the unrevised information in our records.  You may request deletion of your account by contacting us by email at <a href="mailto:hello@5milesapp.com" target="blank">hello@5milesapp.com</a> or you may deactivate your 5miles account by accessing the Help Center at <a href="https://5milesapp.com/info/helpCenter" target="_self">https://5milesapp.com/info/helpCenter</a>. Please note that we may be required (by law or otherwise) to retain your account information or any other information associated with it and not delete it (or to keep this information for a certain period of time, in which case we will comply with your deletion request only after we have fulfilled such requirements).  Some information may remain in our records after your deletion of such information from your account. We may use any aggregated data derived from or incorporating your Personal Information after you update or delete it, but not in a manner that would identify you personally.</p>

<p class="boldAndLine">What if I have questions about this policy?</p>
<p>If you have any questions or concerns regarding our privacy policies, please send us a detailed message to hello@5milesapp.com and we will try to resolve your concerns.</p>

</div>