<ul style="list-style: decimal">
    <li><p>Illegal or unlawful items</p></li>
    <li>
        <p>
            Prescription or non prescription drugs or devices, or drug paraphernalia or any vitamins,
            supplements or substances, items or equipment related to the use or manufacture of drugs,
            controlled substances, or medical or pharmaceutical supplies
        </p>
    </li>
    <li>
        <p>
            Counterfeit or fake items or any items that infringe the intellectual property rights of
            another (including software and other digital material that infringes the copyright of
            others)
        </p>
    </li>
    <li>
        <p>
            Alcoholic beverages or any other substances or items which require a license for
            distribution
        </p>
    </li>
    <li>
        <p>Tobacco and tobacco related items, electric cigarettes and other such items</p>
    </li>
    <li>
        <p>
            Hazardous or potentially dangerous materials including toxic substances, explosive
            materials,
            pesticides or items related to the manufacture of toxic substances or explosives
        </p>
    </li>
    <li>
        <p>
            Any endangered or protected species or part of any such species or non domesticated animals or any animals or animal related products that are prohibited under any Federal or State legislation in any country. As the laws relating to the trade of animals and animal related products are complex, please consult the relevant Federal or State legislation. These rules apply to all 5miles members regardless of their location.
        </p>
    </li>
    <li>
        <p>
            Fireworks or any other destructive devices
        </p>
    </li>
    <li>
        <p>
            Any material containing personal information of an individual including but not limited to
            any forms of identification or financial records, identification or financial records or mailing lists.
        </p>
    </li>
    <li>
        <p>
            Tools and devices that encourage, facilitate or relate to illegal or unlawful activity
            including theft and burglary
        </p>
    </li>
    <li>
        <p>
            Offensive material or material that may be considered offensive including items that include
            nudity, profanity, violence, obscene images or material inappropriate for minors
        </p>
    </li>
    <li>
        <p>
            Escort or prostitution services that suggest or include sexual services
        </p>
    </li>
    <li>
        <p>
            Blood, body parts or any bodily fluids
        </p>
    </li>
    <li>
        <p>
            Any services relating to adoption or surrogacy
        </p>
    </li>
    <li>
        <p>
            Government, military or official documents, items or equipment including forms of
            identification, licenses, uniforms
        </p>
    </li>
    <li>
        <p>
            Stolen property
        </p>
    </li>
    <li>
        <p>
            Weapons and related items (including, but not limited to guns, firearms, firearm
            accessories, parts and magazines, ammunition, paintball guns, tear gas, switchblade knives,
            slingshots, archery, bows and arrows, spearguns, tasersand stun guns)
        </p>
    </li>
    <li>
        <p>
            Lottery, sweepstakes or promotional entries and tickets
        </p>
    </li>
    <li>
        <p>
            Pokie machines
        </p>
    </li>
    <li>
        <p>
            Restricted or regulated plants and animals
        </p>
    </li>
    <li>
        <p>
            Stocks, securities or currency
        </p>
    </li>
    <li>
        <p>
            Sanctioned or embargoed goods
        </p>
    </li>
    <li>
        <p>
            Telecommunications or electronics equipment that is illegal or facilitates or is related to
            illegal or unlawful behavior including but not limited to radar scanners, descramblers
        </p>
    </li>
    <li>
        <p>
            Services or jobs related to or offered by pyramid schemes, network marketing companies or
            similar
        </p>
    </li>
    <li>
        <p>
            Used cosmetics, makeup, soap, shampoo, conditioner, lotion or other such products
        </p>
    </li>
    <li>
        <p>
            Live animals
        </p>
    </li>
    <li>
        <p>
            Listings for services or other intangible products
        </p>
    </li>
    <li>
        <p>
            All food products
        </p>
    </li>
    <li>
        <p>
            Wanted ads
        </p>
    </li>
    <li>
        <p>
            Used Underwear & Swimwear
        </p>
    </li>
    <li>
        <p>
            Credit & Debit Cards
        </p>
    </li>
</ul>

