<div class="main-display">
    <div class="container">
        <div class="row">

            <div class="col-md-2 hidden-xs hidden-sm"></div>

            <div class="col-md-8 col-sx-12 info-content">
                <h1 class="info-title">Prohibited Items Policy</h1>

                <p>
                    As a member of the 5miles community you must not list for sale any of the following items
                    ("Prohibited Items and Services"):</p>

                <% include prohibitedItems.ejs %>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm"></div>

        </div>
    </div>
</div>
