<h1 class="info-title">Support</h1>
<p>Need to contact us? Send us an email by clicking below or send us a message.</p>

<p class="contact">
    <img src="/images/icons/icon_email.png"
         class="img-responsive icon-support">
    <span class="contact-title supportEmail_phoneScreen"><a href="mailto:Support@5milesapp.com">Support@5milesapp.com</a></span>

</p>

<p class="contact">
    <img src="/images/icons/icon_square_facebook.png"
         class="img-responsive icon-support">
    <a href="https://facebook.com/5milesapp" class="contact-title">5miles</a>
</p>

<p class="contact">
    <img src="/images/icons/icon_square_twitter.png"
         class="img-responsive icon-support">
    <a href="https://twitter.com/5milesapp" class="contact-title">@5milesapp</a>
</p>

<p class="contact">
    <img src="/images/icons/icon_square_instagram.png"
         class="img-responsive icon-support">
    <a href="http://instagram.com/5milesapp" class="contact-title">5milesapp</a>
</p>