<style>
    body {font-size:16px;}
    .boldAndLine {font-weight:bold;text-decoration: underline;}
    .center {text-align:center;}
    .bold {font-weight:bold;}
    .italicAndLine {font-style:italic;text-decoration: underline;}

    ._body {
        text-align:justify;
        text-justify:distribute-all-lines;/*ie6-8*/
        text-align-last:justify;/* ie9*/
        -moz-text-align-last:justify;/*ff*/
        -webkit-text-align-last:justify;/*chrome 20+*/
    }
    ._body a {text-decoration: underline;}
    ._body ul li {list-style: none}
</style>
<div class="_body">
    <p>&nbsp;</p>
    <p class="bold">PLEASE NOTE THAT YOUR USE OF AND ACCESS TO OUR SERVICES (DEFINED BELOW) ARE SUBJECT TO THE FOLLOWING TERMS; IF YOU DO NOT AGREE TO ALL OF THE FOLLOWING, YOU MAY NOT USE OR ACCESS THE SERVICES IN ANY MANNER.</p>
    <p class="boldAndLine center">Terms of Use</p>
    <p>Effective date: 23rd May, 2015</p>
    <p>Welcome to <strong>5miles</strong>.  Please read on to learn the rules and restrictions that govern your use of our website(s), products, services and applications (the “Services”).  If you have any questions, comments, or concerns regarding these terms or the Services, please contact us at <a href="mailto:hello@5milesapp.com" target="blank">hello@5milesapp.com</a>, <strong>844 95MILES, Level 5, 5307 East Mockingbird Lane, Dallas, Texas 75206.</strong></p>
    <p>These Terms of Use (the “Terms”) are a binding contract between you and The Third Stone Holdings Limited. (“Third Stone,” “we” and “us”).   You must agree to and accept all of the Terms, or you don’t have the right to use the Services.  Your using the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while you use the Services.  These Terms include the provisions in this document, those in the <a href="https://5milesapp.com/info/privacy" target="_self">Privacy Policy and Copyright Dispute Policy</a> as well as guidelines, policies, and regulations that Third Stone makes available on the Services (including without limitation the Help Center http://help.5milesapp.com/) and are subject to change from time to time.</p>
    <p class="boldAndLine">Will these Terms ever change?</p>
    <p>We are constantly trying to improve our Services, so these Terms may need to change along with the Services.  We reserve the right to change the Terms at any time, but if we do, we will bring it to your attention by placing a notice on the website at https://5milesapp.com/, by sending you an email, and/or by some other means.</p>
    <p>If you don’t agree with the new Terms, you are free to reject them; unfortunately, that means you will no longer be able to use the Services.  If you use the Services in any way after a change to the Terms is effective, that means you agree to all of the changes.</p>
    <p>Except for changes by us as described here, no other amendment or modification of these Terms will be effective unless in writing and signed by both you and us.</p>

    <p class="boldAndLine">What about my privacy?</p>
    <p>Third Stone takes the privacy of its users very seriously.  For the current Third Stone Privacy Policy, please click <a href="https://5milesapp.com/info/privacy" target="_self">here</a>.</p>
    <p>The Children’s Online Privacy Protection Act (“COPPA”) requires that online service providers obtain parental consent before they knowingly collect personally identifiable information online from children who are under 13.  We do not knowingly collect or solicit personally identifiable information from children under 13; if you are a child under 13, please do not attempt to register for the Services or send any personal information about yourself to us.  If we learn we have collected personal information from a child under 13, we will delete that information as quickly as possible.  If you believe that a child under 13 may have provided us personal information, please contact us at <a href="mailto:hello@5milesapp.com" target="blank">hello@5milesapp.com</a> .</p>
    <p class="boldAndLine">What are the basics of using 5miles?</p>
    <p>You may be required to sign up for an account, and select a password and user name (“Third Stone User ID”).  You promise to provide us with accurate, complete, and updated registration information about yourself.  You also promise to promptly notify us if the mobile phone number you provided for us to communicate with you is changed.  You may not select as your Third Stone User ID a name that you don’t have the right to use, or another person’s name with the intent to impersonate that person. You may not transfer your account to anyone else without our prior written permission.</p>
    <p>You represent and warrant that you are of legal age to form a binding contract (or if not, you’ve received your parent’s or guardian’s permission to use the Services and gotten your parent or guardian to agree to these Terms on your behalf).  If you’re agreeing to these Terms on behalf of an organization or entity, you represent and warrant that you are authorized to agree to these Terms on that organization or entity’s behalf and bind them to these Terms (in which case, the references to “you” and “your” in these Terms, except for in this sentence, refer to that organization or entity).</p>
    <p>You will only use the Services for your own personal use, and not on behalf of or for the benefit of any third party, and only in a manner that complies with all laws that apply to you.  If your use of the Services is prohibited by applicable laws, then you aren’t authorized to use the Services.  We can’t and won’t be responsible for your using the Services in a way that breaks the law.</p>
    <p>You will not share your account or password with anyone, and you must protect the security of your account and your password.  You’re responsible for any activity associated with your account.</p>
    <p class="bold">Your use of the Services is subject to the following additional restrictions:</p>
    <p>You represent, warrant, and agree that you will not contribute any Content or User Submission (each of those terms is defined below) or otherwise use the Services or interact with the Services in a manner that:</p>
    <ul>
    <li>(a)	Infringes or violates the intellectual property rights or any other rights of anyone else (including Third Stone);</li>
    <li>(b)	Violates any law or regulation, including any applicable export control laws;</li>
    <li>(c)	Is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, or otherwise objectionable;</li>
    <li>(d)	Jeopardizes the security of your Third Stone account or anyone else’s (such as allowing someone else to log in to the Services as you);</li>
    <li>(e)	Attempts, in any manner, to obtain the password, account, or other security information from any other user;</li>
    <li>(f)	Violates the security of any computer network, or cracks any passwords or security encryption codes;</li>
    <li>(g)	Runs Maillist, Listserv, unsolicited or unauthorized advertising, promotional materials, commercial activities and/or sales, any form of auto-responder or “spam” on the Services, or any processes that run or are activated while you are not logged into the Services, or that otherwise interfere with the proper working of the Services (including by placing an unreasonable load on the Services’ infrastructure);</li>
    <li>(h)	“Crawls,” “scrapes,” or “spiders” any page, data, or portion of or relating to the Services or Content (through use of manual or automated means);</li>
    <li>(i)	Copies or stores any significant portion of the Content;</li>
    <li>(j)	Decompiles, reverse engineers, or otherwise attempts to obtain the source code or underlying ideas or information of or relating to the Services;</li>
    <li>(k)	Lists, sells, offers, or otherwise provides any replicas, counterfeit items, unauthorized items, stolen property, or any items listed in our Prohibited Items Policy available at <a href="https://5milesapp.com/info/privacy" target="_self">https://5milesapp.com/info/privacy</a> ;</li>
    <li>(l)	Access, use, or otherwise exploit the Services in violation of any applicable agreements, guidelines, regulations, or policies that Third Stone makes available on the Services or otherwise in a manner deemed objectionable by Third Stone in its sole discretion.</li>
    </ul>

    <p>A violation of any of the foregoing is grounds for termination of your right to use or access the Services.</p>
    <p class="boldAndLine">What are my rights in 5miles?</p>
    <p>The materials displayed or performed or available on or through the Services, including, but not limited to, marks, logos, brand names, text, graphics, data, articles, photos, images, illustrations, User Submissions, and so forth (all of the foregoing, the “Content”) are protected by copyright, patent, trademark, trade secret, and/or other intellectual property laws.  You promise to abide by all copyright notices, trademark rules, information, and restrictions contained in any Content you access through the Services, and you won’t use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, rent, lease, loan, sell or otherwise exploit for any purpose any Content not owned by you, (i) without the prior consent of the owner of that Content or (ii) in a way that violates someone else’s (including Third Stone’s) rights.</p>
    <p>You understand that Third Stone owns the Services. You won’t modify, publish, transmit, participate in the transfer or sale of, reproduce (except as expressly provided in this Section), create derivative works based on, or otherwise exploit any of the Services.</p>
    <p>The Services may allow you to copy or download certain Content; please remember that just because this functionality exists, doesn’t mean that all the restrictions above don’t apply – they do!</p>
    <p class="boldAndLine">Do I have to grant any licenses to Third Stone or to other users?</p>
    <p>Anything you post, upload, share, store, or otherwise provide through the Services is your “User Submission.”  Some User Submissions are viewable by other users.  In order to display your User Submissions on the Services, and to allow other users to enjoy them (where applicable), you grant us certain rights in those User Submissions.  Please note that all of the following licenses are subject to our <a href="https://5milesapp.com/info/privacy" target="_self">Privacy Policy</a> to the extent they relate to User Submissions that are also your personally-identifiable information.</p>
    <p>For all User Submissions, you hereby grant Third Stone a license to translate, modify (for technical purposes, for example making sure your content is viewable on an iPhone as well as a computer) and reproduce and otherwise act with respect to such User Submissions, in each case to enable us to operate the Services, as described in more detail below.  This is a license only – your ownership in User Submissions is not affected.</p>
    <p>If you store a User Submission in your own personal Third Stone account, in a manner that is not viewable by any other user except you (a “Personal User Submission”), you grant Third Stone the license above, as well as a license to display, perform, and distribute your Personal User Submission for the sole purpose of making that Personal User Submission accessible to you and providing the Services necessary to do so.</p>
    <p>If you share a User Submission only in a manner that only certain specified users can view (for example, a private message to one or more other users)(a “Limited Audience User Submission”), then you grant Third Stone the licenses above, as well as a license to display, perform, and distribute your Limited Audience User Submission for the sole purpose of making that Limited Audience User Submission accessible to such other specified users, and providing the Services necessary to do so.  Also, you grant such other specified users a license to access that Limited Audience User Submission, and to use and exercise all rights in it, as permitted by the functionality of the Services.</p>
    <p>If you share a User Submission publicly on the Services and/or in a manner that more than just you or certain specified users can view, or if you provide us (in a direct email or otherwise) with any feedback, suggestions, improvements, enhancements, and/or feature requests relating to the Services (each of the foregoing, a “Public User Submission”), then you grant Third Stone the licenses above, as well as a license to display, perform, and distribute your Public User Submission for the purpose of making that Public User Submission accessible to all Third Stone users and providing the Services necessary to do so, as well as all other rights necessary to use and exercise all rights in that Public User Submission in connection with the Services and/or otherwise in connection with Third Stone’s business.  Also, you grant all other users of the Services a license to access that Public User Submission, and to use and exercise all rights in it, as permitted by the functionality of the Services.</p>
    <p>You agree that the licenses you grant are royalty-free, perpetual, sublicenseable, irrevocable, and worldwide, provided that when you delete your Third Stone account, we will stop displaying your User Submissions (other than Public User Submissions, which may remain fully available) to other users (if applicable), but you understand and agree that we may be required by law or otherwise to retain your account information or any other information associated with it and it may not be possible to completely delete that content from Third Stone’s records, and that your User Submissions may remain viewable elsewhere to the extent that they were copied or stored by other users.</p>
    <p>Finally, you understand and agree that Third Stone, in performing the required technical steps to provide the Services to our users (including you), may need to make changes to your User Submissions to conform and adapt those User Submissions to the technical requirements of connection networks, devices, services, or media, and the foregoing licenses include the rights to do so.</p>
    <p class="boldAndLine">What if I see something on the Services that infringes my copyright?</p>
    <p>You may have heard of the Digital Millennium Copyright Act (the “DMCA”), as it relates to online service providers, like Third Stone, being asked to remove material that allegedly violates someone’s copyright.  We respect others’ intellectual property rights, and we reserve the right to delete or disable Content alleged to be infringing, and to terminate the accounts of repeat alleged infringers; to review our complete Copyright Dispute Policy and learn how to report potentially infringing content, click <a href="https://5milesapp.com/info/privacy" target="_self">here</a>.  To learn more about the DMCA, click <a href="http://www.copyright.gov/legislation/dmca.pdf" target="blank">here</a>.</p>
    <p class="boldAndLine">Who is responsible for what I see and do on the Services?</p>
    <p>Any information or content publicly posted or privately transmitted through the Services is the sole responsibility of the person from whom such content originated, and you access all such information and content at your own risk, and we aren’t liable for any errors or omissions in that information or content or for any damages or loss you might suffer in connection with it.   We cannot control and have no duty to take any action regarding how you may interpret and use the Content or what actions you may take as a result of having been exposed to the Content, and you hereby release us from all liability for you having acquired or not acquired Content through the Services.  We can’t guarantee the identity of any users with whom you interact in using the Services and are not responsible for which users gain access to the Services.</p>
    <p>You are responsible for all Content you contribute, in any manner, to the Services, and you represent and warrant you have all rights necessary to do so, in the manner in which you contribute it.  You will keep all your registration information accurate and current.  You are responsible for all your activity in connection with the Services.  Third Stone shall have the right to remove any item or content that violates these Terms or is otherwise deemed objectionable by Third Stone in its sole discretion.</p>
    <p>The Services may contain links or connections to third party websites or services that are not owned or controlled by Third Stone. When you access third party websites or use third party services, you accept that there are risks in doing so, and that Third Stone is not responsible for such risks.  We encourage you to be aware when you leave the Services and to read the terms and conditions and privacy policy of each third party website or service that you visit or utilize.</p>
    <p>Third Stone acts as an open marketplace for users to interact with other users to buy and sell items listed by users on the Services, is not involved in any transactions between buyers and sellers who use the Service, and does not act as the buyer or seller (or agent for buyers or sellers) with respect to any such transactions.  Third Stone has no control over, does not endorse or guarantee, and assumes no responsibility for, the content, accuracy, privacy policies, or practices of or opinions expressed in any third party websites or by any third party that you interact with through the Services. In addition, Third Stone will not and cannot monitor, verify, censor or edit the content of any third party site or service. By using the Services, you release and hold us harmless from any and all liability arising from your use of any third party website or service.</p>
    <p>Your interactions with organizations and/or individuals found on or through the Services, including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such organizations and/or individuals. You should make whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction with any of these third parties. You agree that Third Stone shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings.</p>
    <p>If there is a dispute between participants on this site, or between users and any third party, you agree that Third Stone is under no obligation to become involved.  Third Stone reserves the right to publish the applicable guidelines, policies, and regulations to regulate sellers’ or buyers’ standards of behaviors and dispute resolution procedures for customer complaints.  In the event that you have a dispute with one or more other users, you release Third Stone, its officers, employees, agents, and successors from claims, demands, and damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and/or our Services. If you are a California resident, you shall and hereby do waive California Civil Code Section 1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which, if known by him or her must have materially affected his or her settlement with the debtor."</p>
    <p class="boldAndLine">Will Third Stone ever change the Services?</p>
    <p>We’re always trying to improve the Services, so they may change over time.  We may suspend or discontinue any part of the Services, or we may introduce new features or impose limits on certain features or restrict access to parts or all of the Services.  We’ll try to give you notice when we make a material change to the Services that would adversely affect you, but this isn’t always practical. Similarly, we reserve the right to remove any Content from the Services at any time, for any reason (including, but not limited to, if someone alleges you contributed that Content in violation of these Terms), in our sole discretion, and without notice.</p>
    <p class="boldAndLine">Does 5miles cost anything?</p>
    <p>Your access and use of the Services are currently free.  If you choose to sell goods through the Services, you are responsible for all income taxes associated with the purchase and sale of any items through the Service.  If you choose to purchase goods through the Services, you will be charged the listed price for such good or service, together with any applicable shipping fees and taxes.  All payments are processed by a third party payment processing service provider, and Third Stone does not collect, store or retain your credit card or any other payment methods you provide to such third party payment processing service provider.  All such shipping costs and taxes are not included in the listed price for any items made available from sellers through the Service, but will be displayed to buyers before confirmation of any purchase.  Third Stone may limit or cancel quantities of product purchased, and it reserves the right to refuse any order.  In the event Third Stone needs to make a change to an order, it will attempt to notify you by contacting the email address and/or phone number provided in your account.  The prices for items displayed on the Services are quoted in the displayed currency.  Prices are subject to change at any time.  Applicable taxes (including sales, excise, import, export, VAT and other taxes or duties associated with the purchase and sale of any items) will be determined by Third Stone and automatically be added to the order.  If you provide inaccurate or incomplete credit card information, your transaction may not be able to be completed, and your purchase may be cancelled or delayed.</p>
    <p>We reserve the right to charge for certain or all Services in the future.  We will try to notify you before any Services you are then using begin carrying a fee, but it may not always be possible.  Any such changes are effective when we post information about the fee change through the Service.  If you wish to continue using such Services, you must pay all applicable fees for such Services.</p>
    <p class="boldAndLine">What else do I need to know if I want to make a sale on the Services?</p>
    <p>You must have the legal authority to sell the items that you are listing for sale through the Services. You must describe your item and all terms of sale in your listing truthfully, accurately, reasonably, and completely in according with the Listing Guidelines available at <a href="https://5milesapp.com/info/privacy" target="_self">https://5milesapp.com/info/privacy</a>.  An offer to sell may be retracted at any time prior to its acceptance, but not after.  Third Stone prohibits the listing or sale of any item that is illegal to sell under any applicable law, statute, ordinance, or regulation, including without limitation items listed in our Prohibited Items Policy available at <a href="https://5milesapp.com/info/privacy" target="_self">https://5milesapp.com/info/privacy</a> .</p>
    <p class="boldAndLine">What if I want to stop using 5miles?</p>
    <p>You can deactivate your 5miles account by accessing the Help Center at <a href="https://5milesapp.com/info/helpcenter" target="_self">https://5milesapp.com/info/helpcenter</a> , or you can request us to delete your account by contacting us by email at <a href="hello@5milesapp.com" target="blank">hello@5milesapp.com</a>.  Please refer to our <a href="https://5milesapp.com/info/privacy" target="_self">Privacy Policy</a>, as well as the licenses above, to understand how we treat information you provide to us after you have stopped using our Services.</p>
    <p>Third Stone is also free to terminate (or suspend access to) your use of the Services or your account, for any reason in our discretion, including your breach of these Terms.   Third Stone has the sole right to decide whether you are in violation of any of the restrictions set forth in these Terms.</p>
    <p>Once we delete your account, we will not be able to re-activate it.  If the account is deactivated by you, you can re-activate it by accessing the Help Center at <a href="https://5milesapp.com/info/helpcenter" target="_self">https://5milesapp.com/info/helpcenter</a> .  Account termination, deletion, or deactivation may result in destruction of any and/or all Content associated with your account, so keep that in mind before you decide to terminate your account.  We will try to provide advance notice to you prior to our terminating your account so that you are able to retrieve any important User Submissions you may have stored in your account (to the extent allowed by law and these Terms), but we may not do so if we determine it would be impractical, illegal, not in the interest of someone’s right, safety or security, or otherwise harmful to the rights or property of Third Stone.</p>
    <p>Provisions that, by their nature, should survive termination of these Terms shall survive termination.  By way of example, all of the following will survive termination: any obligation you have to pay us or indemnify us, any limitations on our liability, any terms regarding ownership or intellectual property rights, and terms regarding disputes between us.</p>
    <p class="boldAndLine">I use the Third Stone App available via the Apple App Store – should I know anything about that?</p>
    <p>These Terms apply to your use of all the Services, including the iPhone, iPad Touch, and iPad applications available via the Apple, Inc. (“Apple”) App Store (the “Application”), but the following additional terms also apply to the Application:</p>
    <ul>
    <li>(a)	Both you and Third Stone acknowledge that the Terms are concluded between you and Third Stone only, and not with Apple, and that Apple is not responsible for the Application or the Content;</li>
    <li>(b)	The Application is licensed to you on a limited, non-exclusive, non-transferrable, non-sublicensable basis, solely to be used in connection with the Services for your private, personal, non-commercial use, subject to all the terms and conditions of these Terms as they are applicable to the Services;</li>
    <li>(c)	You will only use the Application in connection with an Apple device that you own or control;</li>
    <li>(d)	You acknowledge and agree that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Application;</li>
    <li>(e)	 In the event of any failure of the Application to conform to any applicable warranty, including those implied by law, you may notify Apple of such failure; upon notification, Apple’s sole warranty obligation to you will be to refund to you the purchase price, if any, of the Application;</li>
    <li>(f)	You acknowledge and agree that Third Stone, and not Apple, is responsible for addressing any claims you or any third party may have in relation to the Application;</li>
    <li>(g)	You acknowledge and agree that, in the event of any third party claim that the Application or your possession and use of the Application infringes that third party’s intellectual property rights, Third Stone, and not Apple, will be responsible for the investigation, defense, settlement and discharge of any such infringement claim;</li>
    <li>(h)	 You represent and warrant that you are not located in a country subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country, and that you are not listed on any U.S. Government list of prohibited or restricted parties;</li>
    <li>(i)	Both you and Third Stone acknowledge and agree that, in your use of the Application, you will comply with any applicable third party terms of agreement which may affect or be affected by such use;</li>
    <li>(j)	Both you and Third Stone acknowledge and agree that Apple and Apple’s subsidiaries are third party beneficiaries of these Terms, and that upon your acceptance of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms against you as the third party beneficiary hereof.</li>
    </ul>
    <p class="boldAndLine">What else do I need to know?</p>
    <p><span class="italicAndLine">Warranty Disclaimer.</span>  Neither Third Stone nor its licensors or suppliers makes any representations or warranties concerning any content contained in or accessed through the Services, and we will not be responsible or liable for the accuracy, copyright compliance, legality, or decency of material contained in or accessed through the Services.  We (and our licensors and suppliers) make no representations or warranties regarding suggestions or recommendations of services or products offered or purchased through the Services.  Products and services purchased or offered (whether or not following such recommendations and suggestions) through the Services are provided “AS IS” and without any warranty of any kind from Third Stone or others (unless, with respect to such others only, provided expressly and unambiguously in writing by a designated third party for a specific product).  THE SERVICES AND CONTENT ARE PROVIDED BY THIRD STONE (AND ITS LICENSORS AND SUPPLIERS) ON AN “AS-IS” BASIS, WITHOUT WARRANTIES OR ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR  A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE.  SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
    <p><span class="italicAndLine">Limitation of Liability.</span>  TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (INCLUDING, WITHOUT LIMITATION, TORT, CONTRACT, STRICT LIABILITY, OR OTHERWISE) SHALL THIRD STONE (OR ITS LICENSORS OR SUPPLIERS) BE LIABLE TO YOU OR TO ANY OTHER PERSON FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, OR (B) ANY AMOUNT, IN THE AGGREGATE, IN EXCESS OF $100, OR (C) ANY MATTER BEYOND OUR REASONABLE CONTROL.  SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SO THE ABOVE LIMITATION AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
    <p><span class="italicAndLine">Indemnity.</span>  To the fullest extent allowed by applicable law, you agree to indemnify and hold Third Stone, its affiliates, officers, agents, employees, and partners harmless from and against any and all claims, liabilities, damages (actual and consequential), losses and expenses (including attorneys’ fees) arising from or in any way related to any third party claims relating to (a) your use of the Services (including any actions taken by a third party using your account), and (b) your violation of these Terms.</p>
    <p><span class="italicAndLine">Assignment.</span>  You may not assign, delegate or transfer these Terms or your rights or obligations hereunder, or your Services account, in any way (by operation of law or otherwise) without Third Stone’s prior written consent.  We may transfer, assign, or delegate these Terms and our rights and obligations without consent.</p>
    <p><span class="italicAndLine">Choice of Law; Arbitration.</span>  These Terms are governed by and construed in accordance with the laws of the State of Delaware, without regard to the conflict of laws provisions thereof.  Except for the right of either party to apply to any court of competent jurisdiction for a temporary restraining order, a preliminary injunction, or other equitable relief to preserve the status quo or prevent irreparable harm, any dispute, controversy or claim arising from or relating to the subject matter of these Terms shall be finally settled  by binding arbitration in accordance with the Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS ") then in effect (“Rules”), by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected from the appropriate list of JAMS arbitrators in accordance with such Rules. The seat of arbitration will be Dallas, Texas and the arbitration will be conducted in English. Judgment upon the award rendered by such arbitrator may be entered in any court of competent jurisdiction. Notwithstanding the foregoing obligation to arbitrate disputes, each party shall have the right to pursue injunctive or other equitable relief at any time, from any court of competent jurisdiction. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in Dallas, Texas.</p>
    <p><span class="italicAndLine">Miscellaneous.</span>  You will be responsible for paying, withholding, filing, and reporting all taxes, duties, and other governmental assessments associated with your activity in connection with the Services, provided that the Third Stone may, in its sole discretion, do any of the foregoing on your behalf or for itself as it sees fit.  The failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver of any further rights hereunder.  If any provision of these Terms is found to be unenforceable or invalid, that provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall otherwise remain in full force and effect and enforceable.  You and Third Stone agree that these Terms are the complete and exclusive statement of the mutual understanding between you and Third Stone, and that it supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of these Terms.  You hereby acknowledge and agree that you are not an employee, agent, partner, or joint venture of Third Stone, and you do not have any authority of any kind to bind Third Stone in any respect whatsoever. Except as expressly set forth in the section above regarding the Apple Application, you and Third Stone agree there are no third party beneficiaries intended under these Terms.</p>



</div>