<!DOCTYPE html>
<html>
<head>
    <title><%=keyword%> in 5miles</title>

    <meta name="keywords"
          content="buy,<%=keyword%>,online shopping,secondhand">
    <meta name="description"
          content="Looking for <%=keyword%>? 5miles has the best local deals on <%=keyword%> for you to buy.">
    <meta property="og:title" content="<%=keyword%> in 5miles"/>
    <meta property="og:description" content="Looking for <%=keyword%>? 5miles has the best local deals on <%=keyword%> for you to buy."/>
    <meta property="og:image" content="/images/5miles_facebook_xx.png"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="5miles"/>
    <% include ../head.ejs %>
</head>

<body ng-app="app" id="homeLayout" ng-controller="SearchController" class="layout_home footerRelative searchMbShowBody _gaPageView" data-pageview="search_view">

<!--<div class="fixed1080">-->
    <% include ../pub/banner.ejs %>
    <% include ../pub/bannerCategory.ejs %>
    <% include nav.ejs %>
    <% include ../home/waterfall.ejs %>
<!--</div>-->

<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/dependencies/masonry.pkgd.min.js"></script>
<script src="/js/dependencies/imagesloaded.pkgd.min.js"></script>
<script src="/js/home/home.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
<% include ../gsearch.ejs %>

<!--  Listing page tag ---->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
    window.criteo_q = window.criteo_q || [];
    window.criteo_q.push(
            { event: "setAccount", account: 17812 },
            { event: "setHashedEmail", email: "#MD5-hashed email address#" },
            { event: "setSiteType", type: "d" },
            { event: "viewList", item: ["#First item id#", "#Second item id#", "#Third item id#"] }
    );
</script>
</body>
</html>

