<style>
    #act_outer{height:200px; width:100%; background:#ed7e12; position:relative; padding-top:10px; overflow:hidden;}
    #act_left{width:40px; display:block; height:126px; line-height: 160px;position:absolute; left:10%;margin-left: -32px; top:0px;z-index:2; opacity:0.8;overflow:hidden;}
    #act_right{width:40px; display:block; height:126px;line-height: 160px; position:absolute; right:10%;margin-right: -51px; top:0px;z-index:2; overflow:hidden; opacity:0.8;}
    #act_left:hover,#act_right:hover {opacity: 0.5;}
    #act_demo{overflow: hidden; width:80%;height:126px; margin:10px 10%; position:relative; z-index:0;}
    .act_name{height:126px; width:126px;overflow:hidden;display:block; line-height:27px; text-align:center; margin: 0px 6px;border: 0px #f2bf0c solid;}
    .act_image:hover {border: 1px #f2bf0c solid;}
</style>
<div id="act_outer">
    <a href="#nogo" hidefocus id="act_left"><img src="images/promotion/active_left.png"/></a>
    <div id="act_demo" >
            <table width="100%" border="0"  cellpadding="0" bgcolor="#FFFFFF">
                <tr>
                    <td id="act_demo1" valign="top">
                        <table id="act_demo1_table" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr valign="top" >
                                    <td align="center" ng-repeat="obj in newItems" style="">
                                        <div>
                                            <a ng-href="/item/{{obj.fuzzy_item_id}}" class="act_name">
                                                <img style="width:126px;height:126px;display:block;"
                                                     ng-style="{'background': 'url({{obj.image}}) no-repeat center center / cover'}"
                                                     class="act_image"/>
                                            </a>
                                        </div>
                                    </td>
                            </tr>
                        </table>
                    </td>
                    <td id="act_demo2" valign="top"></td>
                </tr>
            </table>
    </div>
    <a href="#nogo" hidefocus id="act_right"><img src="images/promotion/active_right.png" /></a>
</div>
<script type="text/javascript" language="javascript">
//    window.onload=function(){

        function getElement(id){
            return document.getElementById(id);
        }
        var speed=20;//滚动速度
        var demo=getElement("act_demo");
        var demo2=getElement("act_demo2");
        var demo1=getElement("act_demo1");
        demo2.innerHTML=demo1.innerHTML//复制demo1中的图片到demo2中

        function Marqueeleft(){//向左滚动
            if(demo2.offsetWidth-demo.scrollLeft<=0)
                demo.scrollLeft-=demo1.offsetWidth
            else
                demo.scrollLeft++
        }
        var fixWid = getElement("act_demo1_table").offsetWidth;
        function Marqueeright(){//向右滚动
            if(demo2.offsetWidth-demo.scrollLeft>=fixWid)
                demo.scrollLeft+=demo1.offsetWidth
            else
                demo.scrollLeft--
        }
        var MyMar=setInterval(Marqueeleft,speed)//自动开始滚动
        Direction='Left';//设定初始方向为向左滚
        demo.onmouseover=function() {clearInterval(MyMar)}
        demo.onmouseout=function() {
            if(Direction=='Left'){
                MyMar=setInterval(Marqueeleft,speed)
            }else if(Direction=='Right'){
                MyMar=setInterval(Marqueeright,speed)
            }
        };

        getElement('act_left').onclick=function(){
            clearInterval(MyMar);
            MyMar=setInterval(Marqueeleft,speed)
            Direction='Left';
        };

        getElement('act_right').onclick=function(){
            clearInterval(MyMar);
            MyMar=setInterval(Marqueeright,speed)
            Direction='Right';
        };
//    }
</script>

