<!DOCTYPE html>
<html>
<head>
    <title>5miles - Your Mobile Marketplace</title>
    <% include ../head.ejs %>
    <meta property="og:title" content="5Miles - winning grand prize!"/>
    <meta property="og:site_name" content="5milesapp.com"/>
    <meta property="og:description" content="Want to win an iPhone 6, iPad Air 2 or iPad Mini 3? Then join the 5miles contest with over $10,000 in prizes. Competition starts 21st November and finishes 24th November. Join NOW and get ready to WIN!"/>
    <meta property="fb:app_id" content="805850072798512"/>
    <meta property="og:url" content="https://5milesapp.com/winning-grand-prize"/>
    <meta property="og:image" content="https://5milesapp.com/images/promotion/banner-bg.png"/>
</head>
<body ng-app="app">
<%- body %>


<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/home/home.js"></script>
<script src="/js/promotion/promotion.js"></script>
<script src="/js/dependencies/facebook.js"></script>
<!--5MILES_SCRIPTS END-->


<% include ../footer.ejs %>
</body>
</html>
