<!DOCTYPE html>
<html>
<head>
    <title>Sell used items FAST with 5miles! Sell FREE locally.</title>

    <meta name="keywords"
          content="sell fast,sell the,sell,local,offer,used">
    <meta name="description"
          content="5miles is like opening a 24/7 garage, yard or moving sale with the added security of privacy. Sell fast with 5miles and you'll never have to search 'Sell my...' ever again.">
    <% include ../head.ejs %>
</head>

<body ng-app="app" id="" style="background-color: white;" class="sellMb">
<%- body %>
<!--SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/app.js"></script>
<!--SCRIPTS END-->
<script type="text/javascript">
    function sellLandingDownload(event) {
        ga('send', 'event', 'Selllanding_view', 'selllandingdownload');
    }
    function sellLandingUpload(event) {
        ga('send', 'event', 'Selllanding_view', 'selllandingupload');
    }
    function sellLink(page) {
        window.location.href = "/info/" + page;
    }
    function startSell() {
        window.location.href = "/item/uploadView";
    }
    function moreClick(event,id) {
        var obj = $(".sellMb_more_body_" + id);
        if (obj.css("display") == "none") {
            $(event.target).html("Less");
            $(event.target).addClass("sellMb_block_more-less");
            obj.show("fast");
        } else {
            $(event.target).html("More");
            $(event.target).removeClass("sellMb_block_more-less");
            obj.hide("fast");
        }
    }

    $(window).scroll(function() {
        var bodyTop = $("body").scrollTop();
        var top = $(".sellMb_sellBanner_hide").offset().top;
        if ((bodyTop > top)) {
            if ($(".sellMb_sellBanner").hasClass("sellMb_sellBanner-fixed")) {
                return true;
            } else {
                $(".sellMb_sellBanner").addClass("sellMb_sellBanner-fixed");
                $(".sellMb_sellBanner_hide").addClass("sellMb_sellBanner_hide-ative");
            }
        } else if (bodyTop < top) {
            $(".sellMb_sellBanner").removeClass("sellMb_sellBanner-fixed");
            $(".sellMb_sellBanner_hide").removeClass("sellMb_sellBanner_hide-ative");
        }
    });
</script>
<% include ../ga.ejs %>
</body>
</html>

