<% include ../pub/banner.ejs %>
<div class="sellMb_body">
    <div class="sellMb_sologan">
        Sell Your Used Stuff
    </div>
    <div class="sellMb_tip">
        Get cash now for your used furniture, phones, bags, you name it. Connect with THOUSANDS of buyers in DFW.
    </div>
        <div class="sellMb_sellBanner_hide"></div>
    <div class="sellMb_sellBanner">
        <input type="button" class="sellMb_sellBtn" value="START SELLING" onclick="startSell()"/>
    </div>
    <div class="sellMb_info">
        <div class="sellMb_info_block">
            <div class="sellMb_block_img1"></div>
            <div class="sellMb_block_spot">EASY</div>
            <div class="sellMb_block_title">List your items via our mobile app or website in seconds.</div>
            <div class="sellMb_block_more" onclick="moreClick(event,'one')">More</div>
            <div class="sellMb_more_body sellMb_more_body_one">
                Use your phone to upload clear photos of each item and name your price.
                Images that show off your item with good lighting, sharp focus, and no background clutter sell best.
                Then, describe your item with as much detail as you can.
            </div>
        </div>
        <div class="sellMb_info_block">
            <div class="sellMb_block_img2"></div>
            <div class="sellMb_block_spot">FREE</div>
            <div class="sellMb_block_title">Free for buyers and sellers. No fees. No commission.</div>
            <div class="sellMb_block_more" onclick="moreClick(event,'two')">More</div>
            <div class="sellMb_more_body sellMb_more_body_two">
                Escape those extra charges when selling online and keep all of your money.
                Everybody lists, shops and buys for free.
            </div>
        </div>
        <div class="sellMb_info_block">
            <div class="sellMb_block_img3"></div>
            <div class="sellMb_block_spot">LOCAL</div>
            <div class="sellMb_block_title">Buy and sell locally.</div>
            <div class="sellMb_block_more" onclick="moreClick(event,'three')">More</div>
            <div class="sellMb_more_body sellMb_more_body_three">
                Meet face-to-face and make sure the condition of the item matches the description before you pay.
                For tips on how to buy and sell safety, check out our <a href="/info/helpCenter" class="sellMb_read_link" target="_self">Help Center</a>.
            </div>
        </div>
    </div>
    <div class="sellMb_recommend">
        <div class="sellMb_recommend_title">Our customers love us</div>
        <div class="sellMb_recommend_body"></div>
    </div>
    <div class="sellMb_read">
        Read our full <a href="/info/terms" target="_self" class="sellMb_read_link">Terms of Use</a> and get answers to your questions by checking our <a href="/info/helpCenter" class="sellMb_read_link" target="_self">Help Center</a>.
    </div>
    <div class="sellMb_contact">
        <ul class="sellMb_contact_block">
            <li class="sellMb_contact_item" onclick="sellLink('support')">Contact</li>
            <li class="sellMb_contact_item" onclick="sellLink('about')">About</li>
            <li class="sellMb_contact_item" onclick="sellLink('helpCenter')">Help Center</li>
        </ul>
        <div class="sellMb_contact_social">
            <a href="https://facebook.com/5milesapp" target="_self">
                <span class="sellMb_social sellMb_social_facebook"></span>
            </a>
            <a href="https://twitter.com/5milesapp" target="_self">
                <span class="sellMb_social sellMb_social_twitter"></span>
            </a>
            <a href="https://plus.google.com/115402111948872131083" target="_self">
                <span class="sellMb_social sellMb_social_google"></span>
            </a>
            <a href="http://instagram.com/5milesapp" target="_self">
                <span class="sellMb_social sellMb_social_instargram"></span>
            </a>
        </div>
    </div>
</div>




