<!DOCTYPE html>
<html>
<head>
    <title>Sell used items FAST with the 5miles App! Sell FREE locally.</title>

    <meta name="keywords"
          content="auction,buy,sell,garage sale,yard sale">
    <meta name="description"
          content="Sell used and secondhand items on 5miles and earn cash fast! It's like opening a 24/7 garage, yard or moving sale with the added security of privacy.">
    <% include ../head.ejs %>
    <style>
        html, body,.bottom-fixed {background-color: white;}
    </style>
</head>

<body ng-app="app" id="sellLayout" ng-init="nowPage = 'SELL'" ng-controller="HomeController" class="layout_home _gaPageView" data-pageview="sell_view" >
<%- body %>
<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/dependencies/masonry.pkgd.min.js"></script>
<script src="/js/dependencies/imagesloaded.pkgd.min.js"></script>
<script src="/js/home/home.js"></script>
<!--5MILES_SCRIPTS END-->


<% include ../footer.ejs %>
</body>
</html>

