<div id="lines" class="lines">
    <% for(var i=0; i< items.length; i++) {%>
    <ul class="line_block" onclick="fm.openSearch('<%= items[i].id %>','<%= items[i].title %>')">
        <li class="line_li line_li_img">
            <div class="line_img line_img_<%= items[i].id %>"></div>
        </li>
        <li class="line_li">
            <span class="line_title"><%= items[i].title %></span>
        </li>
    </ul>
    <% } %>
</div>