<!DOCTYPE html>
<html>
<head>
    <title>Services</title>
    <meta charset="utf-8"/>
    <meta name="keywords"
          content="5miles,5milesapp,5 miles,five miles,auction,buy,sell">
    <meta name="description"
          content="The 5miles app is a fun, free and easy mobile marketplace to buy">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--5MILES_APP_STYLES-->
    <link rel="stylesheet" href="/styles/app/pub/reset.css">
    <link rel="stylesheet" href="/styles/app/pub/unit.css">
    <!--5MILES_APP_STYLES END-->

</head> 
<body id="serviceLayout" data-pageview="app-service">

<%- body %>

<!--5MILES_SCRIPTS2-->
<script src="/js/app/service/service.js"></script>
<!--5MILES_SCRIPTS2 END-->

</body>
</html>

