<div class="review">
   <div class="review_banner"></div>
   <div class="review_tab">
       <div class="review_tab_buy">From buyers</div>
       <div class="review_tab_sell">From sellers</div>
   </div>
   <div class="review_body">
       <% for(var i=0; i< items.length; i++) {%>
           <div class="review_item">
               <div class="review_item_img"></div>
               <div class="review_item_con">
                   <div class="review_name_bar">
                       <div class="review_name"><%= items[i].name %></div>
                       <div class="review_star">***</div>
                       <div class="review_item_time"><%= items[i].time %></div>
                   </div>
                   <div class="review_item_desc">
                       <%= items[i].desc %>
                   </div>
                   <div class="review_item_ref">
                       <div class="review_ref_img"></div>
                       <div class="review_ref_body">
                           <div class="review_ref_bar">
                               <div class="review_ref_name">Virgen Valeinti</div>
                               <div class="review_ref_star">*****</div>
                           </div>
                           <div class="review_ref_pos">Dallas,TX</div>
                       </div>
                   </div>
               </div>
           </div>
       <%}%>
   </div>
</div>