<!DOCTYPE html>
<html>
<head>
    <title>What 5milers say</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--5MILES_APP_STYLES-->
    <link rel="stylesheet" href="/styles/app/pub/reset.css">
    <link rel="stylesheet" href="/styles/app/pub/unit.css">
    <!--5MILES_APP_STYLES END-->

</head> 
<body id="appReviewLayout" data-pageview="app-review">

<%- body %>
<script>


</script>
</body>
</html>

