<!DOCTYPE html>
<html>
<head>
    <title>Join the 5miles community - Your Mobile Marketplace</title>

    <meta name="keywords"
          content="Join,sign,register,community,5miles,5milesapp,5 miles,auction,buy,sell,garage sale,yard sale,local,classifieds,offer,used,moving sale,mobile marketplace,online shopping,secondhand,Dallas,Houston,Texas"/>
    <meta name="description"
          content="Sign up and join us in the 5miles community! Register to buy and sell used items at great prices and shop the best offerings in the 5miles local classifieds. Want to make an offer? You can auction to get the best price as 5miles gives you access to thousands of online yard, garage and moving sales."/>
          
    <% include ../head.ejs %>
</head>

<body ng-app="app" class="">

<%- body %>

<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/login/login.js"></script>
<script src="/js/dependencies/jstz-1.0.4.min.js"></script>
<script src="/js/dependencies/facebook.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
</body>
</html>
