<% include ../pub/banner.ejs %>
<div id="loginPage" ng-controller="LoginCtrl" class="container loginPage text-left _gaPageView" data-pageview="signin_view" >
    <div class="row loginBox">
        <div class="row col-xs-12" style="margin-left: 0px;">
            <div class="col-xs-12 hide" ng-class="{'show':showLoginFlag}">
                <div  class="row" style="margin-left: -15px;">
                    <!--<label class="login_top_label login_top_label_facebook" style="display: block;">With Facebook</label>-->
                    <input type="button" class="com_btn_facebook com_btn_facebook-unavailable" value="Login with Facebook" ng-click="loginFacebook()"/>
                    <!--<fb:login-button  scope="public_profile,email" class="fb-login-button" data-size="xlarge" onlogin="checkLoginState();">-->
                    <!--</fb:login-button>-->
                    <div id="status" style="display: none;">
                    </div>
                    <!--<div class="fb-login-button" data-max-rows="10" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>-->
                </div>
                <div class="row">
                    <!--<label class="login_top_label">With Email</label>-->
                    <div class="login_top_or"></div>
                </div>
                <div class="row text-require-par">
                    <input type="email" class="login_input " id="emailValue" placeholder="Email" ng-blur="_loginValidEmail($event)"/>
                    <label  class="text-require" ng-show="validateLogin.email" ng-bind="'* Required'"></label>
                    <label  class="text-require" ng-show="validateLogin.emailNot" ng-bind="'Email is not right'"></label>
                    <span class="login_input_email"></span>
                </div>
                <div class="row text-require-par">
                    <input type="password" class="login_input" id="passValue" placeholder="Password (6~16 characters)" ng-keypress="doLoginKeyPress($event)" ng-blur="_loginValidPwd($event)"/>
                    <label  class="text-require" ng-show="validateLogin.pwd" ng-bind="'* Required'"></label>
                    <label  class="text-require" ng-show="validateLogin.pwdNot" ng-bind="'Password is too short'"></label>
                    <span class="login_input_pwd"></span>
                </div>

                <div class="row">
                    <input type="button" class="com_btn_login" value="Login" ng-click="doLogin($event)"/>
                </div>
                <div class="row login_tip">
                    <div class="spinner-wave login_wave" ng-if="login_load_flag">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <label class="text-danger" ng-bind="validateTip"></label>
                </div>
                <div class="row login_sign_link">
                    No account? <a href="javascript:void(0);" class="login_sign_href" ng-click="showSignUp($event)">Sign up now</a>
                </div>
                <div class="row login_sign_link">
                    <a href="/reset" class="login_sign_href" style="font-size: 14px;" ng-click="forgotpassword($event)">Forget password? Need password?</a>
                </div>


                <div class="row">
                    <!--<input type="button" value="Facebook Login"/>-->
                    <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">-->
                    <!--</fb:login-button>-->


                </div>
            </div>
            <div class="col-xs-12 _gaPageViewReplace hide" data-pageview="register_view" ng-class="{'show':!showLoginFlag}">
                <div class="row" style="text-align: center;" ng-if="checkTempItem()">
                    <img src="/images/login/signUpPost.png" style="width: 230px;margin: 0px auto;">
                </div>
                <!--<div class="row">-->
                    <!--<label class="login_top_label login_top_label_facebook">With Facebook</label>-->
                <!--</div>-->
                <div class="row">
                    <input type="button" class="com_btn_facebook com_btn_facebook-unavailable" value="Login with Facebook" ng-click="loginFacebook()"/>

                    <!--<fb:login-button  scope="public_profile,email" class="fb-login-button" data-size="xlarge" onlogin="checkLoginState();">-->
                    <!--</fb:login-button>-->
                </div>

                <div class="row">
                    <!--<label class="login_top_label">With Email</label>-->
                    <div class="login_top_or"></div>
                </div>
                <div class="row text-require-par">
                    <input type="text" class="login_input" id="sign_nickName" maxlength="15" placeholder="Nickname (1~15 characters)" ng-blur="_signValidNick($event)"/>
                    <label  class="text-require" ng-show="validateSign.nick" ng-bind="'* Required'"></label>
                    <label  class="text-require" ng-show="validateSign.nickNot" ng-bind="'Nickname is not right'"></label>
                    <span class="login_input_nick"></span>
                </div>
                <div class="row text-require-par">
                    <input type="email" id="sign_emailValue" class="login_input" placeholder="Email" ng-blur="_signValidEmail($event)"/>
                    <label  class="text-require" ng-show="validateSign.email" ng-bind="'* Required'"></label>
                    <label  class="text-require" ng-show="validateSign.emailNot" ng-bind="'Email is not right'"></label>
                    <span class="login_input_email"></span>
                </div>
                <div class="row text-require-par">
                    <input type="password" class="login_input" id="sign_passValue" placeholder="Password (6~16 characters)" ng-blur="_signValidPwd($event)"/>
                    <label  class="text-require" ng-show="validateSign.pwd" ng-bind="'* Required'"></label>
                    <label  class="text-require" ng-show="validateSign.pwdNot" ng-bind="'Password is too short'"></label>
                    <span class="login_input_pwd"></span>
                </div>

                <div class="row">
                    <input type="button" class="com_btn_login" value="Sign Up" ng-click="doSignUp($event)"/>
                </div>
                <div class="row login_tip">
                    <div class="spinner-wave" ng-if="signUp_load_flag">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <label class="text-danger" ng-bind="sign_validateTip"></label>
                </div>
                <div class="row login_sign_link" style="font-size: 12px;">
                    Already have an account? <a href="javascript:void(0);" class="login_sign_href" ng-click="showLogin($event)">Login now</a>
                </div>

                <iframe id="sign_ok_frame" src="" style="display: none"></iframe>
                <!--<div class="row">-->
                    <!--&lt;!&ndash;<input type="button" value="Facebook Login"/>&ndash;&gt;-->
                    <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">-->
                    <!--</fb:login-button>-->

                    <!--<div id="status">-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>