<% include ../pub/banner.ejs %>
<div id="loginPage" ng-controller="ValidatePhoneCtrl" class="container loginPage validatePage text-left">
    <div class="validateBox" style="width: 320px;padding:0px;margin:0px auto;margin-left:calc(50% - 145px);">
        <div class="row col-xs-12 vb_text_normal">
            Your item has been listed and is visible to buyers. If interested they will make an offer.
            Don't want to miss any offers from buyers?
        </div>
        <div class="row col-xs-12 vb_text_weight">
            Leave your phone number.<br>
            5miles will send buyers' offers by SMS to your phone.
        </div>
        <div class="row col-xs-12 vb_itemLine vb_itemLine_region">

            <div class="col-xs-5" style="padding: 0px;">
                Country/Region
            </div>
            <div class="col-xs-7 text-right vb_country_par">
            <select class="vb_country" id="vb_country" style="">
            <!--<option value="">Country code</option>-->
            <option value="">Afghanistan (+93)</option>
            <option value="">Albania (+355)</option>
            <option value="">Algeria (+213)</option>
            <option value="">American Samoa (+1684)</option>
            <option value="">Andorra (+376)</option>
            <option value="">Angola (+244)</option>
            <option value="">Anguilla (+1264)</option>
            <option value="">Antigua and Barbuda (+1268)</option>
            <option value="">Argentina (+54)</option>
            <option value="">Armenia (+374)</option>
            <option value="">Aruba (+297)</option>
            <option value="">Ascension (+247)</option>
            <option value="">Australia (+61)</option>
            <option value="">Austria (+43)</option>
            <option value="">Azerbaijan (+994)</option>
            <option value="">Bahamas (+1)</option>
            <option value="">Bahrain (+973)</option>
            <option value="">Bangladesh (+880)</option>
            <option value="">Barbados (+1246)</option>
            <option value="">Belarus (+375)</option>
            <option value="">Belgium (+32)</option>
            <option value="">Belize (+501)</option>
            <option value="">Benin (+229)</option>
            <option value="">Bermuda (+1441)</option>
            <option value="">Bhutan (+975)</option>
            <option value="">Bolivia (+591)</option>
            <option value="">Bosnia and Herzegovina (+387)</option>
            <option value="">Botswana (+267)</option>
            <option value="">Brazil (+55)</option>
            <option value="">Brunei (+673)</option>
            <option value="">Bulgaria (+359)</option>
            <option value="">Burkina Faso (+226)</option>
            <option value="">Burundi (+257)</option>
            <option value="">Cambodia (+855)</option>
            <option value="">Cameroon (+237)</option>
            <option value="">Canada (+1)</option>
            <option value="">Canary Islands (+3491)</option>
            <option value="">Cape Verde (+238)</option>
            <option value="">Cayman Islands (+1345)</option>
            <option value="">Central African Republic (+236)</option>
            <option value="">Chad (+235)</option>
            <option value="">Chile (+56)</option>
            <option value="">China (+86)</option>
            <option value="">Colombia (+57)</option>
            <option value="">Comoros (+269)</option>
            <option value="">Congo (+242)</option>
            <option value="">Congo, Dem Rep (+243)</option>
            <option value="">Costa Rica (+506)</option>
            <option value="">Croatia (+385)</option>
            <option value="">Cyprus (+357)</option>
            <option value="">Czech Republic (+420)</option>
            <option value="">Denmark (+45)</option>
            <option value="">Djibouti (+253)</option>
            <option value="">Dominica (+1767)</option>
            <option value="">Dominican Republic (+1809)</option>
            <option value="">Ecuador (+593)</option>
            <option value="">Egypt (+20)</option>
            <option value="">El Salvador (+503)</option>
            <option value="">Equatorial Guinea (+240)</option>
            <option value="">Eritrea (+291)</option>
            <option value="">Estonia (+372)</option>
            <option value="">Ethiopia (+251)</option>
            <option value="">Faroe Islands (+298)</option>
            <option value="">Fiji (+679)</option>
            <option value="">Finland (+358)</option>
            <option value="">France (+33)</option>
            <option value="">French Guiana (+594)</option>
            <option value="">French Polynesia (+689)</option>
            <option value="">Gabon (+241)</option>
            <option value="">Gambia (+220)</option>
            <option value="">Georgia (+995)</option>
            <option value="">Germany (+49)</option>
            <option value="">Ghana (+233)</option>
            <option value="">Gibraltar (+350)</option>
            <option value="">Greece (+30)</option>
            <option value="">Greenland (+299)</option>
            <option value="">Grenada (+1473)</option>
            <option value="">Guadeloupe (+590)</option>
            <option value="">Guam (+1671)</option>
            <option value="">Guatemala (+502)</option>
            <option value="">Guinea (+224)</option>
            <option value="">Guyana (+592)</option>
            <option value="">Haiti (+509)</option>
            <option value="">Honduras (+504)</option>
            <option value="">Hong Kong (+852)</option>
            <option value="">Hungary (+36)</option>
            <option value="">Iceland (+354)</option>
            <option value="">India (+91)</option>
            <option value="">Indonesia (+62)</option>
            <option value="">Iran (+98)</option>
            <option value="">Iraq (+964)</option>
            <option value="">Ireland (+353)</option>
            <option value="">Israel (+972)</option>
            <option value="">Italy (+39)</option>
            <option value="">Ivory Coast (+225)</option>
            <option value="">Jamaica (+1876)</option>
            <option value="">Japan (+81)</option>
            <option value="">Jordan (+962)</option>
            <option value="">Kenya (+254)</option>
            <option value="">Korea Dem People's Rep (+850)</option>
            <option value="">Korea Republic of (+82)</option>
            <option value="">Kosovo (+883)</option>
            <option value="">Kuwait (+965)</option>
            <option value="">Kyrgyzstan (+996)</option>
            <option value="">Laos (+856)</option>
            <option value="">Latvia (+371)</option>
            <option value="">Lebanon (+961)</option>
            <option value="">Lesotho (+266)</option>
            <option value="">Liberia (+231)</option>
            <option value="">Libya (+218)</option>
            <option value="">Liechtenstein (+423)</option>
            <option value="">Lithuania (+370)</option>
            <option value="">Luxembourg (+352)</option>
            <option value="">Macau (+853)</option>
            <option value="">Macedonia (+389)</option>
            <option value="">Madagascar (+261)</option>
            <option value="">Malawi (+265)</option>
            <option value="">Malaysia (+60)</option>
            <option value="">Maldives (+960)</option>
            <option value="">Mali (+223)</option>
            <option value="">Malta (+356)</option>
            <option value="">Marshall Islands (+692)</option>
            <option value="">Martinique (+596)</option>
            <option value="">Mauritania (+222)</option>
            <option value="">Mauritius (+230)</option>
            <option value="">Mayotte (+262)</option>
            <option value="">Mexico (+52)</option>
            <option value="">Micronesia (+691)</option>
            <option value="">Moldova (+373)</option>
            <option value="">Monaco (+377)</option>
            <option value="">Mongolia (+976)</option>
            <option value="">Montenegro (+382)</option>
            <option value="">Montserrat (+1664)</option>
            <option value="">Morocco (+212)</option>
            <option value="">Mozambique (+258)</option>
            <option value="">Myanmar (+95)</option>
            <option value="">Namibia (+264)</option>
            <option value="">Nauru (+674)</option>
            <option value="">Nepal (+977)</option>
            <option value="">Netherlands (+31)</option>
            <option value="">Netherlands Antilles (+599)</option>
            <option value="">New Caledonia (+687)</option>
            <option value="">New Zealand (+64)</option>
            <option value="">Nicaragua (+505)</option>
            <option value="">Niger (+227)</option>
            <option value="">Nigeria (+234)</option>
            <option value="">Northern Mariana Islands (+1670)</option>
            <option value="">Norway (+47)</option>
            <option value="">Oman (+968)</option>
            <option value="">Pakistan (+92)</option>
            <option value="">Palau (+680)</option>
            <option value="">Palestine (+970)</option>
            <option value="">Panama (+507)</option>
            <option value="">Paraguay (+595)</option>
            <option value="">Peru (+51)</option>
            <option value="">Philippines (+63)</option>
            <option value="">Poland (+48)</option>
            <option value="">Portugal (+351)</option>
            <option value="">Puerto Rico (+1787)</option>
            <option value="">Qatar (+974)</option>
            <option value="">Réunion (+262)</option>
            <option value="">Romania (+40)</option>
            <option value="">Russia (+7)</option>
            <option value="">Rwanda (+250)</option>
            <option value="">Samoa (+685)</option>
            <option value="">San Marino (+378)</option>
            <option value="">Saudi Arabia (+966)</option>
            <option value="">Senegal (+221)</option>
            <option value="">Serbia (+381)</option>
            <option value="">Seychelles (+248)</option>
            <option value="">Sierra Leone (+232)</option>
            <option value="">Singapore (+65)</option>
            <option value="">Slovakia (+421)</option>
            <option value="">Slovenia (+386)</option>
            <option value="">Somalia (+252)</option>
            <option value="">South Africa (+27)</option>
            <option value="">Spain (+34)</option>
            <option value="">Sri Lanka (+94)</option>
            <option value="">St Kitts and Nevis (+1869)</option>
            <option value="">St. Lucia (+1758)</option>
            <option value="">St Pierre and Miquelon (+508)</option>
            <option value="">St Vincent Grenadines (+1784)</option>
            <option value="">Sudan (+249)</option>
            <option value="">Suriname (+597)</option>
            <option value="">Swaziland (+268)</option>
            <option value="">Sweden (+46)</option>
            <option value="">Switzerland (+41)</option>
            <option value="">Syria (+963)</option>
            <option value="">Taiwan (+886)</option>
            <option value="">Tajikistan (+992)</option>
            <option value="">Tanzania (+255)</option>
            <option value="">Thailand (+66)</option>
            <option value="">Togo (+228)</option>
            <option value="">Tonga (+676)</option>
            <option value="">Trinidad and Tobago (+1868)</option>
            <option value="">Tunisia (+216)</option>
            <option value="">Turkey (+90)</option>
            <option value="">Turkish Republic of Northern Cyprus (+90)</option>
            <option value="">Turkmenistan (+993)</option>
            <option value="">Turks and Caicos Islands (+1649)</option>
            <option value="">Tuvalu (+688)</option>
            <option value="">Uganda (+256)</option>
            <option value="">Ukraine (+380)</option>
            <option value="">United Arab Emirates (+971)</option>
            <option value="">United Kingdom (+44)</option>
            <option value="" selected>United States (+1)</option>
            <option value="">Uruguay (+598)</option>
            <option value="">Uzbekistan (+998)</option>
            <option value="">Vatican City (+379)</option>
            <option value="">Venezuela (+58)</option>
            <option value="">Vietnam (+84)</option>
            <option value="">Virgin Islands, British (+1284)</option>
            <option value="">Virgin Islands, U.S. (+1340)</option>
            <option value="">Yemen (+967)</option>
            <option value="">Zambia (+260)</option>
            <option value="">Zimbabwe (+263)</option>
            </select>
            </div>
        </div>
        <div class="row col-xs-12 vb_itemLine" style="margin-top: 20px;">
            <div class="col-xs-3 text-center vb_item_rightBorder" ng-bind="pre_number">

            </div>
            <div class="col-xs-9">
                <form>
                    <input id="vb_phone_number" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="vb_item_input" placeholder="Phone number"/>
                </form>
            </div>
        </div>
        <div class="row col-xs-12 vb_itemLine" style="height: 52px;">
            <div class="col-xs-12 text-center">
                <input type="button" ng-click="sendPassCode($event)" class="vb_item_send"
                       ng-value="sendPassValue" ng-class="{'vb_item_send-disable':passcode_load_flag}"/>
            </div>
        </div>
        <div class="row col-xs-12 vb_itemLine">
            <div class="col-xs-3 text-center vb_item_rightBorder vb_item_passLabel">
                Passcode
            </div>
            <div class="col-xs-9">
                <form>
                    <input id="vi_item_passCode" type="number" class="vb_item_input" min="0" inputmode="numeric" pattern="[0-9]*" placeholder="Input the number you received"/>
                </form>
            </div>
        </div>
        <div class="row col-xs-12 vb_itemLine vb_itemLine_confirm">
            <div class="col-xs-12 text-center">
                <input type="button" class="vb_item_confirm"
                       ng-class="{'vb_item_confirm-disable':vb_item_verify_load}"
                       value="Confirm" ng-click="verifyPassCode($event)"/>
                <div ng-bind="vb_item_verify_tip"></div>
                <span class="loader-icon loader-icon__gray vb_confirm_load" ng-if="vb_item_verify_load"></span>
            </div>
        </div>
        <div class="row col-xs-12 vb_itemLine vb_item_skip">
                <a ng-href="/item/{{goItemId}}" target="_self" ng-click="skiptoitem()">Skip this and view your item</a>
        </div>
    </div>
</div>
