<div class="home_gleam_con">
    <div class="home_gleam" ng-class="{'show':pcGleamShow}" ng-click="openGleam($event)">
        <div class="gleam_card">

        </div>
        <div class="gleam_split">

        </div>
        <div class="gleam_text">
            <span>Help Us Now!</span>
            <div class="gleam_close" ng-click="closeGleam($event)"></div>
        </div>
    </div>
</div>
