<!DOCTYPE html>
<html>
<head>
    <title>5miles - Your Mobile Marketplace</title>

    <meta name="keywords"
          content="5miles,5milesapp,5 miles,five miles,garage sale,local,classifieds,offer">
    <meta name="description"
          content="The 5miles app is a free mobile marketplace to buy, sell and explore local classifieds, online yard sales and used/secondhand offers.">

    <meta property="og:title" content="5miles-Your Mobile Marketplace"/>
    <meta property="og:description" content="The 5miles app is a free mobile marketplace to buy, sell and explore local classifieds, online yard sales and used/secondhand offers."/>
    <meta property="og:image" content="https://5milesapp.com/images/5miles_facebook_xx.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="5miles"/>

    <% include ../head.ejs %>
</head>

<body ng-app="app" id="homeLayout" ng-controller="HomeController" class="layout_home footerRelative searchMbShowBody _gaPageView" data-pageview="home_view">

<% include homepage.ejs %>
<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/dependencies/masonry.pkgd.min.js"></script>
<script src="/js/dependencies/imagesloaded.pkgd.min.js"></script>
<script src="/js/home/home.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
<% include ../gsearch.ejs %>

<!--  Home page tag ---->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
    window.criteo_q = window.criteo_q || [];
    window.criteo_q.push(
            { event: "setAccount", account: 17812 },
            { event: "setHashedEmail", email: "#MD5-hashed email address#" },
            { event: "setSiteType", type: "d" },
            { event: "viewHome" }
    );
</script>
</body>
</html>

