<div class="left" style="padding-right: 20px;">
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script>
        function initialize() {
            var input = document.getElementById('ou_location');
            var autocomplete = new google.maps.places.Autocomplete(input);
            var infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(autocomplete, 'place_changed', function() {

                infowindow.close();
                var place = autocomplete.getPlace();

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);

                ou_location= new Object();
                ou_location.latitude= place.geometry.location.lat();
                ou_location.longitude= place.geometry.location.lng();

                ou_location.source= 'list';
                $.cookie.json=true;
                $.cookie('ou_location',ou_location,{expires: 365, domain:'.offerupnow.com', path:'/'});
                //refresh but no hash to get the list updated
                window.location = window.location.href.split('#')[0];

            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div class="search_box round">
        <form name="search_for_location" style="padding-bottom: 5px;" action="">
            <input align="left" type="text" id="ou_location" name="ou_location" style="width:250px; vertical-align: middle;" value="Beijing, CN" placeholder="输入地点" autocomplete="off">
            <a href="javascript:detectLocation()"><img src="https://s-prd.s3.amazonaws.com/images/my-location.png" width="18" title="Get Your Location" alt="Get Your Location" class="opa_07" style="vertical-align: middle"></a>
        </form>
        <form name="search_for_item" action="/search/" method="get" style="/* display: none; */">
            <div>
                <label class="placeholder absolute" style="padding-top: 2px; display: block;">
                    <i class="icon-search" style="width:16px; height:16px; display: inline-block"></i>
                    <span class="pad_lr">Search...</span>
                </label>
                <input align="left" type="text" title="" name="q" style="vertical-align: middle;" value="">
                <input type="hidden" title="" name="cid" value="">
                <input type="image" name="search" class="opa_07" src="https://s-prd.s3.amazonaws.com/images/topnav_search.png?cb=160" style="width: 18px; vertical-align: middle; display: none;" border="0">
            </div>
            <div class="clear"></div>
            <div class="text_right" style="margin-top: -26px;">
                <a id="id_change_loc" class="gray2 no_underline" href="" style="display: inline;"><span>Beijing, CN <i class="icon-map-marker" style="padding-left:10px; width:10px; height:16px;"></i></span></a>
            </div>
        </form>
    </div>
    <script src="https://s-prd.s3.amazonaws.com/js/jquery.cookie.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            //define placeholder behaviour
            if($('input[name=q]', $('form[name=search_for_item]')).val()){
                setSearchBox('on')
            }else{
                //adjust width of searchbox to placeholder
                //$('input[name=q]', $('form[name=search_for_item]')).width($('label.placeholder', $('form[name=search_for_item]')).width())
                $('input[name=q]', $('form[name=search_for_item]')).width($('.label.placeholder', $('form[name=search_for_item]')).width())
            }

            $('#id_change_loc').click(function(){
                /*
                 $('.search_box').css({'background-color':'#fff'})
                 $('#ou_location').css({'background-color':'#fff'});
                 */
                $('form[name=search_for_location]').show();
                $('form[name=search_for_item]').hide();
                $('#ou_location').select();
                return false;
            })
            /*
             $('input#ou_location').keypress(function(e) {
             if (e.which == 13) {
             $('.search_box').css({'background-color':'#c3d5dc'})
             }
             });*/
            $('form[name=search_for_location]').submit(function(){
                if(!$('#ou_location').val())
                    return false;
                $('form[name=search_for_location]').hide();
                $('form[name=search_for_item]').sho]

                ljkk

                w();
                return false;
            })
            $('label.placeholder', $('form[name=search_for_item]')).click(function(){
                $(this).hide();
                $('input[name=q]', $(this).parent()).focus();
            })
            $('input[name=q]', $('form[name=search_for_item]')).focus(function(){
                setSearchBox('on')
            })

            $('input[name=q]', $('form[name=search_for_item]')).blur(function(){
                if(!$(this).val()){
                    setSearchBox()
                }else{
                    setSearchBox('on')
                }
            })
            function setSearchBox(stage){
                if (stage=='on'){
                    $('label.placeholder',$('form[name=search_for_item]')).hide();
                    $('input[name=search]',$('form[name=search_for_item]')).show();
                    $('#id_change_loc').hide();
                }else{
                    $('label.placeholder',$('form[name=search_for_item]')).show();
                    $('input[name=search]',$('form[name=search_for_item]')).hide();
                    $('#id_change_loc').show();
                }
            }
        })
        //geo
        function success(position){

            ou_location= new Object();
            ou_location.latitude= position.coords.latitude;
            ou_location.longitude= position.coords.longitude;
            ou_location.source= 'browser';
            $.cookie.json=true;
            $.cookie('ou_location',ou_location,{expires: 365, domain:'.offerupnow.com', path:'/'});

            //refresh but no hash to get the list updated
            window.location = window.location.href.split('#')[0];
        }
        function error(msg){

        }
        function detectLocation(){
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(success, error);
            }
            else
            {
                //error('Not supported'); //HTML Support
            }
        }
    </script>
</div>
