<!DOCTYPE html>
<html>
<head>
    <title>5miles - Your Mobile Marketplace</title>

    <meta name="keywords"
          content="5miles,5milesapp,5 miles,auction,buy and sell,classifieds,offer,used,online shopping,secondhand,amazon, walmart, bestbuy, target, ebay, gumtree, craigslist, poshmark, vinted, olx, stuffle, shpock, wallapop">
    <meta name="description"
          content="5miles is the fun, free and easy mobile app to buy, sell and explore within your city. Open your pocket shop and discover amazing local items & services. ">
    <% include ../head.ejs %>
</head>

<body ng-app="app" id="homeLayout" ng-controller="HomeController" class="layout_home _gaPageView" data-pageview="recommend_view">

<% include ../pub/banner.ejs %>

<div ng-controller="recommendCtl"  class="waterBack">
    <!-- waterfall block -->
    <div id="waterCon" class="waterCon fixed1080">
        <div id="container" class="masonry">
            <%for(var i=0,len=result.objects.length;i<len;i++){%>
            <div class="waterItem">
                <a ng-href="/item/<%=result.objects[i].id%>/<%=: result.objects[i].title | titleParse:result.objects[i].cat_id %>" ng-mousedown="recommendProduct($event)">
                    <img src="<%=result.objects[i].images[0].imageLink%>"
                         class="waterItemImg" alt="<%=result.objects[i].title%>" title="<%=result.objects[i].title%>" data-width="<%=result.objects[i].images[0].width%>" data-height="<%=result.objects[i].images[0].height%>">
                </a>
                <div class="waterItem_info">
                    <div class="waterItem_title waterItem_info_pad">
                        <a class="waterItem_title_a" href="/item/<%=result.objects[i].id%>/<%=: result.objects[i].title | titleParse:result.objects[i].cat_id %>" alt="<%=result.objects[i].title%>" title="<%=result.objects[i].title%>" ng-mousedown="recommendProduct($event)" ><%=result.objects[i].title%></a>
                    </div>
                    <div class="waterItem_price col-xs-12" >
                        <span><%=result.objects[i].local_price%></span>
                        <%if(result.objects[i].original_price!=null){%>
                        <span class="waterItem_price_org"><%=result.objects[i].original_price%></span>
                        <%}%>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>

    <div class="recom-more"><h2 style="margin-bottom: 0px;"><a class="recom-link" href="/recommend/<%=offset%>">Something else</a></h2></div>

    
</div>



<!--5MILES_SCRIPTS-->
<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script src="/js/dependencies/masonry.pkgd.min.js"></script>
<script src="/js/dependencies/imagesloaded.pkgd.min.js"></script>
<script src="/js/home/home.js"></script>
<!--5MILES_SCRIPTS END-->

<% include ../footer.ejs %>
<!--  Home page tag ---->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
    window.criteo_q = window.criteo_q || [];
    window.criteo_q.push(
            { event: "setAccount", account: 17812 },
            { event: "setHashedEmail", email: "#MD5-hashed email address#" },
            { event: "setSiteType", type: "d" },
            { event: "viewHome" }
    );
</script>
</body>
</html>

