<html>
    <body style="padding: 0px;margin: 0px;">
            <div style="background-color: #000000;">
                <!--<div class="_ox1 swfObject" data-flash="1" id="id_545c94295218b5413053242"-->
                     <!--data-video-width="100%" data-video-height="100%"-->
                     <!--data-swfid="swf_id_545c94295218b5413053242">-->
                    <!--<embed type="application/x-shockwave-flash"-->
                           <!--src="https://fbstatic-a.akamaihd.net/rsrc.php/v1/yU/r/OlALd55jHxt.swf"-->
                           <!--width="100%" height="100%"-->
                           <!--style="display: block;"-->
                           <!--id="swf_id_545c94295218b5413053242"-->
                           <!--name="swf_id_545c94295218b5413053242"-->
                           <!--bgcolor="#000000" quality="high" allowfullscreen="true"-->
                           <!--allowscriptaccess="always" salign="tl" scale="noscale" wmode="opaque"-->
                           <!--flashvars="params=%7B%22autoplay%22%3Atrue%2C%22auto_hd%22%3Afalse%2C%22autoplay_reason%22%3A%22unknown%22%2C%22autoplay_setting%22%3Anull%2C%22autorewind%22%3Atrue%2C%22default_hd%22%3Afalse%2C%22dtsg%22%3A%22AQFm62e__6FZ%22%2C%22inline_player%22%3Afalse%2C%22lsd%22%3Anull%2C%22min_progress_update%22%3A300%2C%22pixel_ratio%22%3A1%2C%22player_origin%22%3A%22trending%22%2C%22preload%22%3Atrue%2C%22source%22%3A%22snowlift%22%2C%22start_index%22%3A0%2C%22start_muted%22%3Afalse%2C%22stream_type%22%3A%22stream%22%2C%22use_spotlight%22%3Afalse%2C%22video_data%22%3A%5B%7B%22hd_src%22%3A%22https%3A%5C%2F%5C%2Ffbcdn-video-b-a.akamaihd.net%5C%2Fhvideo-ak-xpa1%5C%2Fv%5C%2Ft43.1792-2%5C%2F10297387_803509533048754_808847466_n.mp4%3Foh%3Dabc864745b218b2f8fc6c4a546996f2c%26oe%3D545CB839%26__gda__%3D1415359942_171e896e2db73718a03dab79b902281a%22%2C%22is_hds%22%3Afalse%2C%22is_hls%22%3Afalse%2C%22index%22%3A0%2C%22rotation%22%3A0%2C%22sd_src%22%3A%22https%3A%5C%2F%5C%2Fscontent-a-nrt.xx.fbcdn.net%5C%2Fhvideo-xaf1%5C%2Fv%5C%2Ft42.1790-2%5C%2F10746200_803509526382088_1451687886_n.mp4%3Foh%3Defa5087de26a3d96582b572b01443827%26oe%3D545CB8D0%22%2C%22thumbnail_src%22%3A%22https%3A%5C%2F%5C%2Ffbcdn-vthumb-a.akamaihd.net%5C%2Fhvthumb-ak-xaf1%5C%2Fv%5C%2Ft15.0-10%5C%2F10751242_803509556382085_803503129716061_61154_1077_b.jpg%3Foh%3Db1af161a185f48ede37d8a92bfaa2496%26oe%3D54F46B8F%26__gda__%3D1423527583_418cd8407472846568489aedb9fb76b9%22%2C%22thumbnail_height%22%3A720%2C%22thumbnail_width%22%3A1280%2C%22video_duration%22%3A69%2C%22video_id%22%3A%22803503129716061%22%7D%5D%2C%22show_captions_default%22%3Afalse%2C%22persistent_volume%22%3Atrue%2C%22buffer_length%22%3A0.1%7D&amp;width=1280&amp;height=720&amp;user=100004279724819&amp;log=no&amp;div_id=id_545c94295218b5413053242&amp;swf_id=swf_id_545c94295218b5413053242&amp;browser=Chrome+38.0.2125.111&amp;tracking_domain=https%3A%2F%2Fpixel.facebook.com&amp;post_form_id=&amp;string_table=https%3A%2F%2Fs-static.ak.facebook.com%2Fflash_strings.php%2Ft98288%2Fzh_CN"></div>-->
                <!--<video controls="" id="mInlineVideoPlayer" class="_4rv" src="//player.vimeo.com/video/111188273" width="100%" height="100%" autoplay="true"></video>-->
                <iframe src="//player.vimeo.com/video/111188273?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <!--<iframe height="100%" width="100%" src="http://player.youku.com/embed/XODIzNjEwNDI0" frameborder=0 allowfullscreen></iframe>-->
                <!--<video src="../extend/5milesYourPocketShop.mp4" controls="" width="100%" height="100%" autoplay="true"></video>-->
            </div>
    </body>
</html>