<div ng-controller="WaterfallController" class="waterBack">
    <!-- waterfall block -->
    <img src="/images/icons/icon_flea_load.gif" class="waterCon_preLoad"/>
    <div id="waterCon" class="waterCon fixed1080">
        <div class="waterCon_city_block">
            <div class="waterCon_order waterCon_distance" ng-click="distanceFilter($event)">
                <span class="waterCon_order_select" ng-class="{'waterCon_order_select-active':distanceShow}" ng-bind="distanceSelect"></span>
                <div id="waterCon_distance_list"  class="waterCon_order_list hide" ng-class="{'show':distanceShow == true}">
                    <span class="order_item" value="1">5 miles</span>
                    <span class="order_item" value="2">10 miles</span>
                    <span class="order_item" value="3">20 miles</span>
                    <span class="order_item" value="4">30 miles</span>
                    <span class="order_item" value="5">50 miles</span>
                    <span class="order_item wc_last" value="0">No Limit</span>
                </div>
            </div>
            <div class="waterCon_order" ng-click="sortFilter($event)">
                <span class="waterCon_order_select" ng-class="{'waterCon_order_select-active':orderShow}" ng-bind="sortSelect"></span>
                <div id="waterCon_order_list" class="waterCon_order_list hide" ng-class="{'show':orderShow}">
                    <span class="order_item" value="1">Closest</span>
                    <span class="order_item" value="2">Most Recent</span>
                    <span class="order_item" value="3">Lowest Price</span>
                    <span class="order_item wc_last" value="4">Highest Price</span>
                </div>
            </div>
            <span class="waterCon_city" ng-bind="waterCon_city"></span>
            <span class="waterCon_loc">
                <input class="pac-input" id="pac-input"/>
                <span class="waterCon_loc_pos" ng-class="{'waterCon_loc_pos-load':navigator_flag}" ng-click="navPosition($event)" title="Get Your Location"></span>
            </span>
        </div>
        <div id="container" class="masonry">
            <div class="waterItem" ng-repeat="item in homeItems track by $index"
                 ng-class="{'waterItemInvisible':item.hide}">
                <a class="waterItemImg_par" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-click="homeProduct($event)">
                    <img ng-style="{'width':item.images.width,'height':item.images.height}" ng-src="{{item.images.imageLink | listThumbScale}}"
                         class="waterItemImg" alt="{{item.title}}" title="{{item.title}}" >
                    <div ng-if="item.state > 0" class="item_status waterItem_state" ng-class="{'item_status_sold':(item.state == 1 || item.state == 2 || item.state == 3)}"></div>
                </a>
                <div class="waterItem_info" ng-style="{'width':item.images.width}">
                    <span class="waterItem_new hide" ng-class="{'show':(item.is_new == 1)}"></span>
                    <div class="waterItem_title waterItem_info_pad">
                        <a class="waterItem_title_a" ng-href="/item/{{item.id}}/{{item.idParse}}" ng-bind="item.title | titleCut" alt="{{item.title}}" title="{{item.title}}" ng-click="homeProduct($event)"></a>
                    </div>
                    <div class="waterItem_price col-xs-12" >
                        <span class="waterItem_price_now" ng-bind="item.local_price"></span>
                        <span class="waterItem_price_org" ng-bind="item.original_price"></span>
                    </div>
                    <div class="waterItem_distance col-xs-12">
                         <span class="waterItem_distance_pos" ng-bind="item.place"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="waterCon_none hide" ng-class="{'show':!upload_list_more_load_flag && homeItems.length == 0}">
            <div class="waterCon_none_jumper" ></div>
            <p><strong>No items</strong><br>Sorry, we did not find items near you.<br>5miles is a new and growing marketplace, please try other keywords.</p>
        </div>
    </div>

    <!-- waterfall loader -->
    <div class="waterItem_load" ng-show="more_block_flag">
        <div class="waterItem_loader" ng-show="upload_list_more_load_flag"></div>
        <div class="waterItem_more hide" ng-class="{'show':!upload_list_more_load_flag}" ng-click="listMore($event)"><span class="waterItem_more_span">Show More</span></div>
    </div>
    <div class="waterItem_top_par hide" title="Top" ng-class="{'show':waterItemTopFlag}" ng-click="top($event)"><div class="waterItem_top"></div></div>
</div>
