.account {
  max-width: 600px;
  width: 100%;
  height: 100%;
  padding: 30px;
  font-size: 14px;
  background-color: white;
  .ac_title {
    font-size: 24px;
    color: #242424;
  }
  .ac_sub_title {
    font-size: 16px;
  }
  .ac_ul {
    padding-left: 20px;
  }
  .ac_nick {
    width: 100%;
    border: 1px #eaeaea solid;
    color: #818181;
    height: 40px;
    background-color: #f8f8f8;
    margin: 12px 0px;
    padding-left: 8px;
  }
  .ac_con {
    width: 100%;
    height: 126px;
    border: 1px #eaeaea solid;
    color: #818181;
    padding-left: 8px;
    background-color: #f8f8f8;
  }
  .ac_tip {
    height: 34px;
    line-height: 34px;
    width: 100%;
  }
  .ac_btn_de_par {
    padding-left: 0px;
    padding-right: 5px;
  }
  .ac_btn_can_par {
    padding-right: 0px;
    padding-left: 5px;
  }
  .ac_btn {
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
  }
  .ac_deactive {width: 100%;background-color: #ff8a30;color: #fffbf3;}
  .ac_cancel {width: 100%;background-color: #f0f0f0;color: #393939;}
}
@media (max-width: @media-screen-tablet-max) {
  .account {
    font-size: 12px;
    padding: 24px;
    .ac_title {
      font-size: 18px;
    }
    .ac_btn_de_par {
      padding: 0px;
      margin-bottom: 12px;
    }
    .ac_btn_can_par {
      padding: 0px;
    }
  }
}