/*search banner begin*/
.banner {
  width: 100%;
  z-index: 101;
}
.searchBlock_par {

  background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 70%,#ffffff 71%,#f0f0f0 100%); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #ffffff 0%,#ffffff 70%,#ffffff 71%,#f0f0f0 100%); /** FireFox **/
  background: -o-linear-gradient(top, #ffffff 0%,#ffffff 70%,#ffffff 71%,#f0f0f0 100%);  /** Opear **/
  background: -ms-linear-gradient(#ffffff 0%,#f0f0f0 100%);  /** IE9 IE10 **/
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}
.searchBlock {
  height: 72px;
  line-height: 72px;
  padding: 0px 10px;
}
.searchBlock_logo {
  height: 39px;
  margin-top: -5px;
}
.searchBlock_input {
  background: none;
  height: 34px;
  padding-left: 10px;
  line-height: 34px;
  border: none;
  border: 1px #cfcbc8 solid;
  border-right: none;
  margin-left: -40px;
  -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.2) inset;               /* For Firefox3.6+ */
  -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.2) inset;            /* For Chrome5+, Safari5+ */
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);                    /* For Latest Opera */

}
.searchBlock_input:focus { outline:#f2ddcd Solid 1px;}
.searchBlock_submit {
  cursor: pointer;
  padding: 10px 40px;
  margin-left: -6px;
  background: url("../../images/banner/search-button.png") no-repeat center center;
  background-size: 80px 34px;
}
.searchBlock_submit:hover {opacity: 0.8;}
.searchBlock_input_mb_par {display: none;position: relative;background-color: #fbfbfb;}
.searchBlock_input_mb {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  height: 38px;
  padding:0px 11px;
//  border-top:1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
  -webkit-appearance:none;
  border-radius: 0px;
  box-shadow: 0px 0px;
  text-shadow: 0px 0px;
  -moz-box-shadow:0px 5px 5px #000000 inset;               /* For Firefox3.6+ */
  -webkit-box-shadow:0px 5px 5px #000000 inset;            /* For Chrome5+, Safari5+ */
  box-shadow:inset 0 3px 5px rgba(0,0,0,0.2);                    /* For Latest Opera */
}

.searchBlock_input_mb::-webkit-input-placeholder {
  color: #acacac;
}
.searchBlock_input_mb:-moz-placeholder {
  color: #acacac;
}
.searchBlock_input_mb:-ms-input-placeholder {
  color: #acacac;
}​
.searchBlock_row {
  -moz-box-shadow: 1px 1px 3px -3px #bcbab6;
  -webkit-box-shadow: 1px 1px 3px -3px #bcbab6;
  box-shadow: 0 1px 3px -3px #bcbab6;
}
.searchBlock_input_mb_search {
   width: 69px;height: 37px;position: absolute;right: 0px;top: 0px;
   background: url("../../images/banner/search-button.png") no-repeat center center;
   background-size: 69px 37px;
 }

.pasta {}

.aListCon {
  /* Used to wrap and hide <datalist> elements */
  display : none;
}
.aWrapper {
  /* Attaches to DOM nearby input element, holds the absolutely positioned list container */
  position : relative;
  display : inline-block;
  *display : inline;
  zoom : 1;
  width : 0px;
  height : 0px;
  vertical-align : top;
  overflow : visible;
}
.aCon {
  /* List container */
  position : absolute;
  z-index : 999999;
  top : 19px;
  left : -40px;
  display : block;
}
.aList {
  /* List of autocomplete choices */
  display : block;
  margin : 0px;
  padding : 0px;
  padding-bottom: 5px;
  border : 1px solid #7f9db9;
  background-color : #fff;
  color : #1a2731;
  list-style-type : none;
  cursor : default;
}
.aLim {
  /* List item choice */
  display : block;
  padding : 5px 6px 4px 10px;
  line-height : 1.2em;
  white-space : nowrap;
}

/**
 * banner_user
 */
.banner_user_display .banner_user_block {
  display: block;
}
.banner_user_block {display: block;padding: 0px;}
.banner_user {
  display: none;
  text-align: right;
  padding-right: 15px;
}
.banner_user_active {
//  background-color: #ff7109;
}
.banner_user_con {
  position: relative;
  cursor: pointer;
  text-align: left;
  display: inline-block;
  margin: 0px auto;
  min-width: 140px;
}
.banner_user_info {
  position: absolute;
  right: 0px;
  line-height: 30px;
  width: 120px;
  text-align: center;
  z-index: 101;
  display: none;
  background-color: white;
  color: #818181;
  border: 1px #cbcbc8 solid;
}
.banner_user_arrow {
  position: relative;
}
.banner_user_arrow:after, .banner_user_arrow:before {
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: -19px;
  right: 25px;
  content: ' ';
  z-index: 103;
}
.banner_user_arrow_line:hover .banner_user_arrow:after, .banner_user_arrow:before {
  border-bottom: 10px solid #cbcbc8;
}
.banner_user_arrow:before {
  border-bottom-color: #cbcbc8;
  top: -20px;
  right: 25px;
}
.banner_user_line {
  height: 38px;line-height: 38px;cursor: pointer;
}
.banner_user_line_a {color: #818181}
.banner_user_line_a:hover {color: white;text-decoration: none;}
.banner_user_line:hover {
  background-color: #cbcbc8;
  color: white;
}
.banner_user_line_border {
  border-bottom: 1px #cbcbc8 solid;
}
.banner_user_img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin:0px 8px;
  border:0px #ff8830 solid;
}
.banner_user_name {
  padding-right: 15px;
  position: relative;
}
.banner_user_name:after, .banner_user_name:before {
  border: 4px solid transparent;
//  border-top: 6px solid white;
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  right: -5px;
  content: ' ';
}

.banner_user_name:before {
  border-top-color: #939393;
  top: 6px;
  right: -5px;
}
.banner_category_par {
  width: 100%;
  height: 34px;
  line-height: 34px;
  background-color: #fafafa;
  border-bottom: 1px #e5e5e5 solid;
  -moz-box-shadow:0px 5px 5px #000000 inset;               /* For Firefox3.6+ */
  -webkit-box-shadow:0px 5px 5px #000000 inset;            /* For Chrome5+, Safari5+ */
  box-shadow:inset 0 3px 5px rgba(0,0,0,0.2);                    /* For Latest Opera */
}
.banner_category_container {position: relative;}
.banner_category_item {color:#000000;margin-left: 11px;cursor: pointer;position: relative;}
.banner_category_item_out::before {
  width: 100%;
  display: none;
  height: 1px;
  content: ' ';
  background-color: #fe892f;
  position: absolute;
  bottom: -9px;
  left: -2px;
}
.banner_category_item:hover {color:#ff8a30;text-decoration: none;}
.banner_category_item_out:hover.banner_category_item_out::before {display: block;}
.banner_category_item_inner:hover {text-decoration: underline;}
.banner_category_item:first-child {margin-left: 14px;}
.banner_category_more {
  z-index: 102;
  position: absolute;
  right: 12px;
  top: 38px;
  width: 200px;
  line-height: 26px;
  background-color: #000000;
  text-align: right;
  -moz-box-shadow: 1px 2px 5px 0px #000000;
  -webkit-box-shadow: 1px 2px 5px 0px #000000;
  box-shadow: 0px 2px 5px 0px #000000;
}
.banner_category_ul {
  width: 100%;
  position: relative;
  padding: 10px;
  margin-bottom: 0px;
}
#banner_category_ul {position: relative;}
#banner_category_ul:after, #banner_category_ul:before {
  border: 10px solid transparent;
  border-bottom: 10px solid #000000;
  width: 0;
  height: 0;
  position: absolute;
  top: -19px;
  right: 15px;
  content: ' ';
  z-index: 103;
}

#banner_category_ul:before {
  border-bottom-color: #808080;
  top: -20px;
  right: 15px;
}

.banner_category_more li {list-style: none;}
.banner_category_more .banner_category_item {color: #06c7cc;padding: 0px;margin: 0px;margin-right: 10px;}

// category-mb
.categoryMb_icon {border: 0px red solid;width: 37px;height: 30px;position: absolute;display: none;text-decoration: none;
  left: 110px;top:11px;;background: url("../../images/banner/category-icon.png") no-repeat center;background-size: 37px;}
.categoryMb_icon:active,.categoryMb_icon:hover {text-decoration: none;}
.banner_category_panel {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  background-color: white;
  float: left;
}
.banner_category_row {text-align: left}
.categoryMb_item {height: 52px;width:100%;text-align: center;padding: 0px;margin-bottom: 0px;line-height: 52px;
  display: block;text-decoration: none;border-bottom: 1px #e5e5e5 solid;position: relative;}
.categoryMb_item:after, .categoryMb_item:before {
  border: 8px solid transparent;
  border-left: 8px solid white;
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  right: 8px;
  content: ' ';
}
.categoryMb_item:before {
  border-left-color: #000000;
  top: 18px;
  right: 7px;
}
.categoryMb_item:active,.categoryMb_item:hover {text-decoration:none;opacity: 0.7;}
.categoryMb_img {display:block;width: 30px;height: 30px;float:left;margin: 10px 0px 0px 15px;text-decoration: none;}
.categoryMb_name {font-size: 14px;margin-left:15px;color: #666666;text-decoration: none;float: left;}
.banner_category_women_cloth {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -8px -9px;background-size: 200px;}
.banner_category_women_shoe {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -75px -9px;background-size: 200px;}
.banner_category_men_cloth {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -140px -9px;background-size: 200px;}
.banner_category_men_shoe {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -8px -75px;background-size: 200px;}
.banner_category_bags {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -75px -75px;background-size: 200px;}
.banner_category_jewelry {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -140px -75px;background-size: 200px;}
.banner_category_health {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -8px -141px;background-size: 200px;}
.banner_category_kids {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -75px -141px;background-size: 200px;}
.banner_category_pets {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -140px -141px;background-size: 200px;}
.banner_category_tools {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -8px -207px;background-size: 200px;}
.banner_category_art {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -75px -207px;background-size: 200px;}
.banner_category_book {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -140px -207px;background-size: 200px;}


.banner_category_sport {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -8px -273px;background-size: 200px;}
.banner_category_com {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -75px -273px;background-size: 200px;}
.banner_category_auto {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -140px -273px;background-size: 200px;}


.banner_category_serv {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -8px -339px;background-size: 200px;}
.banner_category_other {background: url("../../images/icons/icons_category.png") no-repeat;background-position: -75px -339px;background-size: 200px;}

.banner_sell {
  cursor: pointer;
  padding: 0px 34px;display: inline-block;margin-right:10px;
  background: url("../../images/banner/banner-sell.png") no-repeat left center;
}
.banner_sell_span {

}
.banner_login {cursor: pointer;margin:0px 8px;}
.banner_login_split {border-right: 1px #dddddd solid;padding: 12px 0px;}
.banner_login_split_mb {position: absolute;height: 15px;left: 0px;top: 12px;}
.banner_login_reg {padding:10px 43px;background: url("../../images/banner/register.png") no-repeat center top; background-size: 86px; }
.banner_login_sign {padding:10px 30px;margin:0px 0px 0px 5px;background: url("../../images/banner/sign-in.png") no-repeat center center; background-size: 56px; }

.banner_sell:hover,.banner_login_reg:hover,.banner_login_sign:hover {opacity: 0.7;}

.banner_user_mb {
  color: white;
  display: none;
}
.banner_login_mb {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 55px;
}
.banner_login_mb_down_a:hover {text-decoration: none;}
.banner_login_mb_down {
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 48px;
  background: url("../../images/banner/sell&join.png") no-repeat 24px;
  background-size: 70px;
  display: inline-block;
}
.banner_login_mb_join_par {
  display: inline-block;
  height:50px;
  position: relative;
  }
.banner_login_mb_join {
  text-align: center;
  cursor: pointer;
  height: 48px;
  width: 60px;
  /*margin-left: 16px;*/
  background: url("../../images/banner/sell&join.png") no-repeat -36px 21px;
  background-size: 70px;
  display: none;
}
.banner_user_portrait_mb {
  position: absolute;
  left: 0;
  top: 10px;
  height:30px;
  width: 30px;
  border-radius: 15px;
}
.banner_login_mb_down:hover,.banner_login_mb_join:hover,.banner_category:hover {opacity: 0.9;}
.banner_login_mb_pop {
  position: absolute;
  left: 0px;
  line-height: 30px;
  width: 100%;
  z-index: 101;
  text-align: center;
  background-color: white;
  color: #000000;
  border-left: 3px #ff8931 solid;
  border-right: 1px #000000 solid;
  display: none;
}
//feedback
.banner_feedback_title {font-size: 18px;font-weight: normal;}

// reset block
.searchBlock_input_mb_par {display: none;}

.banner_msg_number{
  font-size: 14px;
  margin-left: -8px;
  margin-right: 6px;
}
.banner_new_message{
  display: inline-block;
  padding: 0 30px;
  width: 27px;
  background:url("../../images/banner/banner_msg.png") no-repeat center center;
  background-size: 20px;
  position: relative;
  &:hover{
    text-decoration:none;
  }
  .banner_msg_number{
    border: 3px solid white;
    background-color: #fe8830;
    height: 20px;
    line-height: 16px;
    width: 30px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 12px;
    left:28px;
    border-radius: 15px;
  }
}

@media (max-width: @media-screen-phone-max) {

}
@media (max-width: @media-screen-tablet-max) {
  .searchBlock_logo {
    height: 29px;
  }
  .searchMbShowBody .searchBlock_input_mb_par {display: block;}
  .searchBlock {
    height: 50px;
    line-height: 50px;
  }
  .aCon {left: 0px;top: 0px;}
  .banner_category_par {display: none;}
  .categoryMb_icon {display: block;}

  .banner_new_message {
    vertical-align: top;
    padding: 0 20px;
    .banner_msg_number{
      left:24px;
      top:6px;
      width: 25px;
      height: 18px;
      line-height: 12px;
    }
  }
  .banner_login_split{
    height: 15px;
    display: inline-block;
    padding: 0;
  }
  .banner_login_mb_down_a{
    display: inline-block;
    height: 100%;
  }
  .banner_user_mb .banner_login_split{
    margin-bottom: 15px;
  }
  .banner_login_mb{
    text-align: right;
    .banner_login_mb_join_par{
      width: 46px;
    }
  }
}
@media screen and (min-width: @media-screen-tablet-max) and (max-width: 1200px) {
  .banner_category_par {
    text-align: center;
  }
  .banner_category {margin-left: -20px;}
  .banner_category_item {margin-left: 5px;}
  .banner_category_item:first-child {margin-left: 0px;}
}









