/**
 * active banner
 */
.active_banner_con {
  width: 100%;
  background-color:#f32600;
  text-align: center;
  display: block;
}
.active_banner {
  width: 100%;
  max-width: 1440px;
  max-height: 79px;
}
.active_banner_mb {
  width: 100%;
  max-width: 640px;
  max-height: 170px;
}
/**
 * send link block
 */
.send-link-dialog {
  width: 450px;
  margin-top: 100px;
  .modal-body {padding: 47px 37px;}
  .form-group {margin-bottom: 0px ! important;}
  input {
    margin-top: 3px;
    width: 250px;
  }
  .separator {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .btn-send {
    .clickable;
    margin-left: -15px;
  }
}
#sms_link_country {
  width: 150px;
  margin-bottom: 8px;
  margin-right: -4px;
  padding-left: 8px;
  padding-right: 24px;
  height: 29px;
  background-color: white;
  border: 1px #eeeeee solid;
  border-right: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  position: relative;
}
.home_phone_select_par {position: relative;display: inline-block}
.home_phone_select_par:after, .home_phone_select_par:before {
  border: 4px solid transparent;
  border-top: 4px solid #000000;
  width: 0;
  height: 0;
  position: absolute;
  top: 13px;
  left: 135px;
  content: ' ';
  z-index: 103;
}

.sendContainer {padding: 0px;}
.home-send-link {margin: 18px;margin-left: 0px;}
.home-send-link img:hover {opacity: 0.8;}
.home-send-enter {color: #a2a1a1;font-size: 12px;margin-bottom: 5px;}
.send-tip {
  height: 20px;
  width: 260px;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 30px;
  padding-top: 0px;
  color: white;
  font-size: 12px;
  color: #ff3000;
}
.send-tip-ok {color: #00ff00;}
.clickable {cursor: pointer;}

.sendContainer .img-apple-app,.sendContainer .img-google-play {width: 160px;}


.icon-close {
  opacity: 1 ! important;
  position: absolute;
  right: -25px;
  top: -20px;
  z-index: 100;
}

.icon-close:focus {
  border: none;
}
#sendLinkModal .modal-header {
  border-bottom: none;
}
/**
 * info-nav block
 */
.info-nav {
  margin-top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  > li {
    margin-bottom: 0px;
    a {
      background-color: rgb(194, 194, 158);
      color: #ffffff;
      padding:10px 8px;
    }
  }
}

.info-content {
  background-color: #ffffff;
  padding: 1px 30px;
}

.info-title {
  color: @info-title-color;
}

.contact {
  margin-top: 40px;
}

.contact-title {
  margin-left: 40px;
}

.icon-support {
  display: inline-block;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/**
 * footer
 */
.bottom-fixed {background-color: @main-bg-color;}
.footer {
  width: 100%;
  background-color: @footer-bg-color;
  font-family: arial, sans-serif;
  color: #e8e8e8;
  padding: 18px 0;
  visibility: hidden;

  a {
    color: #e8e8e8;
  }

  ul {
    margin-bottom: 0;

    > li {
      padding-left: 0px;
      padding-right: 0px;

      + li:before {
        padding: 0px 15px 0px 10px;
        color: #ccc;
        content: "|";
      }
    }
  }
}
.footer_mb {display: none;}
.footerRelative .footer {}
/**
 * home top block
 */
.home_display {
  background-color: white;
}
.home_display .container {
  height: 380px;
  background: url("../../images/home/home_bg.png") no-repeat 86% center;
  padding-top: 60px;
}
.home_slogan {
  font-size: 32px;
  margin-bottom: 10px;
  color: #000000;
//  text-shadow: 1px 0 1px rgba(0,0,0,0.8);
  line-height: 38px;
  margin-top:0;
}
.home_slogan_small {
  width: 100%;
  margin-top: 20px;
  font-size: 30px;
  line-height: 40px;
}
.description {
  color: white;
  font-size: 20px;
  padding-right: 0px;
  font-weight: 200;
  text-shadow: 1px 0px 2px #000000;
  h2{
    font-size: 20px;
    margin:0;
    line-height: 1.42857143;
  }
}

/**
 * send phone number
 */
.home_phone_input_par {position: relative;}
.home_phone_input {height: 30px;padding:0px;margin:0px;width: 285px;border:none;padding-left: 10px;}
.home_phone_input:focus {outline:#f2ddcd Solid 1px;}
.sendContainer .home-send-link {width: 372px;border-top: 3px #242424 solid;padding-top: 20px;}
.sendContainer .home_phone_input{border: 1px #eeeeee solid;border-left:none;width: 151px;height: 30px;}
.sendContainer #sms_link_country {height: 30px;}
.home_phone_send {margin-left:5px;cursor:pointer;padding:36px;background: url('../../images/home/send-button.png') no-repeat center;background-size: 72px;}
.sendContainer .home_phone_send{margin-left:-5px;}
.home_phone_send:hover {opacity: 0.7;}
/**
 * pc download block
 */
.pc_apple-app {padding-right: 20px;}
.pc_google-play {padding-left: 20px;}
.pc_google-play a{float: left;}
.home_display .pc_google-play{padding-left: 33px;padding-right: 0px;}
/**
  * social
  */
.social {
  background-color: @social-bg-color;
  padding: 60px 0 0px 0px;
  width: 100%;
}
.social_icon_a {text-decoration:none !important;}
.social_icon {margin-bottom: 6px;}
.social_tip {padding-left: 0px;text-align: left;line-height: 20px;}
.social_tip_title {color:#4d4d4d;}
.social_tip_sub {color:#818181;line-height: 16px;}
.social_extend {text-align: left;margin-left: 0px;margin-top:10px;min-height: 20px;}
.social_icon_img {padding: 8px 20px;
  display: inline;width: 31px;height: 31px;margin: 0px 4px;border:none;}
.social_icon_img:hover {opacity: 0.8;text-decoration: none;}
.social_icon_face {background: url("../../images/icons/share_icons.png") no-repeat;background-position:0px 1px;background-size: 32px;}
.social_icon_twitter {background: url("../../images/icons/share_icons.png") no-repeat;background-position:0px -32px;background-size: 32px;}
.social_icon_instergram {background: url("../../images/icons/share_icons.png") no-repeat;background-position:0px -64px;background-size: 32px;}
.social_icon_google {background: url("../../images/icons/share_icons.png") no-repeat;background-position:0px -96px;background-size: 32px;}
/**
 * gleam
 */
.home_gleam_con {
}
.home_gleam {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 0px;
  width: 290px;
  height: 44px;
  background-color: #f5f5f5;
  background: url('../../images/gleam/gleam_back.png') no-repeat left top;
  display: none;
  -moz-box-shadow: 1px 1px 5px 0px #808080;
  -webkit-box-shadow: 1px 1px 5px 0px #808080;
  box-shadow: 1px 1px 5px 0px #808080;
}
.gleam_card {
  float: left;
  width: 84px;
  height: 41px;
  background: url('../../images/gleam/gleam_card.png?x=1') no-repeat center center;
}
.gleam_split {height: 30px;margin-top: 7px;border-right: 1px #cdcdcd solid;float: left;}
.gleam_text {
  float: left;
  width: 205px;
  line-height: 44px;
  height: 44px;
  font-size: 20px;
  padding-left: 9px;
}
.gleam_text a {color: #545454;}
.gleam_close {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 12px;
  cursor: pointer;
  height: 12px;
  background: url('../../images/icons/gleam_close.png') no-repeat center center;
}
.gleam_close:hover {opacity: 0.7;}

.site-map {
  background-color: #f0f0f0;
  .main-content{
    h1{
      font-size: 28px;
    }
    dd{
      float: left;
      margin-right: 80px;
      width:250px;
      h2{
        display: block;
        width:250px;
        height:50px;
        line-height: 50px;
        font-size: 20px;
        color: #666;

      }
      a:hover{
        background-color:#333;
      }
    }
    dl{
      float: left;
    }
  }
}
@media screen and (max-width: 360px) {
  .site-map .main-content{
    h1{
      font-size: 20px;
      margin-left: 10px;
    }
    dd{
      float: left;
      margin:0;
      padding-left: 10px;
      width:48%;
      h2{
        font-size: 14px;
        width: 100%;
        line-height: 20px;
      }
    }
  }
}

.recom-more{
  text-align: center;
  .recom-link{
    display: block;
    padding-bottom: 20px;
    color: #b0b0b0;
    font-size: 20px;
    text-decoration: underline;
    &:hover{
      color:#000;
    }
  }
}

@media screen and (max-width: 360px) {
  .contact-title {
    margin-left: 10px;
  }
  .apple-app {
    padding-right: 3px;
    margin-top: 10px !important;

  }
  .google-play {
    padding-left: 0px;
    padding-right: 15px;
    margin-top: 10px !important;
  }
  .info-download-button {
    margin-top: 26px !important;
  }

  .description {
    margin-top: -5px;
  }
  .waterCon_city_block {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 767px) {

  .main-content {
    padding-left: 0px;
  }
  .home_display {
    background: none;
  }
  .home_display_main {
    height: auto !important;
  }

  .apple-app {
    margin-top: 20px;
  }

  .google-play {
    margin-top: 20px;
  }

  .description {
//    margin-top: 44px;
  }

  .phone {
    margin-top: 40px;
  }
  .video {
    width:240px;
    height:180px;
    margin-top: 0px;
  }

  .img-apple-app {
//    float: right;
  }

  .img-google-play {
//    float: left;
  }

  .img-apple-app,
  .img-description,
  .img-phone {
    display: inline-block;
  }

  .info-download-button {
    margin-top: 56px;
    margin-bottom: 40px;

  }
  .social_tip {
    display: none;
  }

  .home_gleam_con {
    width: 100%;
    background-color: #f0f0f0;
    height: 80px;
    padding-top:8px;
  }
  .home_gleam {
    position: relative;
    bottom: 0px;
    right: 0px;
    background-color: #f5f5f5;
    display: block;
    margin: 0px auto;
  }
  .gleam_close {display: none;}
  //info tab reset
  .info-nav > li a {font-size: 12px;padding: 10px 5px;}
  // footer
  .footer {display: none;}
  .footer_mb {display: block;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-content {
    padding-left: 0px;
  }
  .home_display_main {
    height: auto !important;
  }
  .apple-app {
    margin-top: 46px;
  }
  .google-play {
    margin-top: 46px;
  }
  .description {
//    margin-top: 44px;
  }
  .phone {
    margin-top: 40px;
  }
  .img-apple-app {
//    float: right;
  }
  .img-google-play {
//    float: left;
  }
  .img-apple-app,
  .img-description,
  .img-phone {
    display: inline-block;
  }

  .info-download-button {
    margin-top: 26px;
    margin-bottom: 40px;
    margin-left: -40px;
  }
  .social_tip {display: none;}
}
@media screen and (max-width: 991px) {
  .home_display .container {height: 230px;padding-top: 0px;background: none;}
  .home_display .img-apple-app,.home_display .img-google-play {width: 140px;padding: 0px;display: inline-block;}

}
@media screen and (min-width: 992px) and (max-width: 1199px) {

  .main-content {
    padding-left: 18px;
  }
  .home_slogan {
    margin-top: 15px;
  }

  .description {
//    margin-top: 43px;
  }

  .download-btns {
    margin-top: 30px;
  }

  .phone {
    padding-top: 0px;
    padding-left: 60px;
  }

  .info-download-button {
    margin-top: 26px;
    margin-bottom: 40px;
    margin-left: -10px;
  }
}
@media screen and (min-width: 1200px) {

  .main-content {
    padding-left: 60px;
  }
  .description {
//    margin-top: 43px;
  }
  .download-btns {
    margin-top: 10px;
  }
  .phone {
    padding-left: 60px;
    padding-bottom: 0;
  }
  .info-download-button {
    margin-top: 26px;
    margin-bottom: 40px;
    margin-left: -40px;
  }
}
@media screen and (min-width: 1400px) {
  .layout_pub .main-display .info-content {
    padding-bottom: 50px;
  }

  .layout_home .bottom-fixed {
    position: relative;
  }
  .home_display {
  }
}
@media screen and (min-width: 1440px) {

}

/**
 * Error 400 404 500 page style
 */
.err-logo{
  position: relative;
  margin: auto;
  text-align: center;
  padding: 60px;
  background-color: white;
  .err-code{
    font-size: 32px;
    color: white;
    position: absolute;
    left:80px;
    top: 100px;
  }
  .err-logo-inner{
    position: relative;
    display: inline-block;
  }
  .err-logo-txt{
    display: inline-block;
    padding-left:40px;
    font-size: 30px;
    text-align: left;
    vertical-align: middle;
    h1{
      font-size: 80px;
    }
  }
}
.err-recommend{

  background-color: #f8f8f5;
  /*.waterBack,.waterItem_load{
    background-color: white;
  }*/
  .waterItem_load,.waterItem_more{
    display: none;
  }
  .back-home{
    text-align: center;
    padding: 10px;
    a{
      color: #b0b0b0;
      text-decoration: underline;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .err-logo{
    padding: 20px 0;

    .err-logo-txt{
      h1{display: none;}
      font-size: 24px;
      padding: 10px 0;
    }
  }
}