
.banner_user_display{
  background-color: #f8f8f5;
}
/**
 * item public
 */
.item_block_box_shadow {
 /* -moz-box-shadow: 1px 1px 5px 0px #808080;
  -webkit-box-shadow: 1px 1px 5px 0px #808080;
  box-shadow: 1px 1px 5px 0px #808080;
  border-radius: 4px;*/
  border: 1px solid #ececec;
}
.crumb{
  font-size: 14px;
  text-align: left;
  .container{
    a{
      color:black;
    }
    margin: auto;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
  }
}
/**
 * item banner
 */
.item_banner {
  top: 0px;
  left: 0px;
  height: 128px;
  line-height: 128px;
  border-bottom:2px #000000 solid;
  background-color: @base-bg-orange;
}
.item_banner_container {
  margin: 0px auto;
}
.item_banner_down_btn {
  text-align: center;
}
.item_banner_slogan {
  text-align: center;
}
/**
 * item layout
 */
#item_container {
  padding-bottom: 20px;
}
.item_main {

}
.item_assit {
  margin-bottom: 20px;
}

/**
 * item product block
 */
.product_buy_btn,.product_ask_btn,.product_like_btn {
  width: 100%;
  max-width: 316px;
  height: 56px;
  line-height: 56px;
  margin: 12px 0;
  .ask,.heart,.heart-filled{
    display: inline-block;
    vertical-align: middle;
  }
}
.product_like_btn.hoverAct:hover,.product_like_btn.ng-hoverAct:hover{
  .add-to-like{
    display: none;
  }
  .hover-remove-display{
    display: block!important;
  }
}
/**
 * item product block
 */
.item_product {background-color: #eaeaea}

.item_product_par {
  position: absolute;left: 50%;top: 130px;margin-left: -50px;
  z-index:0;display: block;
  background: url("../../images/item/icon_5.png") no-repeat center;
  background-size: 42px;}
.item_product_load {}
.item_product_load,
.item_product_load:after {
  width: 100px;height: 100px;border-radius:100px;
}

.buy_bottom_group{
  padding-left: 55px;
  padding-right: 15px;
}
.product_buy_btn_bottom,.product_ask_btn_bottom,.product_like_btn_bottom {
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 18px!important;
  span.ask,span.heart,span.heart-filled{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;

    transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
}
.product_renew_btn{
  margin: 20px;
  height: 56px;
  line-height: 56px;
}
.product_buy_btn_bottom{
  margin:0 10px;
  width: 50%;
}
.product_like_btn_bottom{
  width: 40px;
  margin-left: 15px;
  position: absolute;
}
.product_ask_btn_bottom{
  width: 40%;
}

.orange-btn{
  border: 1px solid #ff8830;
  background-color: #ff7c2b;
  background: linear-gradient(#ffb843,#ff7c2b);
  border-radius: 8px;
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(200,200,200,.5);
  text-align: center;
  font-size: 22px;
  color: white;
  cursor: pointer;
  &:hover{
    opacity:0.8;
  }
}
.blue-btn{
  border: 1px solid #86aeba;
  background-color: #ff7c2b;
  background: linear-gradient(#5bcad8,#3a9eb7);
  border-radius: 8px;
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(200,200,200,.5);
  text-align: center;
  font-size: 22px;
  color: white;
  cursor: pointer;
  &:hover{
    opacity:0.8;
  }
}
.grey-btn{
  border: 1px solid #dedede;
  background-color: #ff7c2b;
  background: linear-gradient(#fafafa,#f4f4f4);
  border-radius: 8px;
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(200,200,200,.5);
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  &:hover{
    opacity:0.8;
  }
}

.item_product_img {
  width: 100%;
  min-height: 400px;
}
.item_product_info {
  min-height: 100px;
  margin-top: 0;
  position: relative;
}
.item_product_info_title {
  color: #343434;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}
.item_product_info_desc {
  font-size: 18px;
  margin: 0 0 10px;
  line-height: 1.42857143;
  word-break:break-word;
  text-align:justify;
  text-justify:distribute-all-lines;/*ie6-8*/
  text-align-last:justify;/* ie9*/
  -moz-text-align-last:justify;/*ff*/
  -webkit-text-align-last:justify;/*chrome 20+*/
}

.item_product_audio {
}
.jp-controls{
  padding-left: 0;
  float: left;
  .jp_li {
    width: 40px;
    height: 40px;
    list-style: none;
  }
  .jp_li .jp_item{
    width: 30px;
    height:40px;

    margin: 1px 5px;
    transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  .jp_item {width: 28px;height: 31px;display:block;}


} 

.jp-state-playing .jp_li_play {display: none;}
.jp-state-playing .jp-pause {display: block;}

.play-timer{
  margin-left: 50px;
  line-height: 40px;
  height: 40px;
  background-color: #f8f8f8;
  border-radius: 4px;
  .jp-current-time{
    margin-left: 10px;
  }
  .jp-duration{
    margin-right:10px;
  }
  .jp-progress{
    margin: 0 40px;
  }
  .jp-seek-bar{
    background: url("../../images/item/play-default.png") repeat-x;
    background-size:1px 40px;
    height: 40px;
  }
  .jp-play-bar{
    background: url("../../images/item/play-active.png") repeat-x;
    background-size: 1px 40px;
    height: 40px;
    position: relative;
    &:after{
      content:"";
      height:18px;
      width: 18px;
      content:"";
      position: absolute;
      background-color: #ff8a30;
      border-radius: 9px;
      right:-15px;
      top:11px;
      z-index: 100;
    }
  }
  .jp-current-time{
    float: left;
  }
  .jp-duration{
    float: right;
  }
}



.item_images {
  background-color: white;
  min-height: 300px;
  padding: 15px 15px 0 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.item_status {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -87px;
  margin-top: -87px;
  width: 174px;
  height: 174px;
}
.item_status_sold {
  background:url("../../images/common/item_sold.png") no-repeat center center;
}
.item_status_unapprove {
  background:url("../../images/common/item_unapproved.png") no-repeat center center;
}
.item_status_unavailable {
  background:url("../../images/common/item_unavailable.png") no-repeat center center;
}
/**
 * mobile block
 */

//mobile images slider
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > figure {
  float: left;
  width: 100%;
  position: relative;
}

.image {
  min-height: 200px;
  max-width:100%;
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle
}

.positionNav {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20px;
}
#position {
  padding-left: 0px;
}
#position .nav {
  display: inline-block;
  list-style: none;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px;
  background-color: #f1f1f1;
}
#position .navOn {
  background-color: #ff8830;
}
//mobile person
.item_product_mobile_person {
  position: absolute;
  width: 100%;
  text-align: left;
  display: block;
  top: -25px;
  left: 5%;
}
.item_product_mobile_person_head {
  display: inline-block;
  line-height: 32px;
  .ver,.not-ver{
    position: absolute;
    left: 30px;
    top: 25px;
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  a{
    position: relative;
  }
  .person-shaddow{
    top: -17px;
  }
}
.item_product_mobile_person_img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 1px;
  margin-bottom: 1px;
}
.item_product_mobile_person_name {
  position: absolute;
  top: 0;
  left: 60px;
  color: black;

}
/**
 * right extend
 */

.item_extend {
}
.item_person {
  background-color: #ffffff;
  min-height: 160px;
  padding: 15px 0px;

}
.item_person_title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  line-height: 23px;
  text-align: left;
  word-wrap: break-word;
}
.item_person_price {
  color: @base-bg-orange;
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  i{
    color: #818181;
    font-size: 20px;
    font-style:normal;
    text-decoration: line-through;
    font-weight: normal;
  }
}

.item_person_buyBtn {
  margin-bottom: 10px;
}

.item_person_img {
  width:82px;
  height: 82px;
  border-radius: 41px;
}
.item_comment_img:hover,.item_person_img:hover {
  opacity: 0.8;
} 


.item_recommend {
  min-height: 100px;
  .similar-item{
    margin: 18px 0;
  }
}

.item_block{
  margin-bottom: 10px;
  background-color: #fff;
}
.item_recommend_head {
  text-align: left;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding-left: 6px;
  margin-top: 10px;
  background: url("../../images/common/recommendations.png") no-repeat left center;
}
.item_recommend_body {
  padding: 6px 0px 6px 6px;
}
.item_recommend_block {
  padding-left: 0px;
  padding-right: 6px;
}
.item_recommend_img {
  width: 100%;
  border-radius: 3px 3px 0 0;
  border: 1px solid #ccc;
  border-bottom-width: 0;
}
.item_recommend_title {
  border: 1px solid #ccc;
  line-height: 15px;
  font-size: 14px;
  padding: 5px 8px 8px 8px;
  margin: 0;
  text-align: left;
}
.item_recommend_title a {
  color: #000000;
}
.item_recommend_infos {
  font-family: "Helvetica Bold";
  font-size: 14px;
  line-height: 15px;
  text-align: left;
  padding: 5px 8px 8px 8px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  i{
    font-style: normal;
    color: grey;
    text-decoration: line-through;
  }
  .location{
    padding: 6px 0 6px 18px;
    background: url("../../images/icons/home_position.png") no-repeat left center;
    background-size: 10px;
  }
}

/**
 * item map
 */
.product-location-map{
  width: 100%;
}
.item_product_map {
  min-height: 100px;
  margin: 0px;
}

/**
 * item model block
 */
.item_modal_dialog .btn:hover,
.item_modal_dialog .btn:focus {
 color: white;
}
.item_modal_content {
  background-color: #eff0ed;
  border-radius: 0px;
  .item_product_img-aside{
    border-radius: 4px;
  }
  .item_modal_header-aside{
    background-color: #f8f8f5;

    
    .item_product_title{
      text-align: left;
      margin-top: 30px;
      overflow: hidden;
      text-overflow:ellipsis;
    }
    .item_person_price{
      margin: 0;
      color: black;
      font-size: 14px;
      font-weight: bold;
      i{
        font-weight: normal;
        font-size: 14px;
        margin-left: 0;
      }
    }
    .waterItem_distance_pos{
      text-align: left;
    }
  }

  .item_modal_portrait_aside{
    margin: 52px auto 6px auto;
    img{
      width: 42px;
      height: 42px;
      border-radius: 21px;
    }
  }
  .item_modal_body-ask-aside{
    padding: 5px;
    .form-group{
      position: relative;
      margin:65px;
    }
    .offer-price{
      position: relative;
      width: 200px;
      margin: auto;
    }
    .ready-to-buy{
      margin: 0 auto 42px auto;
    }
    input{
      padding-left:75px;
      width: 200px;
      height: 58px;
      margin: 10px auto 60px auto;
      font-size: 45px;
      line-height: 58px;
    }
    button.item_ask_input-margin{
      width: 100%;
      height: 54px;
    }
    .not-sure-link{
      color: #818181;
    }
    .buy_doller{
      font-size: 45px;
      line-height: 38px;
      position: absolute;
      left: 30px;
      top: 0;
      padding-right: 10px;
      margin: 10px 0;
      &.longSymbol{
        left: 15px;
        font-size: 25px;
      }
    }
  }
  .item_modal_portrait_name{
    margin-top: 0;
    margin-bottom: 16px;
  }
}
.item_modal_body {

}
.item_modal_input::-webkit-input-placeholder {
  color: #cccccc;
}
.item_modal_input:-moz-placeholder {
  color: #cccccc;

}
.item_modal_input:-ms-input-placeholder {
  color: #cccccc;
}​
.item_modal_body_a {color: #fe8831;text-decoration: underline;}
.item_modal_header {
  background-color: #f0f0f0;
  border-bottom: 1px #d9d9d9 solid;
}
.com_btn_orange_normal--fix {height: 41px !important;max-width: 100% !important;}
.item_modal_body-ask {
  padding:60px 70px 70px 70px;
  padding-bottom: 20px;
  background-color: #f8f8f5;
}

.item_modal_textarea {
  border-radius: 0px;
  resize: none;
  -webkit-appearance: none;
  overflow:auto;
  background-attachment:fixed;
  background-repeat:no-repeat;
  border: none;
  font-size: 18px;
}
.item_modal_input {
  border-radius: 4px;
  -webkit-appearance: none;
  border: none;
  height: 46px;
  font-size: 18px;
}



.item_modal_footer {
  border: none;
  padding: 0px 60px 50px 60px;
}
.item_modal_portrait {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: -45px;
}
.item_modal_portrait_img {
  width: 100%;
  height: 100%;
  border-radius: 45px;
}
.item_modal_portrait_name {
  color: #818181;
  font-size: 20px;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 12px;
  text-align: center;
}
.close.mapClose:hover {opacity: 0.7;}
.close.mapClose:focus {outline: none;}
.close.mapClose {position: absolute;right: -15px;top: -15px;height: 32px;
  background: url("../../images/common/upload_delete.png") no-repeat center;}
//reg
.item_modal_header--reg {
  background-color: #f8f8f8;
  border: none;
  height: 40px;
}
.item_modal_body--reg {
  padding: 0px 70px 40px 70px;
}
.item_modal_send--reg {color: #fe8831;font-family: "Helvetica Nueue";font-size: 20px;}
.item_modal_valTip {min-height: 30px;line-height: 30px;color: #fd8a31;margin: 0px;margin-top: 8px;}
.item_modal_dialog  .btn_orange_border:hover,
.item_modal_dialog  .btn_orange_border:active {color: #fc7d20 !important;}
//ask
.item_ask_input-con {
  position: relative;
}
.item_ask_input-margin {
  margin-bottom: 10px;
}
.item_ask_input-padding {
  padding-left: 54px;
}
.item_modal_header--msg {
  border: none;
  height: 0px;
}
.item_modal_msg_tip {
  width: 260px;
  margin: 0px auto;
  color: #ff8830;
  font-family: "Helvetica Nueue";
  font-size: 24px;
}
.item_modal_msg_split {
  width: 200px;
  margin: 0px auto;
  margin-top: 8px;
  border-bottom: 1px #d9d9d9 solid;
}
.item_modal_msg_sub {color: #818181;font-size: 12px;margin-top: 8px;}
.item_ask_person {
  position: absolute;
  left: 4px;
  top: 11px;
  width: 44px;
  border-right: 1px #c1c1c1 solid;
  height: 24px;
  background: url("../../images/icons/item_person_mail.png") no-repeat center top;
}
#item_renew_modal .item_modal_header{
  margin-top: 45px;
  border-width: 0;
}
.send-link {margin: 18px;}
.send-link img:hover {opacity: 0.8;}
/**
 * send phone number
 */
.home_phone_input_par {position: relative;}
.home_phone_input {height: 29px;padding:0px;margin:0px;width: 285px;border: none;padding-left: 10px;}
.home_phone_input:focus {outline:#f2ddcd Solid 1px;}
.home_phone_send {margin-left:5px;cursor:pointer;padding:36px;background: url('../../images/home/send-button.png') no-repeat center;background-size: 72px;}
.home_phone_send:hover {opacity: 0.7;}

.item_ask_mail {
  position: absolute;
  left: 4px;
  top: 11px;
  width: 44px;
  border-right: 1px #c1c1c1 solid;
  height: 24px;
  background: url("../../images/icons/item_person_mail.png") no-repeat center -46px;
}
.item_ask_tip {
  width: 100%;
  text-align: center;
  position: relative;
}

.offer_number_tip {color: #fd8a31;text-align: left;width: 100%;}

#report_modal {
  .item_modal_header{
    border-bottom-width: 0;
    background-color: #f8f8f5;
    padding-top: 15px;
    font-size: 24px;
  }
  .item_modal_content{
    background-color: #f8f8f5;
    .item_modal_body-msg{
      padding: 15px 70px;
    }
    .form-group div{
      cursor: pointer;
      text-align: left;
      height: 40px;
      line-height: 40px;
      padding: 0 14px 0 12px;
      border-bottom: 1px solid #fff;
      color: #818181;
      background-color: #eff0ed;
      font-size: 14px;
      position: relative;
      &.selected {
        .tick{
          display: block!important;
          position: absolute;
          right: 14px;
          top: 10px;
        }
      }
      &:last-child{
        border-bottom-width: 0;
      }
    }
    .com_btn_black_normal{
      width: 45%;
      height: 46px;
      font-size: 18px;
      border: none;
      border-radius: 4px;
    }
    .com_btn_orange_normal{
      width: 45%;
    }
  }

}

// msg tip
.item_msg_dailog {margin-top: 100px;}

.item-owner{
  .item-title{
    margin: 14px 0 14px 0;
  }
  .owner-detail{
    background-color: #fff;
    padding: 15px 0;
    .owner-icon,.owner-icon a{
      position: relative;
    }
    .ver,.not-ver{
      position: absolute;
      top:52px;
      left:76px;
    }
    .owner-follow{
      color:#ff8830;
      height: 42px;
      width: 154px;
      line-height: 42px;
      font-size: 20px;
      span{
        display: inline-block;
        margin-right: 12px;
      }
    }
    .owner-following{
      color: white;
      height: 48px;
      width: 154px;
      line-height: 48px;
      font-size: 20px;span{
        display: inline-block;
        margin-right: 12px;
      }
      .unfollow-div{
        display: none;
      }
    }
    .owner-following:hover{
      .unfollow-div{
        display: block;
      }
      .follow-div{
        display: none;
      }
    }
  }
  .owner-infos{
    margin-top: 95px;
    font-size: 18px;
    color:#818181;
    .after-bar{
      border-right: 1px solid #d2d2d2;
    }
  }
  .ver-status{
    margin-top: 10px;
    span,a{
      display: inline-block;
      vertical-align: middle;
      padding-left: 14px;
      margin-right: 8px;
    }
    .ver-infos{
      width: 340px;
      background-color: #404848;
      color: #c6c8c9;
      font-size: 16px;
      border-radius: 8px;
      right: 0;
      z-index: 0;
      &.in{
        opacity: 1;
        z-index: 1070;
      }
      .inner{
        padding: 0;
      }
      li{
        list-style: none;
        padding: 20px 0 20px 74px;
        border-bottom: 1px solid #696d6f;
        &:last-child{
          border-bottom-width:0;
        }
        span{
          position: absolute;
          left: 20px;
        }
      }
      .tooltip-arrow{
        right: 32px;
        left: initial;
        top: -4px;
        border-bottom-color: #404848;
      }
    }
    .infos{
      margin-left: 16px;
      float: right;
      opacity: .3;
    }
  }
  .person_items,.person_following,.person_followers{
    font-size: 22px;
    color: black;
    span {
      font-size: 18px;
      color: #818181;
    };
    &:hover {
      text-decoration: none;
      span {color: #000000;
        text-decoration: underline;}
    }
  }
  .item_person_name{
    text-align: left;
    font-size: 18px;
  }
}
.item-infos{
  font-size: 18px;
  line-height: 34px;
  .brand,.update-time,.delivery,.location{
    float: left;
    margin: 15px 20px 15px 0;
  }
  .brand-detail,.update-detail,.location-detail,.delivery-detail{
    padding: 10px 0 0 0;
    margin-left: 44px;
  }
  .brand-value,.update-value,.location-value,.delivery-value{
    float: right;
  }
  
  .bottom-line:not(:last-child){
    border-bottom: 1px solid #ccc;
  }
}

.mapcircle{
  background-color: #5f78f7;
  opacity: .5;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

.likes-content{
  margin-top: 15px;
  .small-heart{
    padding-top: 24px;
    margin: 5px 26px 0 0;
    font-size: 20px;
    float: left;
    text-align: center;
  }
  .liker-list{
    margin-left: 50px;
    img{
      width: 54px;
      height: 54px;
      border-radius: 27px;
      border: 1px solid #ccc;
      margin: 0 12px 12px 0;
    }
  }
}

.buy-ask-container{
  .buy-ask{
    margin: 18px 15px;
  }
  .buy-ask-content{
    background-color: white;
    margin-bottom: 20px;
  }
  .buy-ask-item{
    padding:10px 10px;
    line-height: 40px;
    cursor:pointer;
    .doller{
      margin-top: 3px;
    }
    &:not(:last-child){
      border-bottom: 2px solid #ccc;
    }
    .nav-right{
      float: right;
      margin-top: 10px;
    }
  }
  .doller{
    float: left;
  }
  .buy-ask-item-detail{
    float: left;
    margin-left: 14px;
    text-align: left;
    font-size: 18px;
  }
}
.report-item{
  margin: 15px 0;
  text-align: left;
  cursor: pointer;
  color: #818181;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  vertical-align: top;
  .plane{
    display: inline-block;
  }

}

.other-items{
  .other-item{
    margin: 26px 0 14px 0;
  }
  .item_seller_body{
    background-color: white;
    padding: 10px 0 10px 10px;
  }
  .item_seller_block{
    padding-left: 0;
    padding-right: 10px;
  }
}
.person-shaddow{
  height: 84px;
  width: 84px;
  border-radius: 42px;
  position: absolute;
  top: -33px;
  left: -2px;
  border: 4px solid rgba(255,136,48,.6);
}
.share-button{
  text-align: right;
}
.fb,.twitter,.pin{
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #f0f0f0!important;
}
.itemsSwitcher{
  div{
    padding: 5px 0;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 4px 0 0 4px;
    &:last-child{
      border-radius: 0 4px 4px 0;
    }
    &.selected{
      background-color: black;
      color: white;
    }
  }
}
#reason_content{
  margin-bottom: 10px;
}
.com_btn_black_normal{
  margin-right: 10px;
  background-color: #c9c9c9;
}

.location-map-container {
  padding: 0 15px 15px 15px;
  &.modal-body{
    padding: 0;
    img{
      padding: 0 15px 15px 15px;
    }
  }
  a:focus {
    outline: none;
  }
}
.cross{
  display: inline-block;
}
button.close,.close:hover{
  opacity: 1;
}

/* ------------------------
  media queries overriding default styles. 
 */

@media screen and (max-width: @media-screen-tablet-max) {
  .item_product,.item_person {
    display: none;
  }
  .item_product_mobile {
    display: block;
    background-color: #eaeaea;
  }
  .item_product_par {
    top: 50px;
  }
  .item_banner_down {
    line-height: 60px;
  }
  .item_banner_logo {
    text-align: center;
  }
  .item_banner_img_logo {
    width: 100%;
    max-width: 155px;
  }
  .item_banner_img_slogan {
    width: 100%;
    max-width: 228px;
  }
  .item_banner_img_down {
    width: 60%;
    max-width: 189px;
  }
  // banner_user
  .banner_user {display: none !important;}
  .banner_user_mb {
    display: block;
  }

  .banner_user_img_mb {border-radius: 15px;}
  //item
  .item_status {
    width: 160px;
    height: 160px;
    background-size: 160px;
    margin-top: -80px;
    margin-left: -80px;
  }

  .mobile_audio_fixed {
    float: right;
  }
  .item_product_pos_btn {
  }

  .item_person{
    margin-left: 0px;
    margin-right: 0px;
  }
  .item_images{
    padding-top: 40px;
  }
  .item-infos{
    padding: 0 15px;
    .brand,.update-time,.delivery,.location{
      
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
      margin: 5px;
    }
    .brand-detail,.update-detail,.delivery-detail,.location-detail{
      margin-left: 30px;
      padding: 0;
      font-size: 14px;
    }
  }
  .item_person_price_strong{
    font-size: 20px;
  }
  .item_product_info_title,.item_product_info_desc{
    font-size: 18px;
  }
  .mobile_apple-app,.mobile_google-play{
    img{
      margin: auto;
    }
    margin-top:30px;
    margin-bottom:40px;
  }

  .location-map-container {
    margin: 0;
  }
  .mapcircle{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: -30px;
    margin-top: -30px;
  }
  .item_modal_body-ask,.item_modal_body-ask-aside{
    padding: 5px!important;
    .form-group{
      margin:0!important;
    }
  }
  .item_modal_body-ask-aside{
    
    .ready-to-buy{
      margin-bottom: 28px;
    }
  }
  .item_product_img-aside{
    margin-top: 23px;
    margin-bottom: 26px;

  }
  #report_modal .modal-body{
    padding: 5px!important;
  }
  #reason_content{
    width: 280px;
  }
  .item_msg_dailog{
    margin-top: 0;
  }
  .person-shaddow{
    width: 52px;
    height: 52px;
    border-radius: 26px;
    left: 0;
    top: 0px;
  }
  .share-button{
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    margin-bottom: 12px;
    .share-mobile{
      float: left;
    }
  }
  .likes-content{
    margin-top: 12px;
    padding: 0;
    .small-heart{
      width: 25px;
      margin: 5px 10px 5px 20px;
      transform: scale(0.6);
      -ms-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -webkit-transform: scale(0.6);
    }
    .liker-list {
      margin-left: 30px;
      img{
        width: 34px;
        height: 34px;
        border-radius: 17px;
        margin: 0 5px 10px 0;
      }
    }
  }
  .other-items{
    .item_seller_body{
      background-color: transparent;
      padding: 6px 0 6px 6px;
      border-width: 0;
    }
    .item_seller_block{
      padding-right: 6px;
    }
  } 
  .report-item{
    text-align: center;
  }
  .item_modal_content .item_modal_portrait_name{
    margin-top: 42px;
    margin-bottom: 5px;
  }
}
@media (max-width: @media-screen-phone-max) {
  .item_banner {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 66px;
    line-height: 66px;
    width: 100%;
  }
  .item_banner_img_slogan {
    max-width: 180px;
  }

  //item
  .item_container {
  }
  .item_status {
    width: 88px;
    height: 88px;
    background-size: 88px;
    margin-top: -44px;
    margin-left: -44px;
  }
  .item_banner_down {
    line-height: 26px;
  }

  .mobile_audio_fixed {
    padding-right: 0px;
  }
  .item_product_pos_btn {
    background-size: 70px;
    width: 70px;
  }
  .item_banner_img_down {
    max-width: 100px;
  }
  .item_banner_img_logo {
    max-width: 100px;
  }

  .item_modal_dialog {width: auto;}
  .item_modal_dialog .close {position:relative;z-index:100;font-size: 31px;line-height: 20px;}
  .item_modal_body-ask {padding: 10px;padding-top: 70px;}
  .item_modal_body--reg {padding:10px;padding-top: 0px;font-size: 12px;}
  
}
@media (min-width: @media-screen-tablet-min) {

}
@media (min-width: @media-screen-desktop-min){
  .item_banner_container {
      width: 970px;
    }
  .item_banner_down {
    line-height: 128px;
  }
  .item_banner_img_down {
    width: 90%;
    max-width: 169px;
    text-align: left;
  }
  .item_banner_slogan {
    text-align: right;
    padding-right: 12px;
    margin-bottom: 0px;
  }
  .banner_user {display: block;}
  .banner_user_mb {
    display: none;
  }
  .item_product {
    display: block;
  }
  .item_product_mobile {
    display: none;
  }
  .item_container {
    width: 970px;
  }
  .item_main {
    padding-right: 30px;
  }

  .item_recommend_img {
    max-height: 300px;
  }
  .item_product{
    position: relative;
    .one-item{
      overflow: hidden;
      margin-bottom: 20px;
    }
  } 
  .jp-controls{
    float: right;
    overflow: hidden;
  }

}
.share-it, .fb, .pin, .twitter, .ask, .not-ver, .ver, .follow, .following, .ver-fb, .ver-mail, .ver-phone, .unver-mail, .unver-fb, .unver-phone, .infos, .seller-profile, .heart, .heart-filled, .doller, .play, .pause, .brand, .update-time, .location, .delivery, .plane, .about-owner, .buy-ask, .other-item, .similar-item, .small-heart, .ready-to-buy, .cross,.tick, .fb-hover, .twitter-hover, .pin-hover, .nav-right{
  background: url(../../images/item/item.png?v=20150323) no-repeat;
  background-size: 207px 532px;
}

.share-it{
  background-position: 0 0;
  width: 198px;
  height: 41px;
}

.ask{
  background-position: -75px -194.5px;
  width: 37px;
  height: 30px;
}

.not-ver{
  background-position: 0 -164px ;
  width: 30px;
  height: 30px;
}

.ver{
  background-position: -36px -164px ;
  width: 30px;
  height: 30px;
}

.follow{
  background-position: 0 -197.5px ;
  width: 22px;
  height: 24px;
}

.following{
  background-position: -26px -197.5px ;
  width: 22px;
  height: 24px;
}

.ver-fb{
  background-position: -33.5px -225px ;
  width: 30px;
  height: 30px;
}

.ver-mail{
  background-position: 0 -225px ;
  width: 30px;
  height: 30px;
}

.ver-phone{
  background-position: -67.5px -225px ;
  width: 30px;
  height: 30px;
}

.unver-mail{
  background-position: -100px -225px ;
  width: 30px;
  height: 30px;
}

.unver-fb{
  background-position: -133px -225px ;
  width: 30px;
  height: 30px;
}

.unver-phone{
  background-position: -165.5px -225px ;
  width: 30px;
  height: 30px;
}

.infos{
  background-position: 0 -256.5px ;
  width: 26px;
  height: 28px;
}

.seller-profile{
  background-position: -65.5px -257.5px ;
  width: 36px;
  height: 36px;
}

.heart{
  background-position: 0 -131.5px;
  width: 34px;
  height: 33px;
}

.heart-filled{
  background-position: -36px -131.5px ;
  width: 34px;
  height: 33px;
}

.doller{
  background-position: -73px -125px ;
  width: 36px;
  height: 37px;
}

.play{
  background-position: 0 -284px ;
  width: 28px;
  height: 31px;
}

.pause{
  background-position: -32px -284px ;
  width: 16px;
  height: 26px;
}

.brand{
  background-position: 4px -325px ;
  width: 24px;
  height: 24px;
}

.update-time{
  background-position: -25px -325px ;
  width: 25px;
  height: 26px;
}

.location{
  background-position: -75px -325px ;
  width: 26px;
  height: 26px;
}

.delivery{
  background-position: -50.5px -325px ;
  width: 26px;
  height: 26px;
}

.plane{
  background-position: -50.5px -200px ;
  width: 16px;
  height: 16px;
}

.about-owner{
  background-position: 0 -353.5px ;
  width: 127px;
  height: 15px;
}

.buy-ask{
  background-position: 0 -373.5px ;
  width: 95px;
  height: 19px;
}

.other-item{
  background-position: 0 -395.5px ;
  width: 163px;
  height: 15px;
}

.similar-item{
  background-position: 0 -414.5px ;
  width: 114px;
  height: 15px;
}

.small-heart{
  background-position: -125px -125px ;
  width: 24px;
  height: 20px;
}

.ready-to-buy{
  background-position: 0 -439px ;
  width: 178px;
  height: 56px;
}
.cross{
background-position: -75px -163px;
width: 27px;
height: 27px;
}

.tick{
  background-position: -102px -170px ;
  width: 20px;
  height: 18px;
}

.fb{
  background-position: 9px -504px ;
  width: 30px;
  height: 30px;
}

.twitter{
  background-position: -16px -500px ;
  width: 30px;
  height: 30px;
}

.pin{
  background-position: -46px -504px ;
  width: 30px;
  height: 30px;
}

.nav-right{
background-position: -125px -195px;
width: 15px;
height: 25px;
}