/**
 * login page
 */
/*buttons*/
.com_btn_orange_normal {
  background-color: #ff8831;
  max-width: 442px;
  width: 100%;
  height: 46px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  color: white;
}
.com_btn_gray_normal {
  background-color: #a7a7a7;
  max-width: 442px;
  width: 100%;
  height: 46px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  color: white;
}
.com_btn_orange_normal:hover,.com_btn_gray_normal:hover {
  opacity: 0.9;
  color: white;
}
.com_btn_login {
  background-color: #ff8831;
  max-width: 442px;
  width: 100%;
  height: 42px;
  line-height: 36px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  border: 1px #ff8830 solid;
  border-bottom: none;
  background: -webkit-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%); /** FireFox **/
  background: -o-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%);  /** Opear **/
  background: -ms-linear-gradient(#ffc566 0%,#ff7c2b 100%);  /** IE9 IE10 **/
}

.com_btn_facebook {
  background-color: #5d82d2;
  max-width: 442px;
  width: 100%;
  height: 42px;
  line-height: 36px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
  border: 1px #1d5ba0 solid;
  border-bottom: none;
  background: -webkit-linear-gradient(top, #7bb5de 0%,#7bb5de 1px,#539fd4 2px,#2677b9 50%,#2064a8 80%,#1d5ba0 100%); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #7bb5de 0%,#7bb5de 1px,#539fd4 2px,#2677b9 50%,#2064a8 80%,#1d5ba0 100%); /** FireFox **/
  background: -o-linear-gradient(top, #7bb5de 0%,#7bb5de 1px,#539fd4 2px,#2677b9 50%,#2064a8 80%,#1d5ba0 100%);  /** Opear **/
  background: -ms-linear-gradient(#7bb5de 0%,#1d5ba0 100%);  /** IE9 IE10 **/
}
.com_btn_facebook:hover,.com_btn_login:hover {opacity: 0.9;}

.com_btn_facebook-unavailable {
  background: none;
  background-color: #AFC4F2;
  border: 1px #E0E9FD solid;

}
.text-require-par {
  padding-bottom: 5px;
  position: relative;
}
.text-require-par .text-require {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 16px;
  line-height: 16px;
}
.text-require {
  height: 56px;
  line-height: 56px;
  margin-left: 8px;
  color: #fe8830;
  font-weight: normal;
}

.loginPage {width:100%;background-color: white;}
.loginBox {min-width: 260px;width:320px;
  padding:10px 0px 40px 0px;min-height:400px;margin: 0px auto;}

.login {

}
._4z_b {
  width: 300px !important;
  height: 50px !important;

}
.login_tip {
  min-height: 30px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  margin-top: 12px;
}
.login_wave {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: 3px;
}
#login_load {

}
.login_top_label {
  color: #bcbcbc;
  font-size: 18px;
  font-weight: normal;
}
.login_top_label_facebook {
//  margin-top: 43px;
}
.login_top_or {
  padding: 16px;
  background: url("../../images/login/or.png") no-repeat center center;
  background-size: 16px;
}
.login_input {
  width: 100%;
  max-width: 442px;
  height: 42px;
  margin-bottom: 22px;
  border:1px #b9b9b9 solid;
  border-radius: 4px;
  padding: 6px 12px;
  padding-left: 42px;
  font-size: 14px;
  background-color: #f2f2f2;
  border: none;
}
.login_input_nick {
  background: url("../../images/login/signup.png") no-repeat;
  background-size: 17px;
  background-position: 10px 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 21px 18px;
  border-right: 1px white solid;
}
.login_input_email {
  background: url("../../images/login/signup.png") no-repeat;
  background-size: 17px;
  background-position: 10px -38px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 21px 18px;
  border-right: 1px white solid;
}
.login_input_pwd {
  background: url("../../images/login/signup.png") no-repeat;
  background-size: 17px;
  background-position: 10px -88px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 21px 18px;
  border-right: 1px white solid;
}
.login_sign_link {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  color: #595959;
}
.login_sign_href {
  color: #ff8830;
  font-size: 16px;
  text-decoration: underline;
}
// validate phone number page
.validatePage {background-color: #f8f8f6;font-size: 14px;}
.validateBox {}
.vb_text_normal {color: #818181;padding-top: 20px;}
.vb_text_weight {font-weight: bold;padding: 14px 15px;color: #242424;}
.vb_itemLine {height: 45px;line-height:45px;background-color: white;padding: 0px;
  border-bottom: 1px #cccccc solid;}
.vb_itemLine_region {border-bottom: none;padding: 0px 15px;position: relative;}
.vb_country {width: 150px;border:none;background: none;-webkit-appearance: none;
  -webkit-border-radius: 0px;}
.vb_country_par:after, .vb_country_par:before {
  border: 4px solid transparent;
  border-top: 4px solid #000000;
  width: 0;
  height: 0;
  position: absolute;
  top: 20px;
  right: 5px;
  content: ' ';
  z-index: 103;}
.vb_itemLine_confirm {height: 90px;padding-top: 10px;border-bottom: none;position: relative;}
.vb_item_input {height:30px;width:100%;border:none;line-height:20px;}
.vb_item_input::-webkit-input-placeholder {
  color: #cccccc;
}
.vb_item_input:-moz-placeholder {
  color: #cccccc;
}
.vb_item_input:-ms-input-placeholder {
  color: #cccccc;
}​
.vb_item_send {height:30px;position:relative;line-height:20px;border:1px #ff8830 solid;color:#ff8830;font-size:12px;width:160px;background:none;border-radius: 3px;}
.vb_item_send-disable {color: #cccccc;border-color: #cccccc; }
.vb_item_confirm {
  height:40px;
  line-height:32px;
  color:white;
  border:none;width:260px;border-radius: 3px;
  font-size: 16px;
  border: 1px #ff8830 solid;
  border-bottom: none;
  background: -webkit-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%); /** FireFox **/
  background: -o-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%);  /** Opear **/
  background: -ms-linear-gradient(#ffc566 0%,#ff7c2b 100%);  /** IE9 IE10 **/
}
.vb_item_verify_tip {line-height: 26px;}
.vb_item_confirm-disable {color: white;opacity: 0.4;}
.vb_confirm_load {position: absolute;top: 14px;right: 30%;}
.vb_item_skip {height:60px;line-height:60px;text-align: center;background: none;border-bottom: none;text-decoration: underline;color: #278aef;}
.vb_item_rightBorder {border-right: 1px #cccccc solid;}
.vb_item_passLabel {padding: 0px;}

/*
  media queries overriding default styles
 */
@media (max-width: @media-screen-tablet-max) {
  .loginPage {}
}
@media (max-width: @media-screen-phone-max) {
  .loginPage {
//    margin-top: 66px;
  }
  .loginBox {width: 300px;}
}
@media (max-width: @media-screen-min-phone-max) {
  .loginBox {width: 260px;}
}
@media (min-width: @media-screen-desktop-min){
  .loginPage {width: 970px}
}

/**------------------------
 * item upload page
 */
.itemUploadPage {
  width: 100%;
  margin: 0px auto;
  background-color: white;
}
.itemUpload {
  padding-left: 55px;
}
.itemUpload_new {
}
.upload_form_head {
  height: 88px;
  background: url("../../images/common/upload_list-new-item.png") no-repeat left center;
}
.upload_logout {
  position: absolute;
  right: 20px;
  top: 35px;
}
.upload_form_images {
  margin-bottom: 26px;
}
.upload_img_block {
  position: relative;
  width: 146px;
  height: 146px;
  overflow: hidden;
  margin-right: 11px;
  float: left;
  margin-bottom: 10px;
}
.cloudinary-fileupload {
  position: absolute;right: -10px;top: -20px;height: 164px;width: 1000px;
}
.upload_img_block_delete {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 31px;
  background: url("../../images/common/upload_delete.png") no-repeat center center;
  opacity: 0.5;
}
.upload_img_block_delete:hover {
  opacity: 1;
}
.upload_img {
  width: 144px;
  border: 1px #b9b9b9 solid;
}
.upload_img_add {
  width: 145px;
  height: 145px;
  background: url("../../images/common/upload_add-a-photo.png") no-repeat center center;
}
.fileinput-button {
  overflow: hidden;width: 100%;height: 100%;position: relative;
}
.itemUpload .progress {position:absolute;top:138px;width: 144px;height: 6px;}
.upload_form_previous {
  height: 32px;
  line-height: 32px;
  margin-top: 10px;
  padding-left: 0px;
  border-right: 1px #e4e4e4 solid;
  color: #4f4f4f;
}
.upload_form_price {
  margin-top: 6px;
  height: 40px;
  border: none;
}
#category,#delivery {
  margin-top: 16px;
}
.upload_inputCom {
  float: left;
  width: 100%;
  max-width: 442px;
  height: 56px;
  margin-bottom: 10px;
  border:1px #b9b9b9 solid;
  border-radius: 4px;
  padding: 0px 12px;
  font-size: 18px;
}
.upload_textArea {
  width: 100%;
  max-width: 442px;
  height: 190px;
  margin-bottom: 10px;
  border:1px #b9b9b9 solid;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 18px;
}

#description::-webkit-input-placeholder:after{
  font-size: 12px;
  content:"Add a quick description to sell faster (Optional): \A  1. Size: such as size 8 \A  2. How old: such as bought it in 2011 \A  3. Condition: such as Never Used \A  4. Problems: such as fully functional \A  5. Preferred payment: such as Paypal";
};
.upload_list_now {
  width: 199px;
  height: 44px;
  background: url("../../images/common/upload_list-now.png") no-repeat left center;
  border: none;
  margin-bottom: 40px;
}
.upload_myItem_head {
  width: 970px;
  margin-left: -55px;
  height: 88px;
  line-height: 88px;
  background: url("../../images/common/upload_my-items.png") no-repeat 40px center;
  background-color: #f8f8f8;
}
.itemUpload_list {
  margin-left: -40px;
  margin-right: 0px;
}
.upload_list_li {
  list-style: none;
}
.upload_list_item {
  height: 75px;
  line-height: 75px;
  font-size: 18px;
  border-bottom: 1px #b9b9b9 solid;
}
.upload_list_li:last-child .upload_list_item{
  border-bottom: 0px #b9b9b9 solid;
}
.upload_list_name {
  color: #000000;
  height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:    ellipsis;
}
.upload_list_price {
  color: #ff8830;
}
.upload_list_time {
  font-size: 16px;
  color: #818181;
}
.upload_list_img {
  width: 30px;
  height: 30px;
}
.upload_list_more {
  height: 75px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.upload_list_more_load {
  display: inline-block !important;
  margin-bottom: -3px;
  margin-left: 12px;
}

@media (max-width: @media-screen-tablet-max) {
}
@media (max-width: @media-screen-phone-max) {
  .itemUploadPage {
//    margin-top: 66px;
  }
  #category,#delivery {
    width: 130px;
  }
  .upload_form_price {
    width: 140px;
  }
  .upload_form_previous {
    font-size: 16px;
  }
  .upload_list_price,.upload_list_time {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:    ellipsis;
  }
}
@media (min-width: @media-screen-desktop-min){
  .itemUploadPage,.itemUpload {
    width: 970px;
  }
}