.mail-sub{
	background-color: #fafafa;
	h1{
		margin-top: 20px;
		margin-bottom: 0;
		padding-left: 15px;
		font-size: 30px;

	}
	.content{
		background-color: white;
	}
	.sub-content{
		padding: 14px;
	}
	.sub-content:nth-child(even){
		background-color: #fafafa;
	}
	.sub-title{
		font-size: 18px;
	}
	.btn-img{
		height: 31px;
		width: 68px;
		background: url("../../images/email/subscribe_button.png") no-repeat;
		background-size:68px;
		cursor: pointer;
	}
	.btn-img.off{
		background-position: 0 -31px;
	}
	#subscriptBtn{
		padding: 8px;
		margin: 40px 0 60px 0;
	}
	.notiList{
		border-top: 2px solid #f0f0f0;
	}
	@media (max-width: @media-screen-phone-max) {
		h1{
			font-size: 20px;
		}
	}
}