/*add angular css*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-hide{
  display: none !important;
}

/**
 * public style define
 */
@main-bg-color-orange: #ff8830;
@main-bg-color: #f8f8f5;
@social-bg-color: #efefef;
@footer-bg-color: #242424;
@info-title-color: #ff7b20;
@base-bg-orange: #ff8830;

@base-bg-waterfall: #f8f8f5;

@main-height-landscape: 507px;
@main-height-portrait: 747px;

@social-height: 204px;
@footer-height: 80px;

@media-screen-phone-max:767px;
@media-screen-min-phone-max:320px;
@media-screen-tablet-min:768px;
@media-screen-tablet-max:991px;
@media-screen-desktop-min:992px;


html, body {
  margin: 0;
  padding: 0;
  background-color: @main-bg-color;
  width: 100% !important;
  overflow-x: hidden !important;
}
a {
  text-decoration: none;
}
.bodyOrange {
  background-color: @main-bg-color-orange;
}
/* placeholder css reset*/

/*btn begin*/
.btn-orange {
  -moz-box-shadow: 1px 1px 5px 0px #a1641a;
  -webkit-box-shadow: 1px 1px 5px 0px #a1641a;
  box-shadow: 1px 1px 5px 0px #a1641a;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #cf5b08));
  background:-moz-linear-gradient(top, #ffc477 5%, #cf5b08 100%);
  background:-webkit-linear-gradient(top, #ffc477 5%, #cf5b08 100%);
  background:-o-linear-gradient(top, #ffc477 5%, #cf5b08 100%);
  background:-ms-linear-gradient(top, #ffc477 5%, #cf5b08 100%);
  background:linear-gradient(to bottom, #ffc477 5%, #cf5b08 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#cf5b08',GradientType=0);
  background-color:#ffc477;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #8f6521;
}
.btn-orange:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cf5b08), color-stop(1, #ffc477));
  background:-moz-linear-gradient(top, #cf5b08 5%, #ffc477 100%);
  background:-webkit-linear-gradient(top, #cf5b08 5%, #ffc477 100%);
  background:-o-linear-gradient(top, #cf5b08 5%, #ffc477 100%);
  background:-ms-linear-gradient(top, #cf5b08 5%, #ffc477 100%);
  background:linear-gradient(to bottom, #cf5b08 5%, #ffc477 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5b08', endColorstr='#ffc477',GradientType=0);
  background-color:#cf5b08;
}
.btn-orange:active {
  position:relative;
  top:1px;
}
.btn-disable, .btn-disable:hover, .btn-disable:active{
  background:none;
  background-color:#777777;
}

.btn_orange_border {
  background: none;
  max-width: 442px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px #fe8831 solid;
  border-radius: 3px;
  color: #fe8831;
}
.btn_orange_border:hover {opacity: 0.9;color: #fe8831;}


.spinner-wave {
  margin: 0 auto;
  width: 100px;
  height: 20px;
  text-align: center;
}
.spinner-wave > div {
  background-color: orange;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: wave 1.2s infinite ease-in-out;
  animation: wave 1.2s infinite ease-in-out;
}

.spinner-wave div:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-wave div:nth-child(3) {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-wave div:nth-child(4) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-wave div:nth-child(5) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes wave {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes wave {
  0%, 40%, 100% { transform: scaleY(0.4); }
  20% { transform: scaleY(1.0); }
}


/**load icon*/
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader-icon {
  background:none !important;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader-icon__gray {
  border-top: 2px solid rgba(255, 136, 48, 0.8);
  border-right: 2px solid rgba(255, 136, 48, 0.8);
  border-bottom: 2px solid rgba(255, 136, 48, 0.8);
  border-left: 2px solid #ffffff;
}
.loader-icon,
.loader-icon:after {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
/*btn end*/







