.my-message{
	
	.title{
		margin: 20px 0;
		img{
			float: left;
		}
		h1{
			margin: 0 35px;
			font-size: 24px;
		}
	}
	.msg-content{
		background-color: white;
		padding: 0 20px;
		font-size: 18px;
	}
	.message-item{
		padding: 20px 0;
		border-bottom: 1px solid #ccc;
	}
	.msg-pic{
		margin-top: 28px;
	}
	.msg-infos{
		margin: 22px 0;
		color: #808080;
		font-size: 16px;
	}
}
#messageLayout{
	background-color: #fafafa;
}
@media (max-width: @media-screen-tablet-max) {
  	.my-message {
  		.title h1{
    		font-size: 18px;
		}
		.message-item{
			padding: 8px;
		}
	}
}