.personPage {
  width: 100%;
  margin: 0px auto;
  background-color: #f8f8f6;
}
//common
.personPage .spinner-wave {position: absolute;left: 50%;margin-left: -50px;top:50%;margin-top: -10px;}
.personPage .item_modal_dialog {width: 600px;}
.personPage .item_modal_dialog .close {background: url("../../images/common/upload_delete.png") no-repeat center;}
.per_load_container {
  border: 1px #ececec solid;padding: 0px;background-color: white;min-height: 419px;
  padding-left: 0px;
  width: 100%;
}
.personCon {
  padding: 20px 0px;
}
.per-gray-btn {
  border:1px #dedede solid;
  max-width: 442px;
  width: 100%;
  height: 42px;
  line-height: 36px;
  font-size: 18px;
  border-radius: 4px;
  color: #fa9761;
  background: -webkit-linear-gradient(top, #fafafa 0%,#f4f4f4 100%); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #fafafa 0%,#f4f4f4 100%); /** FireFox **/
  background: -o-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);  /** Opear **/
  background: -ms-linear-gradient(#fafafa 0%,#f4f4f4 100%);  /** IE9 IE10 **/
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.per-orange-btn {
  border:1px #ff8830 solid;
  max-width: 442px;
  width: 100%;
  height: 42px;
  line-height: 36px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  background: -webkit-linear-gradient(top, #ffb843 0%,#ff7c2b 100%); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #ffb843 0%,#ff7c2b 100%); /** FireFox **/
  background: -o-linear-gradient(top, #ffb843 0%,#ff7c2b 100%);  /** Opear **/
  background: -ms-linear-gradient(#ffb843 0%,#ff7c2b 100%);  /** IE9 IE10 **/
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.per_fl_btn {
  position: relative;
  width: 100%;
  height:40px;
  line-height:40px;
  font-size:20px;
  text-align:center;
  margin: 0px auto;
  cursor: pointer;
}
.per-gray-btn::before {
  position: absolute;
  width: 150px;
  height: 30px;
  line-height: 26px;
  font-weight: normal;
  content: 'Follow';
  left: 50%;
  margin-left: -60px;
  top: 7px;
  background-image: url("../../images/person/follow.png");
  background-position: 10px top;
  background-repeat: no-repeat;
  background-size: 22px;
}
.per-orange-btn::before {
  position: absolute;
  width: 160px;
  height: 30px;
  line-height: 26px;
  font-weight: normal;
  content: 'Following';
  left: 50%;
  margin-left: -60px;
  top: 7px;
  background-image: url("../../images/person/following.png");
  background-position: 5px top;
  background-repeat: no-repeat;
  background-size: 22px;
}
.per-gray-btn:hover {opacity: 0.9;}

//per-info
.per_info_container {
  padding: 0px;

  width: 100%;
  }
.per_info_container_sub {background-color: white;border: 1px #ececec solid;padding: 0px;
  padding-top:16px;}
.per_info {color: #343434;margin-top: -10px;}
.per_info_left {}
.per_info_right {padding-left: 0px;padding-right: 0px;}
.per_portrait {display:block;width:82px;height:82px;border-radius: 41px;position: relative;}
.per_portrait_mix {position: relative;width: 82px;}
.per_portrait_mix::before {
  position:absolute;
  bottom:0px;
  right:0px;
  width: 26px;
  height: 26px;
  content: ' ';
  background: url("../../images/person/uv_help.png") no-repeat center center;
  background-size: 30px;
  border-radius: 15px;
  z-index: 9;
}
.per_portrait_mix_v::before {
  background: url("../../images/person/v_person.png") no-repeat center center;background-size: 26px;
}
.per_portrait_mix::after {
  content: "";
  border: 2px solid rgba(255, 136, 48, 0.6);
  height: 50px;
  width: 50px;
  position: absolute;
  top: -16px;
  left: 0px;
  border-radius: 25px;
}
.per_nick {font-size: 24px;margin:0;padding: 0px;line-height: 50px;}
//verification
.per_ver {font-size: 12px;}
.per_ver_btn {width: 30px;height: 30px;padding: 15px;margin: 0px 5px;}
.per_ver_btn_em {background: url("../../images/person/uv_mail.png") no-repeat center center;background-size: 30px;}
.per_ver_btn_em_v {background: url("../../images/person/v_mail.png") no-repeat center center;background-size: 30px;}
.per_ver_btn_fb {background: url("../../images/person/uv_fb.png") no-repeat center center;background-size: 30px;}
.per_ver_btn_fb_v {background: url("../../images/person/v_fb.png") no-repeat center center;background-size: 30px;}
.per_ver_btn_ph {background: url("../../images/person/uv_phone.png") no-repeat center center;background-size: 30px;}
.per_ver_btn_ph_v {background: url("../../images/person/v_phone.png") no-repeat center center;background-size: 30px;}
.per_ver_btn_hp {opacity:0.6;cursor:pointer;background: url("../../images/person/v_help.png") no-repeat center center;background-size: 24px;}
.per_ver_par {width: 100%;position: relative;margin-top: 10px;}
.per_ver_pop {
  width: 340px;
  background-color: #404848;
  border-radius: 6px;
  position: absolute;
  right: 0px;
  top: 32px;
  z-index: 99;
  padding: 0px;
}
.per_ver_pop_li:last-child {
  border-bottom: 0px #808080 solid;
}
.per_ver_pop::before {
  border: 8px solid transparent;
  border-bottom: 8px solid #3f4747;
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  right: 22px;
  content: ' ';
  z-index: 99;
}
.per_ver_pop_li {
  list-style: none;color: #c6c8c9;
  font-size: 16px;min-height: 60px;
  padding: 14px 12px 14px 60px;
  border-bottom: 1px #696d6f solid;}
.per_ver_pop_li-per {background: url("../../images/person/seller_profile_pop.png") no-repeat center center;background-size: 36px;background-position: 13px center;}
.per_ver_pop_li-em {line-height: 30px;background-position: 15px center;}
.per_ver_pop_li-fb {background-position: 15px center;}
.per_ver_pop_li-phone {background-position: 15px 20px;}
.per_ver_get {display: block;height: 36px;line-height:32px;width: 160px;text-align:center;
  margin-top:10px;margin-left:30px;color:gray;border: 2px gray solid;border-radius: 4px;text-decoration: none;}
.per_ver_get:hover,.per_ver_get:focus {color:gray;text-decoration: none;}

.per_ver_get-mb {color:#ff8830;border: 2px #ff8830 solid;display: none;}
.per_ver_get-mb:hover,.per_ver_get-mb:focus {color:#ff8830;}


.per_status_con {border-top: 1px #dddddd solid;padding:0px;margin: 0px;margin-top: 20px;
  border-bottom: 1px #f3f3f3 solid;background-color: #f7f8fa;}
.per_status {font-size: 14px;position: relative;padding:6px 0px;line-height: 20px;cursor: pointer;color: #000000;}
.per_display_status_mb {display: none;}
.per_display_status_pc {display: block;}
.per_status:hover {opacity: 0.8;}
.per_status-item {border-bottom:3px #fc6e51 solid;text-align: center;font-weight: normal;}
.per_status-follow {border-bottom:3px #48cfad solid;}
.per_status-follower {border-bottom:3px #ac92ec solid;}
.per_status-item.per_status--active {background-color: #fc6e51;color: white;}
.per_status-follow.per_status--active {background-color: #48cfad;color: white;}
.per_status-follower.per_status--active {background-color: #ac92ec;color: white;}
.per_status_rightBorder {position:absolute;right:0px;top:15px;height: 20px;border-right:1px #d2d2d2 solid;}
.per_status_sub {font-size: 14px;color: #959595;font-weight: normal;margin-top: -5px;}
.per_status--active .per_status_sub {color: white;}
.per_status--active .per_status_rightBorder {border: none;}



.per_status_group {border-top: 2px #242424 solid;
  background-color: white;
  float: right;
  width: 100%;
}
.per_status_group:last-child {border-bottom: 0px #cccccc solid;}
.per_status_line {
  font-size: 14px;
  position: relative;
  line-height: 48px;
  cursor: pointer;
  color: #000000;
  padding-right: 0px;
  width: 100%;
  padding-left: 15%;
  float: right;
}

.per_status_sub_line::after, .per_status_sub_line::before {
  border: 6px solid transparent;
  border-left: 6px solid white;
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  content: ' ';
}
.per_status_sub_line::before {
  border-left-color: #cccccc;
  top: 18px;
  right: 14px;
}
.per_status_line-item::before {
  position: absolute;
  content: '';
  left: 14px;
  top: 12px;
  width: 25px;
  height: 25px;
  background: url("../../images/person/icons.png") no-repeat left 0px;
  background-size: 50px;
}
.per_status--active.per_status_line-item::before {
  background: url("../../images/person/icons.png") no-repeat -25px 0px;
  background-size: 50px;
}
.per_status_line-like::before {
  position: absolute;
  content: '';
  left: 14px;
  top: 12px;
  width: 25px;
  height: 25px;
  background: url("../../images/person/icons.png") no-repeat left -25px;
  background-size: 50px;}
.per_status--active.per_status_line-like::before {
  background: url("../../images/person/icons.png") no-repeat -25px -25px;
  background-size: 50px;
}
.per_status_line-buy::before {
  position: absolute;
  content: '';
  left: 14px;
  top: 12px;
  width: 25px;
  height: 25px;
  background: url("../../images/person/icons.png") no-repeat left -50px;
  background-size: 50px;}
.per_status--active.per_status_line-buy::before {
  background: url("../../images/person/icons.png") no-repeat -25px -50px;
  background-size: 50px;
}
.per_status_line-follow::before {
  position: absolute;
  content: '';
  left: 14px;
  top: 12px;
  width: 25px;
  height: 25px;
  background: url("../../images/person/icons.png") no-repeat left -75px;
  background-size: 50px;}
.per_status--active.per_status_line-follow::before {
  background: url("../../images/person/icons.png") no-repeat -25px -75px;
  background-size: 50px;
}
.per_status_line-follower::before {
  position: absolute;
  content: '';
  left: 14px;
  top: 12px;
  width: 25px;
  height: 25px;
  background: url("../../images/person/icons.png") no-repeat left -100px;
  background-size: 50px;}
.per_status--active.per_status_line-follower::before {
  background: url("../../images/person/icons.png") no-repeat -25px -100px;
  background-size: 50px;
}
.per_status_sub_line {height:48px;border-bottom: 1px #cccccc solid;position: relative;}
.per_status_sub_noborder {border-bottom: none;}
.per_status_sub_topborder {border-top: 1px #cccccc solid;}
.per_status--active .per_status_sub_line {color: #ff8830;}
.per_status_line_count {position: absolute;right: 40px;top: 0px;}



.per_miles_marker {padding: 8px;margin-right: 6px;
  background: url("../../images/person/location.png") no-repeat center center;background-size: 15px;}
.per_miles {font-size: 24px;margin: 16px 0px;margin-left: -18px;}
//follow
.per_fl {margin-top: 20px;}
.per_fl_load {
  width: 16px;height: 16px;display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 25%;
}
//manage profile in app
.per_manage {cursor:pointer;height: 40px;width: 100%;line-height:36px;font-size:18px;font-weight:200;background: #f8f8f6;
  color:#ff8830;border-radius:4px;border: 1px #ff8830 solid;text-align: center;margin-top: 6px;}
.per_manage:hover {opacity: 0.8;}
//view more
.per_view_more {display:none;text-align: center;height: 40px;line-height:40px;color: #818181;border-top: 1px #dddddd solid;margin-top: 20px;margin-bottom: -20px;}
.per_view_more:active {background-color: #fa9761;color:white;}
//map
.per_map {width: 100%;padding: 0px;position: relative;min-height: 0px;}
.per_map_tip {height: 50px;line-height: 50px;font-size:20px;text-align:center;background-color: #fafafc;}
.per_map_tip-mb {min-height: 36px;font-size:20px;text-align:center;display: none;}
.per_map_con {height: 99px;width: 100%;position: relative;cursor: pointer;}
.per_map_img {
  position: relative;
  height: 99px;
}
.per_map_mapcircle {
  background-color:#5f78f7;
  opacity:0.5;
  height:80px;
  width:80px;
  border-radius:40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
}


//items container
.per_items {margin-top: 14px;display:none;min-height: 350px;float: left;padding:0px;width: 100%;padding-bottom: 15px;padding-left: 5px;position: relative;}
.per_items_null {}
.per_item {}
.per_no_items {display:none;position:absolute;left:50%;top:50%;;width:244px;height:244px;margin-left:-122px;margin-top:-120px;
  background: url("../../images/person/no-items-right-now244.png") no-repeat center center;background-size: 240px;}
.per_no_following {display:none;position:absolute;left:50%;top:50%;;width:244px;height:244px;margin-left:-122px;margin-top:-120px;background: url("../../images/person/no-following-right-now244.png") no-repeat center center;background-size: 244px;}
.per_no_follower {display:none;position:absolute;left:50%;top:50%;;width:244px;height:244px;margin-left:-122px;margin-top:-120px;background: url("../../images/person/no-followers-right-now244.png") no-repeat center center;background-size: 244px;}
.per_items_null .per_no_items {display:block;}

.per_no_flag {display: none;
  width: 500px;
  margin: 0px auto;}
.per_no_items_pro {
  height: 100px;
  width: 100%;
  background: url("../../images/person/jumper.png") no-repeat center center;background-size: 240px;margin-top: 78px;}
.per_no_items_pro_tip {color: #818181;font-size: 14px;margin-top: 0px;text-align: center;}
.per_no_flag_show_pc {display: block}
.per_no_flag_show_mb {display: none;}
.per_no_flag_btn {height: 40px;line-height:36px;width: 184px;color: #242424;
  font-size:16px;font-weight: bold;
  border: 1px #ff8830 solid;border-radius: 6px;margin: 10px auto;}

.per_item_img {max-width: 180px;height: 230px;border-radius: 4px;border:1px #c9c9c9 solid;display: block;position: relative;}
.per_item_sub {line-height: 18px;font-size: 14px;margin-bottom: 42px;margin-top: 11px;}
.per_item_title {
  font-family: 'Helvetica Regular';
  color: #000000;height: 36px;
  line-height: 18px;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;}
.per_item_price {color: #ff8830;font-family: 'Helvetica Bold'}
.per_item_a,.per_item_a:hover {text-decoration: none;}

.per_item_more {height: 44px;line-height:44px;cursor:pointer;color: #ff8830;width: 100%;text-align: center;float: left;}
.per_item_more:hover {text-decoration: underline;}

//following
.per_following {float:left;padding-bottom: 15px;width: 100%;padding:0px 24px;}
.per_following_sub {
  position: relative;
  float: left;
  width: 100%;
  min-height: 20px;
}
.per_following_sub:before {
  content: "";
  height: 2px;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 9;
}
.per_following_item {
  margin-top: 15px;
  padding-left: 0px;
  padding-right: 15px;
  border-bottom: 1px #cccccc solid;
}
.per_item_line {height: 1px;background-color: red;width: 100%;}
.per_thumb {width: 50px;display: inline;}
.per_thumb.per_portrait_mix::before {
  background: none;

}
.per_thumb.per_portrait_mix_v::before {
  background: url("../../images/person/v_person.png") no-repeat center center;background-size: 20px;
  bottom: -20px;
  right: -5px;
}
.per_portrait_mix_img::after {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 82px;
  width: 82px;
  content: ' ';
  border-radius: 41px;
  border:4px solid rgba(255, 136, 48, 0.6);
}
.per_item_par {
  height: 80px;
  padding: 0px;
  margin-top: 20px;
}
.per_item_par_sub {}
.per_item_right {padding: 0px; text-align: center;margin: 14px 0px 30px 0px;}
.nounderline:hover,.nounderline:active {text-decoration: none;}
.per_item_name {color: #000000;white-space: nowrap;
  width: 110px;
  height: 20px;
  display:inline-block;
  overflow: hidden;
  text-overflow: ellipsis;}
//follower
.per_follower {float:left;padding-bottom: 15px;width: 100%;padding:0px 24px;}
.fer_portrait {width: 50px;height: 50px;border-radius: 30px;}

//reset send phone nuber
.personPage #sms_link_country {border: none;}
.personPage .home_phone_input {width: 200px;}
.personPage .download-btns {width: 340px;margin: 0px auto;margin-top: 20px;}
.personPage .home_phone_sendLink {position:relative;border: 1px #cccccc solid;display: inline-block;height: 32px;}

.personPage .cross {background: none;width: 32px;height: 32px;}
/* ------------------------
  media queries overriding default styles
 */

@media screen and (max-width: @media-screen-tablet-max) {
  .personCon {padding: 0px;}
  .per_display_status_mb {display: block;}
  .per_display_status_pc {display: none;}
  .per_load_container {border: none;}
  .per_info_container {border: none;}
  .per_map_tip {display: none;}
  .per_map_con {display: none;}
  .per_map_tip-mb {display: block;background: none;
    min-height: 36px;
    text-align: left;}
  .per_ver_btn {margin: 0px 3px;}
  .per_ver_pop {width: 310px;right: 5px;}
  .per_ver_pop::before {
    right: 7px;
  }
  .per_ver_pop_li {font-size: 14px;}

  .per_portrait {
//    width: 74px;
//    height: 74px;
  }
  .per_thumb.per_portrait_mix::after {
    height: 40px;
    width: 40px;
    top: -11px;
    border-radius: 20px;
  }
  .per_view_more {display: block;}
  .per_manage {display: none;}

  .per_ver_get-pc {display: none;}
  .per_ver_get-mb {display: block;}
  // following
  .per_following,.per_follower {padding: 0px 15px;}
  .per_following_item {
    margin: 0px;
    padding: 0px 0px;
    border-bottom:1px  #eeeeee solid;
  }
  .per_item_par {
    border: none;
    background: none;
    height: 60px;
    padding: 10px 0px;
    margin: 0px;
    position: relative;
  }
  .per_item_par:after, .per_item_par:before {
    border: 8px solid transparent;
    border-left: 8px solid white;
    width: 0;
    height: 0;
    position: absolute;
    top: 22px;
    right: -4px;
    content: ' ';
  }
  .per_item_par_sub {text-align: left;}
  .per_portrait_mix_v::before {
    background-size: 24px;
  }
  .per_item_par:before {
    border-left-color: #000000;
    top: 22px;
    right: -5px;
  }
  .per_thumb {margin-left: -15px;}
  .per_thumb.per_portrait_mix_v::before {right: 0px;}
  .fer_portrait {width: 40px;height: 40px;}
  .per_item_right {
    text-align: left;
    font-size: 16px;
    margin: 10px 0px;
    margin-left: -40px;
  }
  .per_no_flag {width: 300px;}
  .per_no_flag_show_pc {display: none}
  .per_no_flag_show_mb {display: block;}
}
@media (max-width: @media-screen-phone-max) {
}
@media (min-width: @media-screen-tablet-min) {

}
@media (min-width: @media-screen-desktop-min){
  .personPage {
    padding-bottom: 30px;
  }
  .personPage .personCon {
    width: 992px;
  }
  .per_load_container {width: 600px;float: right;}
  .per_info_container {width: 360px;}
  .per-orange-btn:hover.per-orange-btn::before {
    background: none;
    width: 120px;
    content: 'Unfollow';
    opacity: 1;
  }
}