.layout_home{
	background-color: white;
}
.certification{
	margin: 46px auto;
	.get-txt{
		font-size: 18px;
		color: #42b6c8;
		margin-bottom: 38px;
	}
	.go-root{
		margin-top: 34px;
		a{
			text-decoration: underline;
			font-size: 16px;
			color: #818181;
		}
	}
	.download-link div{
		margin-top: 10px;
	}
}