.sell_display {
  background-color: white;
  .description{
    color: #000000;
    margin-top: 100px;
    text-shadow: none;
    font-size: 34px;
    .sell_des_sub {font-size: 18px;margin: 20px 0px;}
  }
  .phone{
    margin-top: 40px;
    padding-left: 60px;
  }
  .send-link {margin-left: 0px;}
  .home_phone_input {width: 260px;}
  .home_phone_send {margin-left: -5px;}
  #phone {border: 1px #eeeeee solid;}
  @media screen and (max-width: 767px) {
    .main-content {padding-top: 20px;}
    .description{
      margin-top: 20px;
      font-size: 20px;
    }
    .send-link {display: none;}
    .phone{
      padding: 0px;
    }
  }
}
@media screen and (max-width: 767px) {
  .sellMb .searchBlock_par {background: white;border-bottom: 1px #818181 solid;}
  .sellMb .searchBlock_logo {height: 24px;margin-top: 0px;}
.sellMb .banner_logo_top {
  position: absolute;
  position: absolute;
  left: 50px;
}
.sellMb .categoryMb_icon {
  position: relative;
  left: 0px;
  display: block;
  background-position: left;
  background-size: 50px;
}
.sellMb .banner_login_split_mb {
  height: 0px;
  padding: 6px 0px;
  top: 20px;
  left: 8px;
}
.sellMb .banner_login_mb_down {
}
}
.sellMb_body {
  width: 100%;
  background-color: white;
}
.sellMb_sologan {
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  background-color: white;
  font-size: 50px;
  line-height: 60px;
  letter-spacing:-1px;
  color: #242424;
  background: url("../../images/sell/banner-bg.png") no-repeat center top;
  background-size: 100%;
}
.sellMb_tip {width:100%;text-align:center;font-size: 12px;color: #b2b2b2;margin-bottom: 15px;padding: 0px 20px;}
.sellMb_sellBanner {width: 100%;text-align: center;padding: 6px 0px;}
.sellMb_sellBanner-fixed {position: fixed;left: 0px;top: 0px;background-color: white;  z-index: 102;
box-shadow: 0px 3px 3px rgba(185,185,185,0.6);
}
.sellMb_sellBanner_hide-ative {height: 50px;width: 100%;}
.sellMb_sellBtn {font-size: 16px;color: white;border:none;background-color: #ff8a30;
  border-radius: 4px;width: 188px;height:38px;margin: 0px auto;}
.sellMb_title_how {
  height: 38px;
  width: 100%;
  background: url("../../images/sell/how-to-sell-something.png") no-repeat left center;
  background-color: #f8f9f6;
  background-size: auto 20px;
}
.sellMb_info {
  margin-top: 28px;
}
.sellMb_info_block {
  width: 320px;
  margin: 0px auto;
}
.sellMb_block_img1 {
  width: 267px;
  height: 200px;
  margin: 0px auto;
  background: url("../../images/sell/step.png") no-repeat center;
  background-size: 267px;
  background-position: 0px 0px;
}
.sellMb_block_img2 {
  width: 267px;
  height: 180px;
  margin: 0px auto;
  background: url("../../images/sell/step.png") no-repeat center;
  background-size: 267px;
  background-position: 0px -320px;
}
.sellMb_block_img3 {
  width: 267px;
  height: 160px;
  margin: 0px auto;
  background: url("../../images/sell/step.png") no-repeat center;
  background-size: 267px;
  background-position: 0px -600px;
}
.sellMb_block_title {width: 100%;text-align: center;font-size: 12px;color: #242424;margin: 10px 0px 10px 0px;padding: 0px 20px;}
.sellMb_block_spot {width: 100%;text-align:center;font-size: 20px;color: #ff8830;margin-top: 20px;}
.sellMb_block_more {width: 100%;text-align:center;font-size: 10px;color: #ff8830;position: relative;padding-right: 15px;}
.sellMb_block_more:after {
  border: 4px solid transparent;
  border-top: 4px solid #fe892f;
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
  margin-left: 6px;
  content: ' ';
  z-index: 101;
}
.sellMb_block_more-less:after {
  border-top: 0px solid #fe892f;
  border-bottom: 4px solid #fe892f;
}
.sellMb_more_body {
  display: none;
  width: 100%;
  color: #b2b2b2;
  font-size: 12px;
  padding:0px 8px;
}
.sellMb_recommend {margin-top: 30px;}
.sellMb_recommend_title {font-size: 20px; text-align:center;color: #242424;width: 100%;margin-bottom:30px;}
.sellMb_recommend_body {width: 320px;height:911px;margin: 0px auto;
  background: url("../../images/sell/our-customers-love-us.png") no-repeat center;
  background-size: 320px;
}
.sellMb_read {width: 100%;font-size: 10px;color: #242424;text-align: center;margin: 44px 0px 38px 0px;}
.sellMb_read_link {color: #fe892f;text-decoration: underline;}
.sellMb_contact {
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
  border-top: 1px #bbbbbb solid;
}
.sellMb_contact_block {padding: 0px;margin: 0px;}
.sellMb_contact_item {
  height: 50px;line-height: 50px;
  list-style: none;font-size: 14px;
  color: #242424;border-bottom: 1px #cbcbcb solid;}
.sellMb_contact_social {
  height: 70px;line-height: 70px;
  color: #242424;
}
.sellMb_social {
  padding: 7px 15px;
  margin: 0px 6px;
  height: 28px;
  background: url("../../images/sell/social.png") no-repeat left top;
  background-size: 141px;
}
.sellMb_social_facebook {

}
.sellMb_social_twitter {
  background-position: -38px 0px;
}
.sellMb_social_google {
  background-position: -76px 0px;
}
.sellMb_social_instargram {
  background-position: -114px 0px;
}

.sellMb_info_left {
  float: left;
  width: 135px;
  height: 118px;
}
.sellMb_downApp {
  height: 38px;
  width: 100%;
  background: url("../../images/sell/button-left.png") no-repeat left top;
  background-size: 135px 118px;
}
.sellMb_downApp_info {
  height: 80px;
  width: 100%;
  background: url("../../images/sell/button-left.png") no-repeat left -38px;
  background-size: 135px 118px;
}
.sellMb_info_mid {
  float: left;
  width: 20px;
  height: 118px;
  background: url("../../images/sell/or.png") no-repeat center;
  background-size: 15px 118px;
}
.sellMb_info_right {
  float: left;
  width: 135px;
  height: 118px;
  background: url("../../images/sell/button-right.png") no-repeat center;
  background-size: 135px 118px;
}

.sellMb_upload {
  height: 38px;
  width: 100%;
  background: url("../../images/sell/button-right.png") no-repeat left top;
  background-size: 135px 118px;
}
.sellMb_upload_info {
  height: 80px;
  width: 100%;
  background: url("../../images/sell/button-right.png") no-repeat left -38px;
  background-size: 135px 118px;
}
.sellMb_title_feed {
  height: 38px;
  width: 100%;
  background: url("../../images/sell/5milers-feedback.png") no-repeat left center;
  background-color: #f8f9f6;
  background-size: auto 17px;
}
.sellMb_title_feed_body {
  height: 358px;
  width: 100%;
  background: url("../../images/sell/feedback.png") no-repeat center;
  background-color: white;
  background-size: 320px 358px;
}