/**
 * reset the footer
 */
//#homeLayout .footer {background-color:#f8f8f8;}

.fixed1080 {max-width: 1080px;margin: 0px auto;}
/**
 * search nav
 */
.searchNavBack {width: 100%;background-color: #f8f8f5;}
.searchNav {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
}
.searchNav_home {color: #000000;}
/**
 * waterFall
 */
.waterCon_preLoad {width: 0px;position: absolute;margin-top: -999px;}
.waterBack {width: 100%;position:relative;min-height:600px;background-color: @base-bg-waterfall;}
.waterCon {position:relative;height: 0px;overflow:hidden;padding:0px 0px 0px 0px;}
.masonry {margin: 0px auto;}
.waterCon_city_block {width: 100%;min-height: 64px;line-height:64px;
  font-size:16px;color:#242424;margin-left: 14px;}
#pac-input {
  background-color: #fff;
  padding: 0 30px 0 13px;
  width: 200px;
  height: 35px;
  line-height: 35px;
  font-family: Helvetica Regular;
  font-size: 16px;
  margin-left: 10px;
  text-overflow: ellipsis;
  border:1px #cfcbc8 solid;
  border-radius: 2px;
  -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.2) inset;               /* For Firefox3.6+ */
  -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.2) inset;            /* For Chrome5+, Safari5+ */
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);                    /* For Latest Opera */
}

#pac-input:focus {
  margin-left: 9px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 201px;
  outline:#f2ddcd Solid 1px;
}

.waterCon_city {
  display: inline-block;
}
.waterCon_loc {
  position: relative;
  margin: 0px;
  display: inline-block;
}
.waterCon_loc_pos {
  position: absolute;
  right: 0px;
  top: 20px;
  height: 28px;
  padding: 0px 14px;
  border-left: 1px #e3e3e1 solid;
  background: url('../../images/icons/home_position.png') no-repeat center center;
  background-size: 10px;cursor: pointer;}
.waterCon_loc_pos-load {
  background: url('../../images/icons/icon_loader.gif') no-repeat center center;
  background-size: 16px;
}
.waterCon_filter {}
.waterCon_order {float:right;height: 35px;width: 160px;background-color:white;position: relative;
  font-size: 18px;line-height: 32px;margin:16px 14px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);}
.waterCon_distance {margin-right: 36px;}
.waterCon_order_select {font-size: 16px;padding-left: 12px;cursor: pointer;width: 100%;
  height: 35px;
  display: block;
  border:1px #cccccc solid;
  -moz-box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 0.2);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 0.2);
  box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 0.2);
  background: -webkit-linear-gradient(top, #fefefe 0%,#fafafa 50%,#f6f6f6 80%,#f3f3f3 100%); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%); /** FireFox **/
  background: -o-linear-gradient(top, #ffc566 0%,#ffc566 1%,#ff9f39 50%,#ff8a31 80%,#ff7c2b 100%);  /** Opear **/
  background: -ms-linear-gradient(#ffc566 0%,#ff7c2b 100%);  /** IE9 IE10 **/
}
.waterCon_order_select-active {
  background: none;
}
.waterCon_order:before {
  cursor: pointer;
  border: 6px solid transparent;
  border-top: 6px solid #000000;
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  content: ' ';
}
.waterCon_order_select:after {
  border-right: 1px solid #d2d2cf;
  width: 0;
  height: 24px;
  position: absolute;
  top: 6px;
  right: 40px;
  content: ' ';
}
.waterCon_order_select-active.waterCon_order_select:after {
  display: none;
}
.waterCon_order_list {
  position: absolute;
  width: 160px;
  border:1px #cccccc solid;z-index: 9;
  background-color: white;
  top: 34px;
  left: 0px;
  span {
    height: 35px;
    font-size: 16px;
    width: 100%;
    display: block;
    padding-left: 12px;
    border-bottom:1px #cfcbc8 solid;
    cursor: pointer;
  }
  span:hover {
    background-color: #f0f0f0;
  }
  .wc_last {border-bottom: none;}
}
.waterCon_none {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
.waterCon_none_jumper {
  height: 40px;
  width: 100%;
  padding: 100px 0px 20px;
  background: url('../../images/person/jumper.png') no-repeat center center;

}

.waterItem {margin-bottom: 10px;box-shadow: 1px 1px 2px #cccccc;background-color: white;
  position: absolute;
  left: -9999px;
}
.waterItem .waterItem_state {
  margin-left: -44px;
  margin-top: -44px;
  background-size: 88px;
  width: 88px;
  height: 88px;}
.waterItem.w2 { }
.waterItemImg_par {position: relative;}
.waterItemImg {}
.waterItemInvisible {
}
.waterItem_new {
  padding: 24px;
  position: absolute;
  right: 6px;
  top: -46px;
  background: url('../../images/home/item-new.png') no-repeat center center;
  background-size: 48px;
}
.waterItem_info {position: relative;}
.waterItem_title {
  border-bottom: 1px #e3e3e3 solid;
  padding: 6px;
  word-wrap:break-word;
}
.waterItem_title_a {color: #242424;font-size: 14px;}
.waterItem_distance {padding: 0px 6px;text-align:left;font-size: 12px;line-height: 26px;}
.waterItem_distance_con {position: relative;}
.waterItem_distance_pos {padding:6px 0px 6px 17px;
  background: url('../../images/icons/home_position.png') no-repeat left center;
  background-size: 10px;}
.waterItem_price {font-weight: bold;line-height: 18px;min-height:24px;padding: 0px 6px;color: #242424;}
.waterItem_price_now {margin-right: 8px;line-height: 24px;}
.waterItem_price_org {text-decoration:line-through;color: #818181;font-weight: normal;}

.waterItem_load {position:relative;height: 100px;width:100%;line-height: 50px;padding:20px 0px 40px 0px;text-align: center;background-color: @base-bg-waterfall;}
.waterItem_loader {width: 50px;height: 50px;background: url('../../images/icons/icon_flea_load.gif') no-repeat center center;margin: 0px auto;}
.waterItem_more {width: 200px;margin: 0px auto;cursor: pointer;font-size: 20px;}
.waterItem_more_span {text-decoration: underline;color: #b0b0b0;}
.waterItem_more_span:hover {color: #000000;}
.waterItem_top_par {position: fixed;right: 20px;bottom: 80px;z-index: 99;cursor: pointer;}
.waterItem_top {position:relative;width: 40px;height: 40px;background-color: #eaeaea;}
.waterItem_top:before {
  cursor: pointer;
  border: 10px solid transparent;
  border-bottom: 10px solid #cccccc;
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  right: 10px;
  content: ' ';
}
.waterItem_top:after {
  border: 10px solid transparent;
  border-bottom: 10px solid #eaeaea;
  width: 0;
  height: 0;
  position: absolute;
  top: 5px;
  right: 10px;
  content: ' ';
}
.waterItem_top_par:hover .waterItem_top {
  background-color: #CDCDC6;
}
.waterItem_top_par:hover .waterItem_top:before {
  border-bottom: 10px solid white;
}
.waterItem_top_par:hover .waterItem_top:after {
  border-bottom: 10px solid #CDCDC6;
}

@media screen and (max-width: 420px) {
//  .waterCon {padding-left: 10px;}
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: @media-screen-tablet-max) {
  .home_display {height: 300px;}
  .fixed1080 {width: 100%;margin: auto;}
  .waterCon {padding-left: 6px;}
  .waterCon_order {display: none;}
  .waterCon_city_block {
    line-height: 44px;
    margin-bottom: 20px;
    margin-left: -6px;
    text-align: center;
    .waterCon_city {
      margin-bottom: 0px;
    }
    #pac-input {
      margin-bottom: 0px;
    }
  }
  #pac-input {width: 260px;}
  #pac-input:focus {
    width: 261px;
  }
  .waterCon_loc_pos {
    top: 10px;
  }
  .waterItem .waterItem_state {
    background-size: 48px;
  }
  .waterItem_top_par {display: none !important;}
}

