<!DOCTYPE html>
<html>
<head>
    <title>Send SMS</title>
    <% include ../head.ejs %>
    <style>
        html, body {background-color: white;}
        .container {padding-left: 0px;}
        .send-link {margin-bottom: 0px;}
        .form-group {margin-bottom: 0px;}
        .send-tip {position: relative;margin: 0px auto;top: 0px;}
        .msg_pre_tip {text-align: left;width: 408px;margin: 0px auto;color: #808080;}
        .msg_textarea {width: 408px;}
        .msg_click {min-height: 60px;line-height: 40px;margin-top: 20px;}
        .msg_send {margin: 50px;background-size: 100px;padding: 50px;}
        .send-tip-ok {color: #008000;}
        .sell_display .home_phone_send {margin-left: 40px;}


        @media screen and (max-width:767px) {
            .container {padding-right: 0px;padding-left: 15px;}
            .sell_display .send-link {display: block;}
            .sell_display #phone {width: 150px;margin-left:4px;}
            #sms_link_country {border-right: 1px #eeeeee solid;}
            .msg_textarea,.msg_pre_tip {width: 208px;}
            .sell_display .home_phone_send {margin-left: 40px;}
            .send-tip {line-height: 24px;}
        }
    </style>
</head>

<body ng-app="app" id="sellLayout" ng-init="nowPage = 'SELL'"  class="layout_home _gaPageView" data-pageview="sell_view" >
<% include msg.ejs %>

<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>
<script src="/js/dependencies/jquery.cookie.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/jquery.smartbanner.js"></script>
<script src="/js/dependencies/Autocomplete.js"></script>
<script src="/js/app.js"></script>
<script>
    function setAutoInput(str) {
        $.cookie("5__msg",str,{"path":"/","expires":730});
    }
    function getAutoInput() {
        return $.cookie("5__msg");
    }
    $(document).ready(function() {
        var downloadText = "Download the 5miles app here: https://5milesapp.com/download to open mobile marketplace!";
        if (getAutoInput()) {
            downloadText = getAutoInput();
        }
        $("#msg").val(downloadText);
        //send email and phone
        $('.btn-send').on('click', function(e) {
            function filterCountryCode(str) {
                var arr2 = str.split("(+");
                if (arr2[1]) {
                    var arr = arr2[1].split(")");
                    return ("+"+arr[0]);
                }
                return null;
            }
            var data, dest, input, type;
            input = $("#phone");
            dest = $("#phone").val();
            type = $("#msg").val();
            data = {
                dest: dest,
                msg: type
            };
            if (dest !== '' && type !== '') {
                //before process
                    $("#phoneTip").removeClass("send-tip-ok").html("");
                    //validate
                    var countryCodeStr = $("#sms_link_country option:selected").html();
                    var countryCode = filterCountryCode(countryCodeStr);
                    if (!countryCode) {
                        $("#phoneTip").html("Please select country code !");
                        return false;
                    }
                    var emailExp = /^[0-9]*$/;
                    if(!emailExp.exec(dest)){//validate for phone
                        $("#phoneTip").html("Please check your number!");
                        return false;
                    } else  {
                        $("#phoneTip").html("");
                    }
                    //prevent too much times click
                    if (false) {
                        $("#phoneTip").html("Please try again after 1 minute !");
                        return true;
                    } else {
                        $("#phoneTip").html("");
                        $("#phoneTip").data("phoneSendFlag","true");
                        setTimeout(function() {
                            $("#phoneTip").data("phoneSendFlag","false");
                            $("#phoneTip").html("");
                        }, 60000);
                    }
                    data.dest = countryCode + data.dest;
                //phone || email ,send message and params
                setAutoInput(type);
                $.post('/@messageserv', data, function(result) {
                    if (result.success) {
                        input.val('');
                        $("#phoneTip").addClass("send-tip-ok").html("Already sent.");
                    } else {
                        $("#phoneTip").html("Sent failure.");
                        setTimeout(function() {
                            $("#phoneTip").html("");
                        },3000);
                    }
                });
            } else if (dest.trim() == '') {
                $("#phoneTip").html("Please input a phone number!");
            }
        });

    });
</script>

<% include ../footer.ejs %>
</body>
</html>

