<% include ../pub/banner.ejs %>
<div class="certification container _gaPageView" data-pageview="verifyemail_view" >
	<div class="row">
		<div class="col-md-6 col-md-offset-3 txt-center">
			<img src="/images/registration/<%=type%>.png" alt="Success verify" width="100%">
			<div class="get-txt text-center">Get 5miles App</div> 
		</div>
	</div>
	<div class="row download-link text-center">
		<%if(!os.Android){%>
        <div class="col-md-3 col-md-offset-3">
            <a target="_blank" href="<%=down[1]%>" ng-click="homeAppleStore($event)">
                <img src="/images/buttons/btn_apple_app.png">
            </a>
        </div>
        <%}%>
        <%if(!os.IOS){%>
        <div class="col-md-3">
            <a target="_blank" href="<%=down[0]%>" ng-click="homeGoogleStore($event)">
                <img src="/images/buttons/btn_google_play.png">
            </a>
        </div>
        <%}%>
	</div>
	<div class="row text-center go-root">
		<a href="/">See new items near you.</a>
	</div>
</div>